div(:class="`${pre}`")
  span(:class="[`${pre}__value`]") {{item.value}}
  div(:class="`${pre}__actions`")
    div(:class="[`${pre}__icon`, `${pre}__delete`]" @click="onRemove")
      er-icon(name="close" width="14px" height="14px" )
    template(v-if="item.id && item.id.length")
      div(
        :class="[`${pre}__icon`, `${pre}__preference`, { 'is-prefer': isPrefer }]"
        @click="onPrefer(item.id)"
      )
        er-icon(name="pin" width="14px" height="14px")

    ErActivationModal(
      v-model="isShowModal"
      type="info"
      title="Внимание!"
      :is-show-action-button="false"
      cancel-button-text="Закрыть"
    )
      template(v-slot:description)
        | Данный номер телефона или адрес эл. почты используется, как предпочтительный для связи с Вами.&nbsp;
        | Для того, чтобы удалить данный номер телефона/адрес эл. почты, необходимо установить новый.
