.telephony-blacklist-page
  .telephony-blacklist-page__content.main-content--top-menu-fix
    er-page-header(
      linkText="Назад в Телефонию"
      title="Чёрный список"
      backlink="/lk/telephony"
    )
    ListPointComponent(:list="addressList" v-model="currentAddress" :isLoading="isLoading")
  
  
  template(v-if="isLoadingPhones")
    .telephony-blacklist-page__phones
      blackListCard(:isLoading="isLoadingPhones")
      blackListCard(:isLoading="isLoadingPhones")
      blackListCard(:isLoading="isLoadingPhones")
  
  
  template(v-if="!isLoading && blackList.length && !isLoadingPhones")
    .telephony-blacklist-page__phones
      blackListCard(v-for="item in blackList" :data="item" :key="item.id" @update="update")
      .telephony-blacklist-page__button
        er-button(color="blue" v-if="freePhonesList.length && !isConnectNewBlackList" @click="isConnectNewBlackList = true") Добавить черный список
  template(v-if="isConnectNewBlackList && !isLoadingPhones")
    .telephony-blacklist-page__content.main-content--top-menu-fix
      h2 Новый черный список на номер:
      div(class="telephony-blacklist-page__number-selector")
        ert-select(
          :items="freePhonesList"
          item-value="id"
          item-text="phone"
          label="Номер"
          hideDetails
          v-model="selectedNewPhones"
        )
      template(v-if="selectedNewPhones && newBlackList.length")  
        b.ml-md-24 Заблокировать номера
        div(class="telephony-blacklist-page__list")
          div(class="telephony-blacklist-page__list__item" v-for="phone in newBlackList" :key="phone")
            div {{ phone }}
            div(class="delete-icon" @click="deleteNumber(phone)")
              er-icon(name="trashbox")
    
      div Звонящий вам услышит в телефонной трубке фразу: «<b>Абонент просил не беспокоить</b>»
      div(class="telephony-blacklist-page__add-wrapper" v-show="selectedNewPhones")  
        div(class="telephony-blacklist-page__number-input")
          ert-text-field(
            v-model="newNumber"
            :rules="phoneRule"
            :is-show-success="true"
            label="Введите номер телефона"
            ref="black-list-phone"
            )
        .button
          er-button(@click="addPhoneToBlock" :disabled="!newNumber") Добавить запись

      .telephony-blacklist-page__plug__button
        er-button(:disabled="!selectedNewPhones || !newBlackList.length" @click="plugBlackList" :loading="creatingOrder") Добавить черный список
        er-button(flat v-if="blackList.length" @click="isConnectNewBlackList=false") Отмена
  
  er-activation-modal(
    type="question"
    v-model="isShowModal"
    title="Вы уверены, что хотите подключить на номере услугу черный список?"
    @confirm="sendOrder"
    @close="cancelOrder"
    :isLoadingConfirm="sendingOrder"
    actionButtonText="Подключить"
  )
  er-activation-modal(
    type="error"
    v-model="isShowErrorModal"
    title="Ошибка"
    cancel-button-text="Закрыть"
    :isShowActionButton="false"
  )
    template(slot="description")
      div Уважаемый Клиент, в данный момент операция не доступна, обратитесь к персональному менеджеру
  er-activation-modal(
    type="success"
    v-model="isShowSuccessModal"
    title="Заказ создан успешно"
    :isShowActionButton="false"
    cancel-button-text="Спасибо"
  )
    template(slot="description")
      | Заказ создан успешно. Выполнение заказа может занять некоторое время. Актуальный статус можно узнать в разделе Заказы.
  
      