// Operations

er-row(no-gutters)
  div(:class="`${pre}`")
    div(:class="`${pre}__content`", @click="active_internet")
      div(:class="`${pre}__icon ${pre}__icon__${iconBg}`")
        er-icon(:name="item.icon")
      div.mb-8.d--flex.align-items-center(:class="`${pre}__data`")
        h4(:class="`${pre}__data__dm`")
          | {{ item.date }}
        h4(:class="`${pre}__data__yy`")
          | {{ item.year }}
        div.caption(:class="`${pre}__data__yy-mob`")
          | 20{{ item.year }}
      div(:class="`${pre}__time`")
        | {{ item.time }}
      div(:class="`${pre}__wrapper ${pre}__wrapper__${wrapper}`")
        div.d--flex.justify-content-between(:class="`${pre}__info`")
          h4(:class="`${pre}__title`")
            | {{ item.title }}
            div(
              v-if="item.link"
              :class="`${pre}__toggle--desktop`"
            )
              er-icon(:name= "arr_direct")
              a {{ item.descr }}
            div(
              v-else
              :class="`${pre}__message`",
            )
              | {{ item.descr }}
          div(:class="`${pre}__price`")
            div.mb-8.d--flex.align-items-center
              h2(:class="`${pre}__price__value ${pre}__price__value__${color}`")
                | {{ item.value }}&nbsp;
              div.body.rub.mt-8(:class="`${pre}__price__unit`")
        div(:class="`${pre}__toggle--mobile`")
          er-icon(:name= "arr_direct")

  er-slide-up-down(
    :class="`${pre}__list`"
    :active="tmpActive_internet"
  )
    ListAddress(index=0)
    ListAddress(index=1)



