div(:class="`${pre}`")
  div(
    :class="[{ stopped: item.stopped, active: isOpen }, `${pre}__point-item`]",
    @click="isOpen = !isOpen && !item.stopped"
    )
    div(:class="`${pre}__point-content`")
      div(:class="`${pre}__point-icon`")
        er-icon(class="icon" name="cloud_telephone")
      div(:class="`${pre}__point-wrapper`")
        div(:class="`${pre}__title-block`")
          h3(:class="`${pre}__point-name`") {{item.name}}
          div(:class="`${pre}__switcher`")
            template(v-if="item.stopped")
              div(class="restore-block")
                span(class="restore-text") Услуга приостановлена, вы можете её &nbsp
                div(class="restore") восстановить
            template(v-else)
              er-icon(name="corner_down" :class="['icon', {'arrow-up': isOpen}]")
              div(:class="[`${pre}__service-count`, {[`${pre}__service-count_active`]: isOpen }]")
                span(class="wide") Подключено
                |  4 сервиса
        div(:class="`${pre}__data-wrap`")
          div(:class="`${pre}__activate-date`")
            div(class="title")
              template(v-if="item.stopped")
                | Приостановлена до:
              template(v-else)
                | Дата активации:
            div(:class="`${pre}__h4`")  {{item.date}}
          div(:class="`${pre}__price`")
            div(class="title") Абонентская плата
            div(:class="`${pre}__h4`") {{item.abon}}
              span(class="units")  ₽/месяц
      div(:class="`${pre}__active-line`")
  er-slide-up-down(:active="isOpen" :duration="200")
    div(:class="[`${pre}__slider`, { point__slider_active: isOpen }]")
      div(class="date")
        div(:class="`${pre}__caption2`") Дата активации:
        div(:class="`${pre}__h4`") {{item.date}}
      div(class="connection-type")
        div(:class="`${pre}__caption2`") Способ подключения:
        div {{ item.type }}
      div(:class="`${pre}__caption2`") Тариф:
      div(class="tariff")
        h3  {{item.name}}
        div(class="price-wrapper")
          div(class="price") 850
          span(:class="`${pre}__units`") &nbsp₽/месяц
      additional-services-component(:servicesList="item.servicesList")
      div(:class="`${pre}__button`")
        er-button(color="yellow" preIcon="settings")
          div(class="content-text") Настроить телефонию

