.wifi-location-list
  .wifi-location-list__content(v-if="!isHideHeader")
    er-page-header(
      title="Контент-фильтрация"
      backlink="/wifi/"
      linkText="Назад в WiFi зону"
    )

    p Вы можете подключить контент-фильтрацию на следующие точки:

  .wifi-location-list__address-list
    .location-select
      .address-checkbox(
        v-for="addressItem in addressList"
        :key="addressItem.value"
      )
        ErtCheckbox(
          :label="addressItem.label"
          :value="addressItem.value"
          v-model="currentLocationBPI"
        )

        //-template()
          .address-checkbox__status
            er-icon(name="filter")

  .wifi-location-list__action-buttons
    er-button(
      color="blue"
      @click="onPlug",
      :loading="isOrderMode"
      :disabled="currentLocationBPI.length === 0"
    ) Подключить фильтрацию
    er-button(flat @click="onCancel") Отмена

  er-plug-product(
    v-model="isShowOrder"
    :orderData="orderData"
    :requestData="{}"
    :isSendOrder="true"
    :isSendManagerRequest="false"
    @errorOrder="onOrderError"
    @successOrder="onOrderSuccess"
  )
    template(slot="offerDescription")
      .mb-24
