// Info Score

er-container(:class="`${pre}__container`")
  er-row.justify-content.between(no-gutters :class="`${pre}__info__bottom`")
    er-flex(
      xs11 offset-xs1
      sm5 offset-sm1
      md4
      lg4
      xl3
      :class="`${pre}__info__block1`"
    )
      div.caption2.mb-8(:class="`${pre}__balance-score`")
        | На вашем счете:
      div.d--flex.align-items-center(
        :class="`${pre}__info-subtext`"
        v-if="!isLoading"
      )
        div.caption
          er-icon(name="wallet_auto")
        h2.mr-8.ml-8() {{ balance }}
        div.rub.mt-4(:class="`${pre}__balance-score__currency`")
      er-button(id="preloaderBalance"
        :loading="true"
        flat
        v-else
      )

      div.caption2.mb-4(
        :class="`${pre}__balance-score__subtitle`"
        v-if="!isLoading && info"
      ) На счете недостаточно средств для списания

        div(:class="`${pre}__balance-score__dop`")
          div.mt-24.d--flex.align-items-center
            div.caption2
              | Следующее списание:
            div.caption
              div.body.mr-8.ml-8 {{ nextDate }}

    er-flex(
      xs11 offset-xs1
      sm5 offset-sm1
      lg8
      md8
      xl9
      :class="`${pre}__info__block2`"
    )
      er-row(no-gutters)
        er-flex(
          xs12
          md5 offset-md1
          lg4 offset-lg1
          xl4 offset-xl2
          xxl4 offset-xxl1
          :class="`${pre}__info__block2-1`"
        )
          div.mb-8(:class="`${pre}__balance-score ${pre}__balance-score__vis`")
            | Сумма к оплате:
          div.mb-24.d--flex.align-items-center(v-if="!isLoading")
            div.caption
              er-icon(name="rouble")
            h2.mr-8.ml-8(:class="`${pre}__balance-score__line`") {{ summToPay }}
            div.rub.mt-4(:class="`${pre}__balance-score__currency`")
          er-button(id="preloaderSumm"
            :loading="true"
            flat
            v-else
          )

        er-flex(
          xs12
          md4 offset-md1
          lg3 offset-lg2
          xl3 offset-xl2
          xxl3 offset-xxl2
          :class="`${pre}__balance-score ${pre}__balance-score__vis ${pre}__balance-score__block`"
        )
          er-row(no-gutters)
            div.mb-8(:class="`${pre}__info__block3`")
              | Дата списания:
            div.mb-8.d--flex.align-items-center(v-if="!isLoading")
              div(:class="`${pre}__balance-score__calendar`")
                er-icon(name="calendar")
              h2.ml-12(:class="`${pre}__balance-score__data`") {{ nextDate }}
            er-button(id="preloaderDate"
              :loading="true"
              flat
              v-else
            )

