div(:class="`${pre}`" )
  transition(name="fade")
    template(v-if="isLoading")
      er-preloader(:active="isLoading" icon icon-type="2")
    template(v-else)
      div(:class="`${pre}__slider`")
        div(:class="`${pre}__slider__info-wrapper`")
          div(:class="`${pre}__slider__tariff-wrapper`" v-if="tariffName")
            er-icon(name="telephone")
            div(:class="`${pre}__slider__tariff`")
              div(:class="`${pre}__caption2`") Тариф:
              div(:class="`${pre}__h4`") {{ tariffName }}
          div(:class="`${pre}__slider__date-wrapper`" v-if="startDate")
            er-icon(name="time")
            div(:class="`${pre}__slider__date`")
              div(:class="`${pre}__caption2`") Активен с:
              div {{ startDate }}

        template(v-if="phones.length")
          h3(:class="`${pre}__phone-title`") Подключенные телефоны
          connected-phone(v-for="(phone, index) in phones" :key="index" :phone="phone" @disconnect="disconnectNumber(phone.number)")
        
        div(:class="`${pre}__slider-buttons`").add-button
          er-button(pre-icon="add_round" color="yellow" @click="connectNewNumber" :loading="isConnection") Добавить телефон
        

        //- h3(:class="`${pre}__packages-title`") Пакеты минут
        //- div(:class="`${pre}__packages`")
        //-   er-card(:class="[`${pre}__package`, `${pre}__card-package`]")
        //-     div(:class="`${pre}__package__header`")
        //-       div(:class="`${pre}__package__header_title`") За границу/По России
        //-       div(:class="`${pre}__package__header_icon`")
        //-         er-icon(name="minute_pack" :shadow="shadowIcon")
        //-     div(:class="`${pre}__package__line`")
        //-       div(:class="`${pre}__package__line_used`")
        //-     div(:class="`${pre}__package__content`")
        //-       h2() 852
        //-         span(:class="`${pre}__package__count-minutes`") /1000
        //-       div(:class="`${pre}__caption`") минут осталось
        //-       div(:class="`${pre}__package__renewal`") Автопродление: 01.03.2020 в 00:00
        //-       div(:class="`${pre}__package__buttons`")
        //-         er-button(color="yellow") Изменить
        //-         er-button(flat) Отключить


        //-   er-card(:class="[`${pre}__plug-package`, `${pre}__card-package`]")
        //-     div(:class="`${pre}__plug-package__title`") Подключить местный пакет минут
        //-     div(:class="`${pre}__plug-package__footer`")
        //-       div
        //-         span(:class="`${pre}__h4`") от 500
        //-         span(:class="`${pre}__units`") &nbsp; ₽
        //-       er-icon(name="minute_pack")
        div(:class="`${pre}__slider-buttons`")
          template(v-if="isStopped")
            er-button(color="yellow") Восстановить
          template(v-else)
            er-button(color="yellow") Приостановить Телефонию
            er-button(flat) Отключить Телефонию
  
  ErPlugProduct(
    v-model="isConnection"
    :requestData="requestData"
    )
  ErDisconnectProduct(
    v-model="isDisconnection"
    :requestData="disconnectRequestData"
    )
