div(:class="`${pre}`" )
  transition(name="fade")
    template(v-if="isLoading")
      er-preloader(:active="isLoading" icon icon-type="2")
    template(v-else)
      div(:class="`${pre}__slider`")
        div(:class="`${pre}__slider__info-wrapper`")
          div(:class="`${pre}__slider__tariff-wrapper`" v-if="tariffName")
            er-icon(name="telephone")
            div(:class="`${pre}__slider__tariff`")
              div(:class="`${pre}__caption2`") Тариф:
              div(:class="`${pre}__h4`") {{ tariffName }}
          div(:class="`${pre}__slider__date-wrapper`" v-if="startDate")
            er-icon(name="time")
            div(:class="`${pre}__slider__date`")
              div(:class="`${pre}__caption2`") Активен с:
              div {{ startDate }}
          div(:class="`${pre}__slider__channels-e1-wrapper`" v-if="serChannelsE1")
            er-icon(name="integration")
            div
              div(class="caption2") Канал связи:
              div(class="h4") {{ serChannelsE1 }}

          div(:class="`${pre}__infolist`" v-if="isVirtualNumber")
            .infolist-link(@click="onClickVirtualNumberInfolist")
              er-icon(name="settings")
              span(class="infolist-link__label") Настройки
            infolist-viewer(
              v-model="isShowInfolistViewer"
              :id="parentId"
              fileName="Информационный лист Виртуальный номер.pdf"
            )
          div(:class="`${pre}__infolist`")
            .infolist-link(@click="openService")
              er-icon(name="service")
              span(class="infolist-link__label") Сервисная заявка
        div(:class="`${pre}__slider__channels-wrapper`" v-if="serChannels")
          div(:class="`${pre}__caption2`") Канал связи:
          div(:class="`${pre}__slider__channels-select`")
            div(:class="`${pre}__slider__channels`")
              ErNumberField(v-model="serChannelsValue")
            div(:class="`${pre}__slider__channels-price`" v-if="serChannelsPrice").h4
              template(v-if="isChangedChannels")
                er-button(@click="changeChannels" :loading="isChangingChannels") Изменить
              template(v-else)
                | {{ serChannelsPrice }} <span class="caption2">₽/мес</span>
        template(v-if="phones.length")
          h3(:class="`${pre}__phone-title`") Подключенные телефоны
          connected-phone(v-for="(phone, index) in phones" :key="index" :phone="phone" @disconnect="disconnectNumber(phone.number)")

        div(:class="`${pre}__slider-buttons`" v-if="!isStopped").add-button
          er-button(pre-icon="add_round" color="yellow" @click="connectNewNumber" :loading="isConnection") Добавить телефон

        h3(:class="`${pre}__packages-title`" v-if="localConnected|| globalConnected || !isStopped") Пакеты минут
        div(:class="`${pre}__packages`")
          PackageMinuteCard(
            v-if="localConnected"
            :slo="localConnected"
            :packageMinuteId="localConnected.productId"
            :name="'Местные'"
            :phones="phones"
            :marketId="marketId"
            :char="'Тип Пакета (Местные Минуты)'")

          PackageMinuteCard(
            v-if="globalConnected"
            :slo="globalConnected"
            :packageMinuteId="globalConnected.productId"
            :name="'За границу/По России'"
            :phones="phones"
            :marketId="marketId"
            :char="'Тип Пакета (Пакет Минут)'")

          div(@click="plugPackages" v-if="(localPlug || globalPlug) && !isStopped")
            er-card(:class="[`${pre}__plug-package`, `${pre}__card-package`]")
              div(:class="`${pre}__plug-package__title`") Подключить пакет минут
              div(:class="`${pre}__plug-package__footer`")
                div
                  span(:class="`${pre}__h4`") от 500
                  span(:class="`${pre}__units`") &nbsp; ₽
                er-icon(name="minute_pack")
          
        div(:class="`${pre}__devices`")
          span(:class="`${pre}__devices__header`")
            span(class="h3" @click="toggleDevices") Оборудование
              er-corner-button(:value="isOpenDevices").ml-8
          er-slide-up-down(:active="isOpenDevices" :duration="200")
            template(v-if="isLoadingDevices")
              er-preloader(:active="isLoadingDevices" icon icon-type="2")
            template(v-else="isLoadingDevices")
              template(v-if="devices.length === 0")
                div Нет устройств
              div(:class="`${pre}__devices__item`" v-for="(device, index) in devices" :key="index")
                template(v-if="device.storageType === 'Рассрочка'")
                  div(class="device-name h4") 
                    .caption.mb-4 Устройство
                    div {{ device.name }}
                  div(class="slot1") 
                    .caption.mb-4 Гарантия до
                    div {{ device.garantee }}
                  div(class="slot2") 
                    .caption.mb-4 Рассрочка {{ device.installment }} мес
                    div 
                      span(class="h4") {{ device.price }} 
                      span(class="caption") ₽/мес
                template(v-else-if="device.storageType === 'Продажа'")
                  div(class="device-name h4") 
                    .caption.mb-4 Устройство
                    div {{ device.name }}
                  div(class="slot1") 
                    .caption.mb-4 Гарантия до
                    div {{ device.garantee }}
                  div(class="slot2") 
                    .caption.mb-4 Способ передачи
                    div Продажа
                template(v-else)
                  div(class="device-name h4") 
                    .caption.mb-4 Устройство
                    div {{ device.name }}                
                  div(class="slot3") 
                    .caption.mb-4 Способ передачи
                    div {{ device.storageType }}

        div(:class="`${pre}__slider-buttons`")
          template(v-if="isStopped")
            er-button(color="yellow"  @click="recover" :loading="isRecovering") Восстановить
            //- er-button(color="yellow"  @click="$router.push('/lk/support?form=restoring_a_contract_or_service')") Восстановить
          template(v-else)
            er-button(color="yellow"  @click="$router.push('/lk/support?form=suspension_of_a_contract_or_service')") Приостановить Телефонию

  ErPlugProduct(
    v-model="isConnection"
    :requestData="requestData"
    isSendManagerRequest
    )
  ErDisconnectProduct(
    v-model="isDisconnection"
    :requestData="disconnectRequestData"
    isSendManagerRequest
    )
  ErPlugProduct(
    v-model="isChangingChannels"
    :requestData="changeChannelsRequestData"
    isSendManagerRequest
    )
  er-activation-modal(
    type="question"
    v-model="isShowResumeModal"
    title="Вы уверены, что хотите восстнаовить услугу?"
    @confirm="sendResumeOrder"
    @close="cancelOrder"
    :isLoadingConfirm="isSendingOrderResume"
    actionButtonText="Восстановить"
  )

  er-activation-modal(
    type="error"
    v-model="isShowErrorModal"
    title="Ошибка"
    cancel-button-text="Закрыть"
    :isShowActionButton="false"
  )
    template(slot="description")
      div Уважаемый Клиент, в данный момент операция не доступна, обратитесь к персональному менеджеру

  er-activation-modal(
    type="success"
    v-model="isShowSuccessModal"
    title="Заказ создан успешно"
    :isShowActionButton="false"
    cancel-button-text="Спасибо"
  )
    template(slot="description")
      | Заказ создан успешно. Выполнение заказа может занять некоторое время. Актуальный статус можно узнать в разделе Заказы.
