div(:class="`${pre}`" )
  transition(name="fade")
    template(v-if="isLoading")
      er-preloader(:active="isLoading" icon icon-type="2")
    template(v-else)
      div(:class="`${pre}__slider`")
        div(:class="`${pre}__slider__info-wrapper`")
          div(:class="`${pre}__slider__tariff-wrapper`" v-if="tariffName")
            er-icon(name="telephone")
            div(:class="`${pre}__slider__tariff`")
              div(:class="`${pre}__caption2`") Тариф:
              div(:class="`${pre}__h4`") {{ tariffName }}
          div(:class="`${pre}__slider__date-wrapper`" v-if="startDate")
            er-icon(name="time")
            div(:class="`${pre}__slider__date`")
              div(:class="`${pre}__caption2`") Активен с:
              div {{ startDate }}

        template(v-if="phones.length")
          h3(:class="`${pre}__phone-title`") Подключенные телефоны
          connected-phone(v-for="(phone, index) in phones" :key="index" :phone="phone" @disconnect="disconnectNumber(phone.number)")
        
        div(:class="`${pre}__slider-buttons`").add-button
          er-button(pre-icon="add_round" color="yellow" @click="connectNewNumber" :loading="isConnection") Добавить телефон
        
        h3(:class="`${pre}__packages-title`") Пакеты минут
        div(:class="`${pre}__packages`")
          PackageMinuteCard(
            v-if="localConnected"
            :slo="localConnected"
            :name="'Местные'"
            :phones="phones"
            :char="'Тип Пакета (Местные Минуты)'")

          PackageMinuteCard(
            v-if="globalConnected"
            :slo="globalConnected"
            :name="'За границу/По России'"
            :phones="phones"
            :char="'Тип Пакета (Пакет Минут)'")

          div(@click="plugPackages" v-if="!(globalConnected && localConnected)")  
            er-card(:class="[`${pre}__plug-package`, `${pre}__card-package`]")
              div(:class="`${pre}__plug-package__title`") Подключить пакет минут
              div(:class="`${pre}__plug-package__footer`")
                div
                  span(:class="`${pre}__h4`") от 500
                  span(:class="`${pre}__units`") &nbsp; ₽
                er-icon(name="minute_pack")
        div(:class="`${pre}__slider-buttons`")
          template(v-if="isStopped")
            er-button(color="yellow") Восстановить
          template(v-else)
            er-button(color="yellow") Приостановить Телефонию
            er-button(flat) Отключить Телефонию
  
  ErPlugProduct(
    v-model="isConnection"
    :requestData="requestData"
    isSendManagerRequest
    )
  ErDisconnectProduct(
    v-model="isDisconnection"
    :requestData="disconnectRequestData"
    isSendManagerRequest
    )
