div.px-32.py-64(:class="`${pre}`")
  h1.mb-64.fonts--demi
    | Карточка клиента
  er-slide-up-down(:active="loadingClientInfo || loadingInnScreen")
    .loading-client-info
      | Проверка ИНН пользователя
  er-slide-up-down(:active="isInputInn && !loadingClientInfo && !loadingInnScreen")
    er-form(@submit="submitInn", ref="inn_form" key="inn_form")
      div.mb-40.d--flex(:class="`${pre}__input-inn`")
        er-text-field(
          label="Введите ИНН",
          v-model="modelINN",
          autocomplete="off",
          mask="999999999999",
          :rules="validateInn"
        )
          template(slot="append-outer")
            er-hint.pt-8.ml-16
              | По указанному ИНН будет заполнена информация о вашей организации
      div.mb-44(:class="`${pre}__description-inn`")
        | ИНН вашей организации вы можете узнать на <a href="https://www.nalog.ru" target="_blank">сайте ФНС</a>
      div(:class="`${pre}__submit-inn`")
        er-button(type="submit" :loading="loadingInn")
          | Заполнить
  er-slide-up-down(:active="!isInputInn && !loadingClientInfo && !loadingInnScreen")
    er-container(full)
      er-row.mb-36(align-items-end)
        er-flex(xs6)
          h2.mb-8
            | Данные организации
          p(:class="`${pre}__check-text`")
            | Проверьте, пожалуйста, Ваши данные
        er-flex(xs6)
          //- h2
            | Лицо, имеющее право подписи
      er-form(ref="form", @submit="submitFormCreate" key="form")
        er-row
          er-flex.mb-32(xs6)
            er-text-field(
              label="Юридическое название",
              v-model="modelData.nameCompany",
              :rules="[rules.isRequired]",
              tabIndex="1",
              key="nameCompany"
              :readonly="readonly.nameCompany"
            )
          er-flex(xs6)
            //-er-text-field(
            //-  label="Должность",
            //-  v-model="modelData.post",
            //-  :rules="[rules.isRequired]",
            //-  tabIndex="7",
            //-  key="post"
            //-  )
        er-row
          er-flex.mb-32(xs6)
            er-dadata-select(
              placeholder="Юридический адрес",
              v-model="modelData.addressCompany",
              :rules="[rules.isRequired]",
              tabIndex="2",
              key="addressCompany"
              :readonly="readonly.addressCompany"
              )
          er-flex(xs6)
            //-er-text-field(
            //
            //-  label="Должность в род. падеже",
            //-  v-model="modelData.gPost",
            //-  :rules="[rules.isRequired]",
            //-  tabIndex="8",
            //-  key="gPost"
            //-  )
        er-row.mb-32
          template(v-if="isEntity")
            er-flex(xs6)
              er-text-field(
                label="КПП",
                v-model="modelData.registrationReasonCode",
                :rules="[rules.isRequired]",
                tabIndex="3",
                key="registrationReasonCode",
                mask="999999999"
                )
          template(v-else)
            er-flex(xs2)
              er-text-field(
                label="Паспорт",
                mask="9999-999999",
                v-model="modelData.passport",
                :rules="[rules.isRequired]",
                tabIndex="3",
                key="passport"
                )
            er-flex(xs2)
              er-text-field(
                label="Дата выдачи",
                mask="99.99.9999",
                v-model="modelData.dateOfPassport",
                :rules="[rules.isRequired]",
                tabIndex="4",
                key="dateOfPassport"
                )
            er-flex(xs2)
              er-text-field(
                label="Код подразделения",
                mask="999-999",
                v-model="modelData.departmentCode",
                :rules="[rules.isRequired]",
                tabIndex="5",
                @blur="onBlurDepartmentCode",
                key="departmentCode"
                )
          er-flex(xs3)
            //er-text-field(
            //  label="Фамилия",
            //  v-model="modelData.surname",
            //  :rules="[rules.isRequired]",
            //  tabIndex="9",
            //  key="surname",
            //  @blur="onBlurFIO"
            //  )
          er-flex(xs3)
            //er-text-field(
            //  label="Фамилия в род. падеже (автоматически)",
            //  v-model="modelData.gSurname",
            //  :rules="[rules.isRequired]",
            //  tabIndex="10",
            //  key="gSurname",
            //  readonly
            //  )
        er-row
          template(v-if="!isEntity")
            er-flex(xs6)
              er-text-field(
                label="Кем выдан",
                v-model="modelData.passportIssuedBy",
                :rules="[rules.isRequired]",
                tabIndex="6",
                key="passportIssuedBy"
                )
          er-flex(xs3, :offset-xs6="isEntity")
            //er-text-field(
            //  label="Имя",
            //  v-model="modelData.name",
            //  :rules="[rules.isRequired]",
            //  tabIndex="11",
            //  key="name",
            //  @blur="onBlurFIO"
            //  )
          er-flex(xs3)
            //er-text-field(
            //  label="Имя в род. падеже (автоматически)",
            //  v-model="modelData.gName",
            //  :rules="[rules.isRequired]",
            //  tabIndex="12",
            //  key="gName",
            //  readonly
            //  )
        er-row
          er-flex(xs3, offset-xs6)
            //er-text-field(
            //  label="Отчество",
            //  v-model="modelData.patronymic",
            //  :rules="[rules.isRequired]",
            //  tabIndex="13",
            //  key="patronymic",
            //  @blur="onBlurFIO"
            //  )
          er-flex(xs3)
            //er-text-field(
            //  label="Отчество в род. падеже (автоматически)",
            //  v-model="modelData.gPatronymic",
            //  :rules="[rules.isRequired]",
            //  tabIndex="14",
            //  key="gPatronymic",
            //  readonly
            //  )
        er-row
          er-flex(xs3 offset-xs6)
            //er-text-field(
            //  label="Номер телефона"
            //  v-model="modelData.phoneNumber"
            //  :rules="[rules.isRequired]"
            //  tabIndex="15"
            //  key="phoneNumber",
            //  mask="+7 999 999 9999"
            //)
        er-row
          //er-flex(xs6, offset-xs6)
          //  .file-input
          //    .top(v-show="!issetFile") Для подтверждения права подписи
          //    label(
          //      :class="{ 'success': issetFile, 'error': !isValidFile }"
          //    )
          //      input(type="file" @change="onChangeFile")
          //      | {{ issetFile ? getFileName : 'загрузите скан документа' }}
          //    .description(v-show="!issetFile" :class="{ 'error': !isValidFile }")
          //      template(v-if="isValidFile")
          //        | Это может быть: Устав предприятия, Доверенность. Размер файла не должен превыщать 2Мб. Формат: JPG, PNG, PDF
          //      template(v-else)
          //        | Документ не загружен
  er-error-modal
  er-activation-modal(
    type="error"
    v-model="isFiasError"
    title="Произошла ошибка при получении информации об адресе"
    cancel-button-text="Закрыть"
    :isShowActionButton="false"
  )
    template(slot="description")
      | Пожалуйста, обратитесь к персональному менеджеру
