div.px-32.pt-64(:class="`${pre}`")
  er-slide-up-down(:active="loadingClientInfo || loadingInnScreen")
    .loading-client-info
      | Проверка ИНН пользователя
  er-slide-up-down(:active="isInputInn && !loadingClientInfo && !loadingInnScreen")
    er-form(@submit="submitInn", ref="inn_form" key="inn_form")
      div.mb-40.d--flex(:class="`${pre}__input-inn`")
        er-text-field(
          label="Введите ИНН головной организации",
          v-model="modelINN",
          autocomplete="off",
          mask="999999999999",
          :rules="validateInn"
          :disabled="isDisabledInn"
        )
          template(slot="append-outer")
            er-hint.pt-8.ml-16
              | По указанному ИНН будет заполнена информация о вашей организации
      div.mb-44(:class="`${pre}__description-inn`")
        | ИНН вашей организации вы можете узнать на <a href="https://www.nalog.ru" target="_blank">сайте ФНС</a>
      div(:class="`${pre}__submit-inn`")
        er-button(type="submit" :loading="loadingInn")
          | Заполнить
  er-slide-up-down(:active="!isInputInn && !loadingClientInfo && !loadingInnScreen")
    er-container(full)
      er-form(ref="form", @submit="submitFormCreate" key="form")
        er-row
          er-flex.mb-32(xs6)
            er-text-field(
              label="Юридическое название",
              v-model="modelData.nameCompany",
              :rules="[rules.isRequired]",
              tabIndex="1",
              key="nameCompany"
              :readonly="readonly.nameCompany"
            )
          er-flex(xs6)
        er-row
          er-flex.mb-32(xs6)
            er-dadata-select(
              placeholder="Юридический адрес",
              v-model="modelData.addressCompany",
              :rules="[rules.isRequired]",
              tabIndex="2",
              key="addressCompany"
              :readonly="readonly.addressCompany"
              )
          er-flex(xs6)
        er-row.mb-32
          template(v-if="isEntity")
            er-flex(xs6)
              er-text-field(
                label="КПП",
                v-model="modelData.registrationReasonCode",
                :rules="[rules.isRequired]",
                tabIndex="3",
                key="registrationReasonCode",
                mask="999999999"
                :readonly="readonly.registrationReasonCode"
                )
          template(v-else)
            er-flex(xs2)
              er-text-field(
                label="Паспорт",
                mask="9999-999999",
                v-model="modelData.passport",
                :rules="[rules.isRequired]",
                tabIndex="3",
                key="passport"
                :readonly="readonly.passport"
                )
            er-flex(xs2)
              er-text-field(
                label="Дата выдачи",
                mask="99.99.9999",
                v-model="modelData.dateOfPassport",
                :rules="[rules.isRequired]",
                tabIndex="4",
                key="dateOfPassport"
                :readonly="readonly.passport"
                )
            er-flex(xs2)
              //er-text-field(
              //  label="Код подразделения",
              //  mask="999-999",
              //  v-model="modelData.departmentCode",
              //  :rules="[rules.isRequired]",
              //  tabIndex="5",
              //  @blur="onBlurDepartmentCode",
              //  key="departmentCode"
              //  :readonly="readonly.passport"
              //  )
        er-row
          template(v-if="!isEntity")
            er-flex(xs6)
              er-text-field(
                label="Кем выдан",
                v-model="modelData.passportIssuedBy",
                :rules="[rules.isRequired]",
                tabIndex="6",
                key="passportIssuedBy"
                :readonly="readonly.passport"
                )
  er-error-modal
  er-activation-modal(
    type="error"
    v-model="isFiasError"
    title="Произошла ошибка при получении информации об адресе"
    cancel-button-text="Закрыть"
    :isShowActionButton="false"
  )
    template(slot="description")
      | Пожалуйста, обратитесь к персональному менеджеру
