div.edit-section
  ErRow
    ErFlex.edit-section__signature(xs12 sm6 md6 lg4)
      div
        h3.edit-section-title.edit-section-title--large Мой&nbsp;профиль
        div.edit-section__input-block
          ErtTextField.edit-section-field(
            v-model="value.lastName"
            name="inputLastName"
            label="Фамилия"
            :rules="fullNameRule"
          )
      div.edit-section__input-block
        ErtTextField.edit-section-field(
          v-model="value.firstName"
          name="inputFirstName"
          label="Имя"
          :rules="fullNameRule"
        )
      div.edit-section__input-block
        ErtTextField.edit-section-field(
          v-model="value.middleName"
          name="inputMiddleName"
          label="Отчество"
          :rules="fullNameRule"
        )
    ErFlex.edit-section__my-profile(xs12 sm6 md6 lg4)
      div
        h3.edit-section-title Право подписи
        ErtTextField.edit-section-field(label="Фамилия в род. падеже")
      div
        ErtTextField.edit-section-field(label="Имя в род. падеже")
      div
        ErtTextField.edit-section-field(label="Отчество в род. падеже")
      div
        ErtTextField.edit-section-field(label="Должность  в род. падеже")
    ErFlex.edit-section__account(sm6 md6 lg4)
      ErRow
        ErFlex(xs12 md12 lg12)
          div
            h3.edit-section-title Учетная запись (логин)
            div.edit-section__input-block
              ErtTextField.edit-section-field(
                v-model="value.phoneNumber"
                name="inputPhoneNumber"
                label="Введите номер телефона"
                mask="phone"
                :rules="phoneRule"
              )
          div.edit-section__input-block
            ErtTextField.edit-section-field(
              v-model="value.email"
              name="inputEmail"
              label="Введите электронную почту"
              type="email"
              :rules="emailRule"
            )
        ErFlex(v-if="isMD || isLG" xs12 md12 lg12)
          div
            p.edit-section__text-info В качестве логина для доступа в
              b &nbsp;личный кабинет
              | &nbsp;вы можете использовать номер телефона либо почту
