div(:class="`${pre}`")
  er-row(:class="[`${pre}__header`, 'no-gutters']")
    er-flex(xs12 md6)
      div(:class="`${pre}__title-wrap`")
        h2(:class="`${pre}__title`") Контакты
        div(:class="[`${pre}__title-hint`, `${pre}__title-hint--inline`]")
          template(v-if="isMobile")
            span(@click="handleTitlePopup('open')")
              er-icon(
                name='question'
                :class="`${pre}__title-hint__ico`"
                )
          template(v-else)
            er-hint(right)
              template(v-slot:activator="{ on }")
              div
                h3(:class="`${pre}__title-hint__title`") Контакты
                p(:class="`${pre}__title-hint__txt`") Вы&nbsp;можете добавить контакты сотрудников, чтобы они были в&nbsp;курсе работы ваших сервисов в&nbsp;Дом.ru&nbsp;Бизнес
    er-flex(xs12 md6 :class="`${pre}__header__aside`")
        template(v-if="isLG")
          span(:class="`${pre}__total-num`") {{ showContactsTotalNum }}
        template(v-else)
          er-text-field(
            :class="`${pre}__search`"
            :label="isXS ? 'Искать' : 'Искать контакт'"
            appendInnerIcon="lens"
            v-model="searchQuery"
            @input="handleSearch($event)"
            @blur="handleSearch()"
            @keydown.enter.prevent="handleSearch($event.target.value)"
          )
  div(:class="`${pre}__body`")
    contacts-list(
      :contactsList="pagData"
      :contactsNum="filteredContactsByName ? filteredContactsByName.length : null"
      @editContactOpen="handleEditContactOpen")
    lpr-contact-form(
      v-if="isLPR"
      :isOpen="isOpenContactForm"
      @addContactClose="handleClickAddContact")
  er-row(:class="`${pre}__footer`")
    er-flex(xs12 sm6 lg4)
      template(v-if="isLPR")
        er-button(
          :class="`${pre}__add-btn`"
          :disabled="isOpenContactForm || isEditContactOpen"
          :loading="getCreatedContactState.isFetching"
          preIcon="add"
          @click="handleClickAddContact"
          ) Добавить контакт

    template(v-if="pagLength > 1")
      er-flex(xs12 md6 lg8 :class="`${pre}__paginator`")
        er-pagination(
          v-model="pagCurrentPage"
          :length="pagLength"
          :total-visible="pagLength"
        )

  er-dialog(
    :value="isOpenTitlePopupHint"
    :maxWidth="544"
    @update:returnValue="handleTitlePopup('close')"
  )
    div(:class="[`${pre}__title-hint`, `${pre}__title-hint--popup`, `${pre}__dialog`]")
      er-icon(
        name='question'
        :class="`${pre}__title-hint__ico`"
        :width="52"
        :height="52"
        )
      h3(:class="`${pre}__title-hint__title`") Контакты
      p(:class="`${pre}__title-hint__txt`") Вы&nbsp;можете добавить контакты сотрудников, чтобы они были в&nbsp;курсе работы ваших сервисов в&nbsp;Дом.ru&nbsp;Бизнес
      div(
        :class="`${pre}__dialog__close-wrap`"
        @click="handleTitlePopup('close')")
        span(:class="`${pre}__dialog__close`") Спасибо

  er-dialog(
    :value="hasError.state"
    :maxWidth="544"
    @update:returnValue="handleErrorPopup('close')"
  )
    div(:class="[`${pre}__dialog`, `${pre}__dialog--error`]")
      er-icon(
        name='warning'
        :class="`${pre}__dialog__ico`"
        :width="52"
        :height="52"
      )
      p(:class="`${pre}__dialog__txt`") {{ hasError.message }}
      div(
        :class="`${pre}__dialog__close-wrap`"
        @click="handleErrorPopup('close')")
        span(:class="`${pre}__dialog__close`") Закрыть
