div(class="er-document-width-mobile")
  common-document(
    :class="{'er-document--signed': isUpdated, 'er-document--expired': !isUpdated}"
  ).er-document--userlist.er-document--big-doc
    template(v-slot:header)
      .er-document__title Список пользователей

      .question-button(
        @click="onClickQuestion()"
      )
        er-icon(
          name="question"
        ).er-icon--question

      .er-document__subtitle(v-if="userListLoadingDate")
        .er-document__update-label
          | Дата загрузки
        .er-document__update-period
          .date {{ userListLoadingDate }}

    template(v-slot:body)
      .just-wrap(v-if="userListLoadingDate")
        .er-document__text.d-sm--none
          div.caption1 Вы обязаны обновлять список пользователей каждый квартал  во исполнение требований
            a.link(
              href="http://base.garant.ru/12155536/"
              target="_blank"
              data-ga-category="documents"
              data-ga-label="contractsrules"
            ) Правил оказания услуг связи по передаче данных
            div(v-if="dateOfUpdate").mt-8 Обновить после {{ dateOfUpdate }}

      .er-document__text(v-else)
        div.caption1 Вы обязаны предоставить список пользователей во исполнение требований
          a(href="http://base.garant.ru/12155536/" target="_blank").link Правил оказания услуг связи по передаче данных

    template(v-slot:footer)
      .signed(v-if="userListLoadingDate")
        er-button(:color="'blue'" @click="onClickQuestion") Обновить
      .not-signed(v-else)
        .er-document__download-template
          a.link.link--dashed--black(
            data-ga-category="documents"
            data-ga-label="contractssample"
            href="https://beta-lkb2b.domru.ru/files/template-user-list.csv"
          )
            | Скачать шаблон
        er-button(
          :color="'blue'"
          data-ga-category="documents"
          data-ga-label="contractsdownload"
          @click="onClickQuestion"
        ) Загрузить

  UploadUserlistDialog(:active="openDialog" @close="openDialog = false")
