// History-pay

div.main-content.main-content--h-padding.main-content--top-menu-fix(:class="`${pre}`")
  div.main-content--top-padding(:class="`${pre}__back-main1`")
  div(:class="`${pre}__container-main`")
    div.caption(:class="`${pre}__back-main`")
      div.ml-auto
        er-icon(name="arrow_l" :class="`${pre}__icon-height`")
        a.caption(href="#" :class="`${pre}__back-main__text`")
        router-link(to="/lk/payments") Назад

    div.mb-8.d--flex.align-items-start(:class="`${pre}__back-arr`")
      div(:class="`${pre}__back-main-xs`")
        router-link(to="/lk/payments")
          er-icon(name="left")

      h1.fonts--demi(:class="`${pre}__welcome-title`")
        | История платежей

    FiltersPay(
      @typeFind="typeFind($event)"
      @topOperation="topOperation($event)"
    )

    er-container.mb-24(full
      :class="`${pre}__container-operation ${pre}__container-operation${visFilter}`"
      :style="'width: ' + widthContainer"
    )
      ActionMonth(:month="valSelect" page="history")

    div(:class="`${pre}__button-wrapper`")
      div(:class="`${pre}__button`")
        er-icon(name="download" :class="`${pre}__download-icon`")
        er-button(type="submit")
          | Скачать PDF
