// History-pay

div(:class="`${pre}`")
  div(:class="`${pre}__container-main`")
    div.caption(:class="`${pre}__back-main`")
      div.ml-auto
        er-icon(name="arrow_l" :class="`${pre}__icon-height`")
        a.caption(
          href="#"
          :class="`${pre}__back-main__text`"
          @click="paypage"
        )
          | Назад

    div.mb-8.d--flex.align-items-start(:class="`${pre}__back-arr`")
      div(:class="`${pre}__back-main-xs`" @click="paypage")
        er-icon(name="left")
      h1.fonts--demi(:class="`${pre}__welcome-title`")
        | История платежей

    FiltersPay(@typeFind="typeFind($event)")

    er-container.mb-24(full :class="`${pre}__container-operation`")
      ActionMonth(:month="valSelect")

    div(:class="`${pre}__button-wrapper`")
      div(:class="`${pre}__button`")
        er-icon(name="download" :class="`${pre}__download-icon`")
        er-button(type="submit")
          | Скачать PDF
