.oats-main-page
  .oats-main-page__header
    er-page-header(
      title="Облачная телефония"
      link-text="Назад в кабинет"
      backlink="/lk/"
    )

  template(v-if="isDomainsLoaded")
    template(v-if="domainList.length")
      .oats-main-page__content-wide
        point(
          v-for="item in domainList"
          :address="item.address"
          :name="getDomainPointFulladdress(item.locationId)"
          :price="getDomainPrice(item).toString()"
          :serviceCount="getServiceCount(item)"
          :key="item.bpi"
        )
          point-content(
            :value="item",
            :services="getServiceList(item)"
            :phones="getPhoneList(item)"
            @suspend="onSuspendProduct"
          )

        total-block(:loading="!isDomainsLoaded") {{ totalValue|price }}

      .oats-main-page__footer
        er-button(
          color="blue"
          :to="{name: 'go-to-oats-portal'}"
        ) Подключить ОАТС

    template(v-else)
      .oats-main-page__content-wide
        OATSPromo

  template(v-else)
    .oats-main-page__content-wide
      point(
        :loading="true"
      )

      total-block(:loading="!isDomainsLoaded") {{ totalValue|price }}
