.vc-product-page
    .vc-product-page__content
      er-page-header(
        title="Видеонаблюдение"
        backlink="/lk/"
      )
      template(v-if="!isPromoPage")
        .header-info Стоимость указана с НДС

    .vc-product-page__wiki(v-if="!isPromoPage")
      .wiki
        er-icon.wiki__icon(name="question")
        a.wiki__link(
          href="https://wiki.vs.domru.ru/index.php"
          target="_blank"
          rel="noopener"
        ) База знаний

    .vc-product-page__list
      template(v-if="isDomainsLoaded && isVideocontrolPlugged")
        template( v-for="(item, key) in domains" )
          product-folder(
            :key="key"
            class="product"
            :name="item.name"
            :price="getDomainPrice(key).toFixed(2)"
            :date="$moment(item.actualStartDate).format('DD.MM.YYYY')"
            :stopped="!isDomainActive(item)"
          )
            vc-domain(
              :dkey="key"
              :domain="item"
              :user-count="getDomainUserCount(key)"
              :user-price="getDomainUserPrice(key)"
              :user-product-id="getDomainUserProductId(key)"
              @change="onChangeDomain"
              @info="onInfo"
              @error="onError"
            )

        ErTotalPrice {{ totalPrice|price }}

      template(v-else-if="!isDomainsLoaded")
        product-folder(:loading="true")

        ErTotalPrice(:loading="true")

      template(v-else)
        VCPromo

    error-dialog(
      v-model="isErrorMode"
      @close="isErrorMode = false"
      :title="errorTitle"
    ) {{ errorMessage }}

    info-dialog(
      v-model="isInfoMode"
      @close="isInfoMode = false"
      :title="infoTitle"
    )
      div
        p(v-html="infoMessage")

    .vc-product-page__footer(v-if="isDomainsLoaded && isVideocontrolPlugged")
      er-button(color="blue" @click="onClickPlug")
        | Подключить
