.vc-config-page
  .vc-config-page__header
    er-page-header(
      title="Настроить камеру"
      link-text="Назад к списку камер"
      backlink="/lk/videocontrol"
    )
    .header-info(
      :title="bf.status"
    ) Стоимость указана с НДС

  .vc-config-page__edit-form.camera-edit-form
    .camera-edit-form__head
      .col.col--point
        .caption2 Адрес

        template(v-if="isLocationLoaded")
          .value {{ locationName }}
        template(v-else)
          pu-skeleton(width="200px")

      .col.col--watch(v-if="isForpostPortalWorking")
        .watch(@click="onPlay" title="Настроить")
          er-icon(name="play")
          span.title Смотреть

    .camera-edit-form__subhead
      .camera-device
        .col-model
          .caption2 Модель
          .mt-8 {{ device.model }}

        .col-sale
          .caption2 {{ CHARS.CAMERA_SALE_TYPE }}
          .mt-8 {{ device.saleType }}

        .col-price
          .caption2 Стоимость оборудования
          .mt-8
            er-price {{ device.price|price }}

    .camera-edit-form__body
      .d--grid
        .license-pay(v-if="licensePay")
          .caption2 Лицензионный платёж
          .mt-8
            template(v-if="isAnalyticsLoaded")
              er-price {{ licensePay | price }}
            template(v-else)
              pu-skeleton(width="120px")

        .rent-pay(v-if="isAnalyticsLoaded && hasRentPay")
          br
          .caption2 Аренда
          .mt-8
            template(v-if="isAnalyticsLoaded")
              er-price {{ rentPay | price }}
            template(v-else)
              pu-skeleton(width="120px")

      .vc-camera-edit-form
        template(v-if="isAnalyticsLoaded")
          rename-field(
            label="Название оборудования"
            :value="deviceName"
            @save="onSaveDeviceName"
            :isLoading="isDeviceRenameMode"
          )
        template(v-else)
          pu-skeleton(width="300px")

        .camera-main-fields
          .col.col-name
            .name-field.mt-md-32
              .name-field__description.caption2 Название
              .name-field__label {{ cameraName }}

          .col.col-2
            .camera-main-fields__field
              er-select(
                placeholder="Разрешение видеопотока",
                :items="VIDEO_QUALITY_VALUE_LIST"
                :loading="isVideoQualityChanged"
                :disabled="isVideoQualityChanged"
                :value="videoQualityValue"
                @input="onVideoQualityInput"
              )
              er-price {{ videoQualityCurrentPrice | price }}

          .col.col-3
            .camera-main-fields__field(v-if="isAnalyticsLoaded")
              er-select(
                placeholder="Срок хранения видеоархива",
                :items="videoArchiveValueList"
                :value="videoArchiveValue"
                :loading="currentServiceCode === currentVideoArchiveCode"
                :disabled="currentServiceCode === currentVideoArchiveCode"
                @input="onVideoArchiveInput"
              )
              er-price
                template(v-if="currentServiceCode && currentServiceCode === currentVideoArchiveCode")
                  | {{ videoArchivePrice | price }}
                template(v-else)
                  | {{ videoArchiveCurrentPrice | price }}

        .addon__list
          .addon
            h4.addon__title Запись звука
            .addon__text
              | Активируйте на камере запись звука, чтобы не только видеть, но и слышать.
            .addon__config
              template(v-if="isAnalyticsLoaded")
                ert-switch(
                  :input-value="serviceStatuses[CODES.SOUND_RECORD]"
                  :loading="currentServiceCode === CODES.SOUND_RECORD"
                  :disabled="currentServiceCode === CODES.SOUND_RECORD || isOrderMode"
                  :key="`${CODES.SOUND_RECORD}-${updateKeyPlease()}`"
                  @change="onSoundRecordInput"
                )
                er-price {{ soundRecordPrice | price }}
              template(v-else)
                pu-skeleton(width="300px")

          .addon(v-if="isAnalyticsLoaded")
            h4.addon__title Поворотный модуль
            .addon__text
              | Управление направлением видоискателя камеры
            .addon__config
              ert-switch(
                :loading="currentServiceCode === CODES.PTZ"
                :disabled="!isPTZAvailable && isOrderMode"
                :input-value="serviceStatuses[CODES.PTZ]"
                :key="`${CODES.PTZ}-${updateKeyPlease()}`"
                @change="onPTZInput"
              )
              er-price {{ getPTZPrice() | price }}

  .vc-config-page__analitycs.analytics
    .analytics__head
      h2.analytics__title Аналитика
      .analytics__subtitle(v-if="isAnalyticCountVisible")
        template(v-if="isAnalyticsLoaded")
          | подключено {{ enabledAnalyticCount }} сервиса
        template(v-else)
          pu-skeleton(width="120px")

    .analytics__content
      template(v-if="isAnalyticsLoaded")
        template(v-for="item in availableAnalyticsList")
          product-item(
            :key="`${item.code}-${updateKeyPlease()}`",
            :title="item.originalName",
            :price="getAnalyticItemPrice(item.code)",
            :isWaitOrder="currentServiceCode === item.code"
            :isLoading="false",
            :icon-name="getAnalyticItemIcon(item.code)"
            :info-link="`/lk/videocontrol/forpost/products/${item.code}`"
            :disabled="isOrderMode"
            :value="serviceStatuses[item.code]"
            :status="item.status"
            @input="onInputAnalyticItem(item.code, $event)",
          )
      template(v-else)
        product-item(:isLoading="true")
        product-item(:isLoading="true")
        product-item(:isLoading="true")

  er-plug-product(
    v-model="isOrderModalVisible",
    :orderData="orderData",
    :requestData="requestData",
    :isSendOrder="!isManagerRequest",
    :isSendManagerRequest="isManagerRequest"
    @cancelRequest="onCancelRequest"
    @cancelOrder="onCancelOrder"
    @closeError="onCloseError"
    @closeSuccess="onCloseSuccess"
    @closeSuccessRequest="onCloseSuccess"
  )
    template(slot="offerDescription")
      .caption1 стоимость:&nbsp;
        er-price {{ currentServicePrice | price }}
      .mb-24

  er-activation-modal(
    type="question"
    v-model="isShowDisconnectModal"
    :title="disconnectTitle"
    cancelButtonText="Отменить"
    actionButtonText="Отключить"
    persistent,
    :isLoadingConfirm="isSendingOrder"
    @confirm="onApplyOrder"
    @close="onCancelOrder"
  )

  er-activation-modal(
    type="question"
    v-model="isShowRenameConfirm"
    title="Вы действительно хотите переименовать камеру?"
    cancelButtonText="Отменить"
    actionButtonText="Да"
    persistent,
    :isLoadingConfirm="isSendingOrder"
    @confirm="onApplyRename"
    @close="onCancelRename"
  )

  er-activation-modal(
    type="success"
    v-model="isShowSuccessDisconnectModal"
    title="Заказ успешно создан"
    actionButtonText="Ок"
    :is-show-cancel-button="false"
    @confirm="isShowSuccessDisconnectModal = false"
  )
    template(slot="description")
      | Заказ создан успешно. Выполнение заказа может занять некоторое время. Актуальный статус можно узнать в разделе Заказы.


  error-dialog(
    :value="activeState === 'error'"
    :title="errorTitle"
    @close="onCloseError"
  ) {{ errorMessage }}

  info-dialog(
    v-model="isInfoMode"
    @close="onInfoClose"
    :title="infoTitle"
  )
    p(v-html="infoMessage")

  .vc-config-page__actions
    .total-info
      .total-info__label Абонентская плата:
      .total-info__price
        er-price {{ totalPrice | price }}

      .total-info__status(v-if="isChanged")
        | Изменена
        er-icon(name="ok")

    .action-buttons(v-if="isActionButtonsVisible")
      er-button(color="yellow") Сохранить
      er-button(color="gray") Отмена
