div(:class="`${pre}`")
  er-preloader(:active="loadingClientInfo")
    //h4(:class="`${pre}__organisation-name`")
    //  | {{ clientName || 'Неизвестная организация' }}
  h1(:class="`${pre}__welcome-title`")
    | Добро пожаловать в личный кабинет
  div.mt-24.mb-24.mt-md-32.mb-md-32.mt-xl-48.mb-xl-48
    h4.mb-xl-16.mb-8 Мы помогаем бизнесу оставаться на связи!
    div Интернет-соединение и все сервисы Дом.ру Бизнес работают стабильно.
    div Чтобы обеспечить безопасность вашего бизнеса в интернете, мы подготовили для вас&nbsp;
      a(href="https://b2b.dom.ru/news/na-svyazi" target="_blank" rel="noopener") рекомендации по защите сети и оборудования.

  .index-page__info.mb-32
    .index-page__info-billing-account.mr-64
      template(v-if="loadingListBillingAccount")
        .index-page__info-loading
          ErtSkeletonLoader(type="text")
      template(v-else)
        ErChangeBillingAccount(
          v-model="isOpenDialogChangeBillingAccount"
          type="dialog"
          maxWidth="407"
        )
          template(v-slot:activator="{ on }")
            div(v-on="on")
              .caption2.mb-4 Лицевой счёт:
              .index-page__info__value
                span {{ activeBillingAccountNumber }}
                ErtIcon.ml-16(name="link_out" small)
    .index-page__info-balance.mr-64
      template(v-if="menuComponentBalance")
        .index-page__info-loading
          ErtSkeletonLoader(type="text")
      template(v-else)
        .caption2.mb-4 Баланс:
        router-link.index-page__info__value.balance(to="/lk/payments")
          span {{ balance | priceFormatted }}
          ErtIcon.ml-16(name="link_out" small)
    .index-page__info-organisation.mr-64
      template(v-if="loadingClientInfo")
        .index-page__info-loading
          ErtSkeletonLoader(type="text")
      template(v-else)
        .caption2.mb-4 Организация:
        .index-page__info__value(@click="() => { isOpenDialogChangeOrganisation = true }")
          span {{ clientName || 'Неизвестная организация' }}
          ErtIcon.ml-16(name="link_out" small)

  er-container.index-page__sections-mb(full).container--no-padding
    er-row()
      er-flex(xs12 lg6 xl5 :class="`${pre}__fast-links`")
        er-row()
          er-flex.mb-16(xs6)
            er-preloader(:active="loadingDocuments" icon)
              router-link.index-page__fast-link(to="/lk/documents")
                .content(@click="dataLayerPush('mydocuments')")
                  .title
                    | Мои документы
                  .footer.d--flex.align-items-end.mt-auto
                    .new(v-if="getCountUnsignedDocument !== 0")
                      .caption.mb-4
                        | Новые
                      .value
                        | {{ getCountUnsignedDocument }}
                    .icon.ml-auto
                      er-icon(name="doc")
          er-flex.mb-16(xs6)
            er-preloader(:active="loadingRequest" icon)
              router-link.index-page__fast-link(to="/lk/support")
                .content(@click="dataLayerPush('servicerequest')")
                  .title
                    | Сервисная заявка
                  .footer.d--flex.align-items-end.mt-auto
                    .new(v-if="getCountRequestInWork")
                      .caption.mb-4
                        | В работе
                      .value
                        | {{ getCountRequestInWork }}
                    .icon.ml-auto
                      er-icon(name="service")
          er-flex.mb-16(xs6)
            er-preloader(:active="loadingPromisedPayment" icon)
              router-link.index-page__fast-link(to="/lk/payments/promise-payments")
                .content(@click="dataLayerPush('futurepayment')")
                  .title
                    | Обещанный платёж
                  .footer.d--flex.align-items-end.mt-auto
                    template(v-if="isPromisePay")
                      .new
                        .caption.mb-4
                          | Осталось:
                        .promised-payment-left
                          span {{ getToDatePromisePay.day }}
                          span :{{ getToDatePromisePay.hour }}
                          span :{{ getToDatePromisePay.minute }}
                      .promised-payment-left__line
                        .promised-payment-left__passed(:style="{ width: `${getWidthPromisePayLine}%` }")
                    template(v-else)
                      .icon.ml-auto
                        er-icon(name="trast_pay")
          er-flex.mb-16(xs6)
            er-document-viewer(
              :list-document="computedListInvoiceDocument"
              :is-digital-signing="false"
              :is-manual-signing="false"
              v-model="isOpenViewer"
              ref="viewer"
            )
              template(v-slot:activator="{ on }")
                a.index-page__fast-link(href="#", v-on="getEventsForInvPayments(on)")
                  .content(@click="dataLayerPush('paymentreciept')")
                    .title
                      | Счёт на оплату
                    .footer.d--flex.align-items-end.mt-auto
                      .icon.ml-auto
                        er-icon(name="rouble")
      er-flex(xs12 lg6 xl7)
        button(@click="() => { isOpenManagerRequestDialog = true }")
          picture
            source(:srcset="require('@/assets/images/banner/254х254_Баннер ЛК_Ddos.jpg')" media="(max-width: 480px)")
            source(:srcset="require('@/assets/images/banner/430х254_Баннер ЛК_Ddos.jpg')" media="(max-width: 640px)")
            source(:srcset="require('@/assets/images/banner/589х277_Баннер ЛК_Ddos.jpg')" media="(max-width: 960px)")
            source(:srcset="require('@/assets/images/banner/434х358_Баннер ЛК_Ddos.jpg')" media="(max-width: 1200px)")
            source(:srcset="require('@/assets/images/banner/469х333_Баннер ЛК_Ddos.jpg')" media="(min-width: 1200px)")
            img(:src="require('@/assets/images/banner/469х333_Баннер ЛК_Ddos.jpg')")
  //- временно убрал кнопку кнопку 'Поделись впечатлением' https://ticket.ertelecom.ru/browse/WEB-31582
  //- .index-page__opinion-mb
  //-   h4 Ваше мнение очень важно для нас.
  //-   div Вы можете добавить претензию о работе, выразить благодарность или оставить предложение

  //- er-button.index-page__impression-button(@click="openImpressionForm") Поделись впечатлением


  h2(:class="`${pre}__service__title`")
    | Подключенные услуги
  div.mb-24(:class="`${pre}__filters`")
    div(:class="`${pre}__filters--mobile`")
      div.caption.mb-12
        | Фильтровать
      er-slide-up-down(:active="!isOpenFilter")
        div.d--flex.align-items-center(:class="`${pre}__filters--mobile__result`")
          div.icon.mr-16
            er-icon(name="filter_1")
          div.by-sort
            a(@click="openFilterForm") {{ currentFilterLabel }}

      er-slide-up-down(:active="isOpenFilter")
        div(:class="`${pre}__filters--mobile__form`")
          div.d--flex.justify-content-between.mb-24(:class="`${pre}__filters--mobile__form__row`")
            div(:class="`${pre}__filters--mobile__form__input`")
              er-text-field(
                v-if="isPointFiltrationRalized"
                label="Фильтрация по точкам",
                v-model="modelFilterService",
                appendInnerIcon="close",
                @click:append-inner="clearModelFilterService"
              )
            div(:class="`${pre}__filters--mobile__form__close`", @click="closeFilterForm")
              er-icon(name="corner_up")
          div.d--flex(:class="`${pre}__filters--mobile__form__row`")
            .filter-list.flex-grow-1
              .filter-list__label Сортировать по:
              .filter-list__content.justify-content-between
                .filter-list__item(v-for="item in dataFilterSwitch")
                  er-toggle(
                    type="radio"
                    view="radio-check"
                    v-model="modelSortService"
                    :value="item.value"
                    :label="item.label"
                  )
    div.justify-content-between.align-items-end.mb-24(:class="`${pre}__filters--desktop`")
      .filter-list(:class="`${pre}__filters--desktop__toggle`")
        .filter-list__label Сортировать по:
        .filter-list__content
          .filter-list__item(v-for="item in dataFilterSwitch")
            er-toggle(
              type="radio"
              view="radio-check"
              v-model="modelSortService"
              :value="item.value"
              :label="item.label"
            )
      div(:class="`${pre}__filters--desktop__input`")
        er-text-field(
          v-if="isPointFiltrationRalized"
          label="Фильтрация по точкам",
          v-model="modelFilterService",
          appendInnerIcon="close",
          @click:append-inner="clearModelFilterService"
        )

  template(v-if="!isLoadedPackList")
    pu-skeleton(width="300px")
  template(v-else-if="indexPageProductByAddress")
    div(:class="`${pre}__products__loading`")
      .content
        img(:src="require('@/assets/images/preloaders/3.svg')")
  template(v-else-if="isEmptyListProduct")
    div(:class="`${pre}__products__empty`")
      .content
        er-icon(name="no")
        | Нет подключённых продуктов
  template(v-else)
    template(v-if="modelSortService === 'service'")
      serviceList(:list="listProductByService")

    template(v-else-if="modelSortService === 'packs'")
      service-folder.mb-4(
        v-for="(packGroup, packName) in activeBundleGroupList"
        :key="packName"
        :price="packGroup.reduce(packGroupPrice, 0).toString()"
        :title="packName"
        :description="MESSAGES.PACKAGE_DISABLING_TIP"
        icon-name="pack"
      )
        package-item(
          :title="packName"
          :pack-list="packGroup"
          :description="MESSAGES.PACKAGE_DISABLING_TIP"
        )

    template(v-else)
      office-list(:list="listProductByAddress")

  er-toast-stack(
    @click="onClickToast"
  )

  er-activation-modal(
    type="success"
    v-model="isNotAccessInvPayment"
    title="Запрос счёта на оплату недоступен"
    :isShowActionButton="false"
    cancel-button-text="Спасибо"
  )
    template(slot="description")
      | У вас положительный баланс, поэтому запрос информационного счёта недоступен! Приятного пользования услугами Дом.ru

  ErtDialog(
    v-model="isOpenImpressionForm"
    maxWidth="1044"
    persistent
  )
    director-feedback(v-model="isOpenImpressionForm" isImpressionForm="true")

  ChangeOrganizationPopup(
    :active="isOpenDialogChangeOrganisation"
    @close="() => { isOpenDialogChangeOrganisation = false }"
  )

  ErPlugProduct(
    v-model="isOpenManagerRequestDialog"
    isSendManagerRequest
    :requestData="getRequestDataForDDoSConnect"
  )

