div(:class="`${pre}`").main-content.main-content--padding.main-content--top-menu-fix
  er-preloader(:active="loadingClientInfo")
    h4(:class="`${pre}__organisation-name`")
      | {{ clientName || 'Неизвестная организация' }}
  h1.fonts--demi(:class="`${pre}__welcome-title`")
    | Добро пожаловать в личный кабинет
  div(:class="`${pre}__balance--mobile`")
    div.caption.mb-8
      | Ваш баланс
    er-preloader(:active="menuComponentBalance")
      div.d--flex.align-items-center(:class="`${pre}__balance--mobile__wrapper`")
        div.icon
          er-icon(name="wallet_auto")
        a.link--solid--yellow.fonts--demi.rub {{ balanceInfo.balance || '0.0' }}
        span(v-if="balanceInfo.autoPay") Автоплатёж
  er-container
    | Здесь сторис
  er-container.mb-48(full)
    er-row(no-gutters)
      er-flex(xs12 :class="`${pre}__fast-links`")
        er-row()
          er-flex.mb-16.pr-8(xs6 xl3)
            er-preloader(:active="loadingDocuments" icon)
              router-link.index-page__fast-link(to="/lk/documents")
                .content
                  .title
                    | Мои документы
                  .footer.d--flex.align-items-end.mt-auto
                    .new(v-if="getCountUnsignedDocument !== 0")
                      .caption.mb-4
                        | Новые
                      .value
                        | {{ getCountUnsignedDocument }}
                    .icon.ml-auto
                      er-icon(name="doc")
          er-flex.mb-16.pr-8(xs6 xl3)
            er-preloader(:active="loadingRequest" icon)
              router-link.index-page__fast-link(to="/lk/support")
                .content
                  .title
                    | Оставить заявку
                  .footer.d--flex.align-items-end.mt-auto
                    .new(v-if="getCountRequestInWork")
                      .caption.mb-4
                        | В работе
                      .value
                        | {{ getCountRequestInWork }}
                    .icon.ml-auto
                      er-icon(name="lifebuoy")
          er-flex.mb-16.pr-8(xs6 xl3)
            er-preloader(:active="loadingPromisedPayment" icon)
              router-link.index-page__fast-link(to="/")
                .content
                  .title
                    | Обещанный платёж
                  .footer.d--flex.align-items-end.mt-auto
                    template(v-if="false")
                      .new
                        .caption.mb-4
                          | Осталось:
                        .promised-payment-left
                          span 03
                          span :12
                          span :60
                      .promised-payment-left__line
                        .promised-payment-left__passed(:style="{ width: '25%' }")
                    template(v-else)
                      .icon.ml-auto
                        er-icon(name="trast_pay")
          er-flex.mb-16(xs6 xl3)
            er-preloader(:active="loadingInvoiceForPayment" icon)
              er-document-viewer(
                :list-document="invPaymentsForViewer"
                :is-digital-signing="false"
                :is-manual-signing="false"
                v-model="isOpenViewer"
                ref="viewer"
              )
                template(v-slot:activator="{ on }")
                  a.index-page__fast-link(href="#", v-on="on")
                    .content
                      .title
                        | Счёт на оплату
                      .footer.d--flex.align-items-end.mt-auto
                        .icon.ml-auto
                          er-icon(name="rouble")
  h2(:class="`${pre}__service__title`")
    | Подключенные услуги
  div.mb-24(:class="`${pre}__filters`")
    div(:class="`${pre}__filters--mobile`")
      div.caption.mb-12
        | Фильтровать
      er-slide-up-down(:active="!isOpenFilter")
        div.d--flex.align-items-center(:class="`${pre}__filters--mobile__result`")
          div.icon.mr-16
            er-icon(name="filter_1")
          div.by-sort
            a(@click="openFilterForm") {{ modelSortService | sortBy }}
      er-slide-up-down(:active="isOpenFilter")
        div(:class="`${pre}__filters--mobile__form`")
          div.d--flex.justify-content-between.mb-24(:class="`${pre}__filters--mobile__form__row`")
            div(:class="`${pre}__filters--mobile__form__input`")
              er-text-field(
                label="Фильтрация по точкам",
                v-model="modelFilterService",
                appendInnerIcon="close",
                @click:append-inner="clearModelFilterService"
                )
            div(:class="`${pre}__filters--mobile__form__close`", @click="closeFilterForm")
              er-icon(name="corner_up")
          div.d--flex(:class="`${pre}__filters--mobile__form__row`")
            div(:class="`${pre}__filters--mobile__form__switch`")
              er-switch(:labels="dataFilterSwitch", v-model="modelSortService", name="sortService")
    div.justify-content-between.mb-24(:class="`${pre}__filters--desktop`")
      div.mr-8(:class="`${pre}__filters--desktop__input`")
        er-text-field(
          label="Фильтрация по точкам",
          v-model="modelFilterService",
          appendInnerIcon="close",
          @click:append-inner="clearModelFilterService"
        )
      div.ml-8(:class="`${pre}__filters--desktop__toggle`")
        er-switch(:labels="dataFilterSwitch", v-model="modelSortService", name="sortService")
  template(v-if="indexPageProductByAddress")
    div(:class="`${pre}__products__loading`")
      .content
        img(:src="require('@/assets/images/preloaders/3.svg')")
  template(v-else-if="isEmptyListProduct")
    div(:class="`${pre}__products__empty`")
      .content
        er-icon(name="no")
        | Нет подключённых продуктов
  template(v-else)
    template(v-if="modelSortService === 'service'")
      product-item-component.mb-4(
        v-for="product in listProductByService"
        :key="product.code"
        :title="product.name"
        :price="product.price"
        :product-type="product.code"
        sort-by="service"
      )
    template(v-else)
      product-item-component.mb-4(
        v-for="product in listProductByAddress"
        :key="product.id"
        :title="product.address"
        :price="product.price"
        :address-id="product.addressId"
        sort-by="office"
      )

  er-toast-stack(
    @click="onClickToast"
  )
