div(:class="`${pre}`")
  er-overlay(v-model="openLeftMenu", :z-index="6")
  er-overlay(v-model="isOpenRightPanel", :z-index="6")
  div(:class="[`${pre}__left`, { 'open': openLeftMenu || isDesktop }]")
    div(:class="`${pre}__left__head`")
      div(:class="`${pre}__left__head__close`", @click="toggleLeftMenu")
        er-icon(name="close")
      div(:class="[`${pre}__left__head__all-menu`, { visible: openSubMenuBackground }]", @click="closeSubMenuNBackground")
        er-icon(name="corner_down")
        | Всё меню
      div(:class="`${pre}__left__head__logo`")
        img(src="@/assets/images/logo.png")
    div(:class="[`${pre}__left__body`, { 'open-sub-menu': isOpenSubMenu }]")
      div(:class="[`${pre}__left__body__background-sub-menu`, { open: openSubMenuBackground }]")
      div(
        v-for="(menuItem, index) in menu",
        :class="`${pre}__left__body-item`",
        @click="openSubMenu(menuItem, index, $event)",
        :key="index"
      )
        er-tooltip(right)
          template(v-slot:activator="{ on }")
            div(:class="[`${pre}__left__body-item__icon`, { active: menuItem.isOpen }]", v-on="on")
              er-icon(:name="menuItem.icon")
          span {{ menuItem.name }}
        div(:class="`${pre}__left__body-item__name`")
          | {{ menuItem.name }}
        div(:class="`${pre}__left__body-item__toggle`")
          er-icon(name="corner_down")
        div(:class="[`${pre}__left__body-item__sub-items`, { open: menuItem.isOpen }]")
          router-link(
            :class="[`${pre}__left__body-item__sub-item`, 'main']"
            :to="menuItem.url ? menuItem.url : '/'"
            )
            | {{ menuItem.name }}
          router-link(
            v-for="(subItem, subIndex) in menuItem.subitem",
            :class="[`${pre}__left__body-item__sub-item`, { open: subItem.isOpen }]",
            :key="subIndex"
            :to="subItem.url ? subItem.url : '/'"
          )
            .subitem__name(:class="{main: subItem.subname}") {{ subItem.name }}
            span.subitem__subname(v-if="subItem.subname") {{ subItem.subname }}

  div(:class="`${pre}__top`")
    div(:class="`${pre}__top__burger`", @click="toggleLeftMenu")
      er-icon(name="burger")
    div(:class="`${pre}__top__logo`")
      a(href="#")
        img(src="@/assets/images/logo.png")
    div(:class="`${pre}__top__personal-account ${pre}__top__link--desktop`")
      div.icon.mr-8
      div.info.d--flex.flex-column
        span.caption.ml-4(
          )
          | Лицевой счёт
        er-corner-button(
          :value="isOpenedCornerButton"
          :is-link-dashed-yellow="true"
          @input="openCornerButton"
          )
          er-menu(
            v-model="isOpenedCornerButton"
            offset-y,
            min-width="407",
            z-index="8",
            :close-on-content-click="false",
            transition="slide-y-transition",
            nudge-left="26"
            @input="isOpenedCornerButton = !isOpenedCornerButton"
          )
            template(v-slot:activator="{ on }")
              er-preloader(:active="menuComponentBillingAccount")
                a.link--dashed--yellow(href="#", v-on="on", @click.prevent="").ml-4
                  | {{ activeBillingAccountNumber || 'Нет лицевых счетов' }}
            div(:class="`${pre}__top__dropdown`")
              div(:class="`${pre}__top__dropdown__content`")
                div.caption.mb-4
                  | Организация:
                div.organization.mb-32
                  | {{ legalName }}
                  .change-org-button(@click="onChangeOrganization") Выбрать другую организацию

                div.caption-choise.mb-16
                  | Выберите лицевой счёт
                template(
                  v-for="(accounts, contract) in getBillingAccountsGroupByContract"
                )
                  div.caption.mb-4
                    | Договор №
                  div.agreement.mb-8
                    | {{ contract }}
                  div.wrapper-line.mb-8
                    div.personal-account.ml-24(
                      v-for="(account) in accounts"
                      :key="account.billingAccountId"
                      :class="{ 'active': activeBillingAccountId === account.billingAccountId }"
                      @click="onChangeBillingAccount(account)"
                    )
                      div.caption.mt-4
                        | Лицевой счет
                      div.value.mt-0
                        er-icon(name="ok")
                        | {{ account.accountNumber }}
                div.fill-foundation.foundation-pouring &nbsp
              div.profile.mt-8
                er-icon.mr-8(name="profile")
                router-link(to="/lk/profile") Профиль

    div(:class="[`${pre}__top__balance`, `${pre}__top__link--desktop`, { 'autopay': isAutopay }]")
      div.icon.mr-8
        er-icon(name="wallet_auto")
      div.info
        er-menu(
          offset-y,
          min-width="303",
          max-width="338",
          z-index="8",
          transition="slide-y-transition",
          nudge-left="21")
          template(v-slot:activator="{ on }")
            er-preloader(:active="menuComponentBalance")
              a.link--solid--yellow(href="#", v-on="on", @click.prevent="")
                | {{ balance | price }}
              span.caption(:class="{ 'autopay': isAutopay }") Автоплатеж
          div(:class="`${pre}__top__dropdown`")
            div(:class="`${pre}__top__dropdown__content`")
              div.caption.mb-4
                | Ваш баланс
                span.caption.caption-autopay(:class="{ 'autopay': isAutopay }") (Автоплатеж)
              div.caption-balance.mb-24
                .rub
                  | {{ balance | price }}
              div.caption.mb-8
                router-link(to="/lk/payments/card-payment" :class="[`change-pay-button`]" ) Пополнить онлайн
              div.caption.mb-24
                router-link(to="/lk/payments/promise-payments" :class="[`change-pay-button`]" ) Активировать обещанный платеж
              div.balance
                .mt-24
                  er-icon.mr-8(name="rouble")
                  router-link(to="/lk/payments/history") Платежи и начисления

    div(:class="`${pre}__top__manager ${pre}__top__link--desktop`")
      div.info
        er-menu(
          offset-y,
          min-width="238",
          z-index="8",
          transition="slide-y-transition",
          nudge-left="21"
          )
          template(v-slot:activator="{ on }")
            er-preloader(:active="menuComponentManager")
              a.link--dashed--yellow.manager-link(href="#", v-on="on", @click.prevent="")
                | Персональный менеджер
          div.manager(:class="`${pre}__top__dropdown`")
            div(:class="`${pre}__top__dropdown__content`")
              div.caption.mb-4
                | Ваш персональный менеджер
              div.value-manager.mb-12
                | {{ getManagerInfo.name }}
              div.caption.mb-4
                | Телефон
              div.value.mb-12
                | {{ getManagerInfo.phone }}
              div.caption.mb-4
                | Эл. почта
              div.value.mb-12
                a(:href="`mailto:${getManagerInfo.email}`") {{ getManagerInfo.email }}
              div.support
                .mt-24
                  er-icon.mr-8(name="service")
                  router-link(to="/lk/support") Поддержка
    div.ml-auto(
      :class="`${pre}__top__chat`"
      @click="onClickChat()"
    )
      er-icon(name="chat")
    div(
      :class="getBellClass()"
      :data-count="notificationCount"
      @click="onClickNotifications()"
    )
      er-icon(name="bell")
    div.ml-56(:class="`${pre}__top__exit`", @click="signOut")
      er-icon(name="exit")
    div(:class="`${pre}__top__profile--mobile`", @click="toggleRightPanel")
      er-icon(name="profile")
    div(:class="`${pre}__top__loader`")

  right-info-panel-component(
    @change-org="onChangeOrganization"
    v-model="isOpenRightPanel"
  )

  change-organization-popup(
    :active="showChangeOrganizationPopup"
    @close="showChangeOrganizationPopup=false"
  )
