div(:class="`${pre}`")
  er-overlay(v-model="openLeftMenu", :z-index="6")
  er-overlay(v-model="isOpenRightPanel", :z-index="6")
  div(:class="[`${pre}__left`, { 'open': openLeftMenu || isDesktop }]")
    div(:class="`${pre}__left__head`")
      div(:class="`${pre}__left__head__close`", @click="toggleLeftMenu")
        er-icon(name="close")
      div(:class="[`${pre}__left__head__all-menu`, { visible: openSubMenuBackground }]", @click="closeSubMenuNBackground")
        er-icon(name="corner_down")
        | Всё меню
      div(:class="`${pre}__left__head__logo`")
        img(src="@/assets/images/logo.png")
    div(:class="[`${pre}__left__body`, { 'open-sub-menu': isOpenSubMenu }]")
      div(:class="[`${pre}__left__body__background-sub-menu`, { open: openSubMenuBackground }]")
      div(

      v-for="(menuItem, index) in menu",

      :class="`${pre}__left__body-item`",
        @click="openSubMenu(menuItem)",
        :key="index"
      )
        er-tooltip(right)
          template(v-slot:activator="{ on }")
            div(:class="[`${pre}__left__body-item__icon`, { active: menuItem.isOpen }]", v-on="on")
              er-icon(:name="menuItem.icon")
          span {{ menuItem.name }}
        div(:class="`${pre}__left__body-item__name`")
          | {{ menuItem.name }}
        div(:class="`${pre}__left__body-item__toggle`")
          er-icon(name="corner_down")
        div(:class="[`${pre}__left__body-item__sub-items`, { open: menuItem.isOpen }]")
          router-link(
            :class="[`${pre}__left__body-item__sub-item`, 'main']"
            :to="menuItem.url ? menuItem.url : '/'"
            )
            | {{ menuItem.name }}
          router-link(
            v-for="(subItem, subIndex) in menuItem.subitem",
            :class="[`${pre}__left__body-item__sub-item`, { open: subItem.isOpen }]",
            :key="subIndex"
            :to="subItem.url ? subItem.url : '/'"
          )
            | {{ subItem.name }}
  div(:class="`${pre}__top`")
    div(:class="`${pre}__top__burger`", @click="toggleLeftMenu")
      er-icon(name="burger")
    div(:class="`${pre}__top__logo`")
      a(href="#")
        img(src="@/assets/images/logo.png")
    div(:class="`${pre}__top__personal-account ${pre}__top__link--desktop`")
      div.icon.mr-8
        er-icon(name="profile")
      div.info
        span.caption
          | Лицевой счёт
        er-menu(
          offset-y,
          min-width="319",
          :close-on-content-click="false",
          transition="slide-y-transition",
          nudge-left="26"
        )
          template(v-slot:activator="{ on }")
            er-preloader(:active="menuComponentBillingAccount")
              a.link--dashed--yellow(href="#", v-on="on", @click.prevent="")
                | {{ activeBillingAccountNumber || 'Нет лицевых счетов' }}
          div(:class="`${pre}__top__dropdown`")
            div(:class="`${pre}__top__dropdown__content`")
              div.caption.mb-4
                | Организация
              div.organization.mb-32
                | {{ legalName }}
                .change-org-button(@click="onChangeOrganization") Выбрать другую организацию

              div.caption-choise.mb-16
                | Выберите лицевой счёт
              template(
                v-for="(accounts, contract) in getBillingAccountsGroupByContract"
              )
                div.caption.mb-4
                  | Договор №
                div.agreement.mb-8
                  | {{ contract }}
                div.personal-account(
                  v-for="account in accounts"
                  :key="account.billingAccountId"
                  :class="{ 'active': activeBillingAccountId === account.billingAccountId }"
                  @click="onChangeBillingAccount(account.billingAccountId, account.accountNumber)"
                )
                  div.caption
                    | Лицевой счет
                  div.value
                    er-icon(name="ok")
                    | {{ account.accountNumber }}
              div.profile
                er-icon.mr-8(name="profile")
                router-link(to="/lk/profile") Профиль

    div(:class="[`${pre}__top__balance`, `${pre}__top__link--desktop`, { 'autopay': isAutopay }]")
      div.icon.mr-8
        er-icon(name="wallet_auto")
      er-preloader(:active="menuComponentBalance")
        div.info
          a(href="#").link--solid--yellow {{ balanceInfo.balance | price }}
          span.caption(:class="{ 'autopay': isAutopay }") Автоплатеж

    div(:class="`${pre}__top__manager ${pre}__top__link--desktop`")
      div.icon.mr-8
        er-icon(name="manager")
      div.info
        er-menu(offset-y, min-width="238", max-width="338", transition="slide-y-transition", nudge-left="21")
          template(v-slot:activator="{ on }")
            er-preloader(:active="menuComponentManager")
              a.link--dashed--yellow.manager-link(href="#", v-on="on", @click.prevent="")
                | Персональный менеджер
          div.manager(:class="`${pre}__top__dropdown`")
            div(:class="`${pre}__top__dropdown__content`")
              div.caption.mb-4
                | Ваш персональный менджер
              div.value.mb-12
                | {{ getManagerInfo.name }}
              div.caption.mb-4
                | Телефон
              div.value.mb-12
                a(:href="`tel:${getManagerInfo.phone}`") {{ getManagerInfo.phone | formatPhone }}
              div.caption.mb-4
                | Эл. почта
              div.value.mb-12
                a(:href="`mailto:${getManagerInfo.email}`") {{ getManagerInfo.email }}
              div.support
                er-icon.mr-8(name="service")

                router-link(to="/lk/support") Поддержка
    div.ml-auto(
      :class="`${pre}__top__chat`"
      @click="onClickChat()"
    )
      er-icon(name="chat")
    div(
      :class="getBellClass()"
      :data-count="notificationCount"
      @click="onClickNotifications()"
    )
      er-icon(name="bell")
    div.ml-56(:class="`${pre}__top__exit`", @click="signOut")
      er-icon(name="exit")
    div(:class="`${pre}__top__profile--mobile`", @click="toggleRightPanel")
      er-icon(name="profile")
    div(:class="`${pre}__top__loader`")

  right-info-panel-component(
    @change-org="onChangeOrganization"
    v-model="isOpenRightPanel"
  )

  change-organization-popup(
    :active="showChangeOrganizationPopup"
    @close="showChangeOrganizationPopup=false"
  )
