div(:class="`${pre}`")
  div(:class="`${pre}__left`")

  div(:class="`${pre}__top`")
    div(:class="`${pre}__top__burger`")
      er-icon(name="burger")
    div(:class="`${pre}__top__logo`")
      a(href="#")
        img(src="@/assets/images/logo.png")
    div(:class="`${pre}__top__personal-account ${pre}__top__link--desktop`")
      div.icon.mr-8
        er-icon(name="profile")
      div.info
        span.caption
          | Лицевой счёт
        er-menu(
          offset-y,
          min-width="319",
          :close-on-content-click="false",
          transition="slide-y-transition",
          nudge-left="26"
          )
          template(v-slot:activator="{ on }")
            a.link--dashed--yellow(href="#", v-on="on", @click.prevent="")
              | 0987654321
          div(:class="`${pre}__top__dropdown`")
            div(:class="`${pre}__top__dropdown__content`")
              div.caption.mb-4
                | Организация
              div.organization.mb-32
                | АО "Эр-Телеком Холдинг", Пермский филиал
              div.caption-choise.mb-16
                | Выберите лицевой счёт
              div.caption.mb-4
                | Договор №
              div.agreement.mb-8
                | 78010000123456789999
              div.personal-account
                div.caption
                  | Лицевой счет
                div.value
                  | 15890065432000
              div.profile
                er-icon.mr-8(name="profile")
                a(href="#") Профиль
    div.autopay(:class="`${pre}__top__balance ${pre}__top__link--desktop`")
      div.icon.mr-8
        er-icon(name="wallet_auto")
      div.info
        a(href="#").link--solid--yellow 212 000,94
        span.caption.color--green-base.autopay Автоплатеж
    div(:class="`${pre}__top__manager ${pre}__top__link--desktop`")
      div.icon.mr-8
        er-icon(name="manager")
      div.info
        er-menu(offset-y, min-width="238", max-width="338", transition="slide-y-transition", nudge-left="21")
          template(v-slot:activator="{ on }")
            a.link--dashed--yellow(href="#", v-on="on", @click.prevent="")
              | Ваш персональный менеджер
          div.manager(:class="`${pre}__top__dropdown`")
            div(:class="`${pre}__top__dropdown__content`")
              div.caption.mb-4
                | Ваш персональный менджер
              div.value.mb-12
                | Черноморцева Татьяна Александровна
              div.caption.mb-4
                | Телефон
              div.value.mb-12
                a(href="tel:73422983456") +7 342 298 34 56
              div.caption.mb-4
                | Эл. почта
              div.value.mb-12
                a(href="mailto:konstantinopolsky@domru.ru") konstantinopolsky@domru.ru
              div.support
                er-icon.mr-8(name="service")
                a(href="#") Поддержка
    div.ml-auto(:class="`${pre}__top__chat ${pre}__top__badge`", data-count="15")
      er-icon(name="chat")
    div(:class="`${pre}__top__notification ${pre}__top__badge`", data-count="25")
      er-icon(name="bell")
    div.ml-56(:class="`${pre}__top__exit`")
      er-icon(name="exit")
    div(:class="`${pre}__top__profile--mobile`")
      er-icon(name="profile")