er-dialog(
  :value="active"
  @update:returnValue="onClose"
  :contentClass="'change-org-dialog'"
)
  .change-org-popup__body
    .change-org-popup__close
      er-close-button(@click="onClose")

    .change-org-popup__content(v-if="isIE11")
      h2 Ваш браузер устарел
      br
      p Просим вас воспользоваться другим браузером для отображения данной страницы

    .change-org-popup__content(v-else)
      template(v-if="isWaitMode")
        .preloader-container
          er-preloader(icon=true, active)

      iframe(
        class="change-org-frame"
        v-class-mod="{hidden: isWaitMode}"
        :src="frameUrl"
        ref="iframe"
        width="100%"
        height="350px"
        frameborder="0"
      )

    .change-org-popup__actions
      .col
        er-button(
          color="gray"
          @click="onClose"
        ) Отмена
