.telephony-redirection
  .telephony-redirection__head.main-content--top-menu-fix
    er-page-header(
      linkText="Назад в Телефонию"
      title="Переадресация"
      backlink="/lk/telephony"
    )
  er-preloader(:active="isLoading" icon)
    .telephony-redirection__address
      ListPointComponent(:list="addressList" v-model="currentAddress")
  .telephony-redirection__w-content
    template(v-if="addRedirectionMode")
      add-redirection-form(
        :phonesList="freePhonesList"
        :locationId="locationId"
        @cancel="onHideAddForm"
      )

    er-preloader(:active="isLoadingRedirections" v-if="!addRedirectionMode") 
      redirection-table(
        v-if="isLoadingRedirections || redirectionList.length"
        :list="redirectionList"
        @update="update"
      )

  .button
    er-button(
      v-if="!addRedirectionMode && freePhonesList.length"
      @click="addRedirectionMode = true"
      color="blue"
    ) Добавить
