div.change-password--mobile(v-if="(isXS || isSM) && stateModalVisibility")
  h1.change-password--mobile__title Смена пароля
  a.change-password--mobile__close(@click="close")
    span
      ErIcon(name="close" width="16" height="16")
  p.text-sm.err.mb-16.mt-16(v-if="!!serverError") {{ serverError }}
  p.text-sm.mb-16.mt-16(v-else) В целях вашей безопасности рекомендуем менять пароль один раз в месяц. Пароль должен состоять из комбинации букв, цифр, cпецсимволов и быть не менее 8 и не более 16 символов.
  ErRow.change-password--mobile__checks
    ErFlex.change-password--mobile__check(xs4 sm4 :class="[checkEmptyFields ? '' : isLettersOk ? 'ok' : 'err']" )
      span.text-xl
        | A-z
        ErIcon.change-password__icon(v-if="!!this.passwordNew" :name="checkEmptyFields ? '' : isLettersOk ? 'ok' : 'close'")
      span.text-xs(v-if="!isXS") Латинские символы с верхним и нижним регистром
    ErFlex.change-password--mobile__check(xs4 sm4 :class="[checkEmptyFields ? '' : isNumbersOk ? 'ok' : 'err']")
      span.text-xl
        | 0-9
        ErIcon.change-password__icon(v-if="!!this.passwordNew" :name="checkEmptyFields ? '' : isNumbersOk ? 'ok' : 'close'")
      span.text-xs(v-if="!isXS") Цифра или несколько цифр
    ErFlex.change-password--mobile__check(xs4 sm4 :class="[checkEmptyFields ? '' : isSymbolsOk ? 'ok' : 'err']" )
      span.text-xl
        | _ ] [ - . ! #
        ErIcon.change-password__icon(v-if="isSymbolsOk" :name="checkEmptyFields ? '' : isSymbolsOk ? 'ok' : 'close'")
      span.text-xs(v-if="!isXS") Возможные спецсимволы
  ErtForm.change-password__form(@submit.prevent="submit")
    ErtTextField.change-password__field_new(
      v-model="passwordNew"
      key="newpass"
      :class="[checkEmptyFields ? '' : isConfirmCorrect ? 'ok' : 'err']"
      :type="isShowPassword ? 'text' : 'password'"
      name="inputPasswordNew"
      label="Новый пароль"
      :rules="ruleFunc(passwordNewRule)"
      :appendIcon="isShowPassword ? 'eye_open' : 'eye_close'"
      @click:append="() => { isShowPassword = !isShowPassword }"
    )
    ErtTextField.change-password__field_conf.mt-16(
      v-model="passwordConfirm"
      key="confirmpass"
      :class="[checkEmptyFields ? '' : isConfirmCorrect ? 'ok' : 'err']"
      :type="isShowConfirm ? 'text' : 'password'"
      name="inputPasswordConfirm"
      label="Подтвердите пароль"
      :rules="ruleFunc(passwordConfirmRule)"
      :appendIcon="isShowConfirm ? 'eye_open' : 'eye_close'"
      :disabled="!isPasswordCorrect"
      @click:append="() => { isShowConfirm = !isShowConfirm }"
    )
    ErRow.change-password__buttons.mt-32
      ErFlex.change-password__button_wrap(xs12 sm6)
        ErButton.change-password__button(
          type="submit"
          :disabled="!isPasswordCorrect || !isConfirmCorrect"
          @click="dataLayerPush({ category: 'profile', label: 'requestchangepass' })"
        ) Сменить
      ErFlex.change-password__button_wrap(xs12 sm6)
        ErButton.change-password__button(
          flat
          @click="close(); dataLayerPush({ category: 'profile', label: 'cancel' })"
        ) Отмена
er-dialog.change-password(
  v-else
  :value="stateModalVisibility"
  :maxWidth="calculatedModalSize"
  persistent
  @update:returnValue="close()"
)
  ErCard.change-password__card
    div.change-password__inner
      h1.change-password__title Смена пароля
      p.text-sm.err.mb-16(v-if="!!serverError") {{ serverError }}
      p.text-sm.mb-16(v-else) В целях вашей безопасности рекомендуем менять пароль один раз в месяц. Пароль должен состоять из комбинации букв, цифр, cпецсимволов и быть не менее 8 и не более 16 символов.
      ErRow.change-password__checks
        ErFlex.change-password__check(xs12 sm4 :class="[checkEmptyFields ? '' : isLettersOk ? 'ok' : 'err']" )
          span.text-xl
            | A-z
            ErIcon.change-password__icon(v-if="!!this.passwordNew" :name="checkEmptyFields ? '' : isLettersOk ? 'ok' : 'close'")
          span.text-xs Латинские символы с верхним и нижним регистром
        ErFlex.change-password__check(xs12 sm4 :class="[checkEmptyFields ? '' : isNumbersOk ? 'ok' : 'err']" )
          span.text-xl
            | 0-9
            ErIcon.change-password__icon(v-if="!!this.passwordNew" :name="checkEmptyFields ? '' : isNumbersOk ? 'ok' : 'close'")
          span.text-xs Цифра или несколько цифр
        ErFlex.change-password__check(xs12 sm4 :class="[checkEmptyFields ? '' : isSymbolsOk ? 'ok' : 'err']" )
          span.text-xl
            | _ ] [ - . ! #
            ErIcon.change-password__icon(v-if="isSymbolsOk" :name="checkEmptyFields ? '' : isSymbolsOk ? 'ok' : 'close'")
          span.text-xs Возможные спецсимволы
      ErtForm.change-password__form(@submit.prevent="submit")
        ErtTextField.change-password__field_new(
          v-model="passwordNew"
          key="newpass"
          :class="[checkEmptyFields ? '' : isConfirmCorrect ? 'ok' : 'err']"
          :type="isShowPassword ? 'text' : 'password'"
          name="inputPasswordNew"
          label="Новый пароль"
          :rules="ruleFunc(passwordNewRule)"
          :appendIcon="isShowPassword ? 'eye_open' : 'eye_close'"
          @click:append="() => { isShowPassword = !isShowPassword }"
        )
        ErtTextField.change-password__field_conf.mt-16(
          v-model="passwordConfirm"
          key="confirmpass"
          :class="[checkEmptyFields ? '' : isConfirmCorrect ? 'ok' : 'err']"
          :type="isShowConfirm ? 'text' : 'password'"
          name="inputPasswordConfirm"
          label="Подтвердите пароль"
          :rules="ruleFunc(passwordConfirmRule)"
          :appendIcon="isShowConfirm ? 'eye_open' : 'eye_close'"
          :disabled="!isPasswordCorrect"
          @click:append="() => { isShowConfirm = !isShowConfirm }"
        )
        ErRow.change-password__buttons
          ErFlex.change-password__button_wrap(xs12 sm6)
            ErButton.change-password__button(
              type="submit"
              :disabled="!isPasswordCorrect || !isConfirmCorrect"
              @click="dataLayerPush({ category: 'profile', label: 'requestchangepass' })"
            ) Сменить
          ErFlex.change-password__button_wrap(xs12 sm6)
            ErButton.change-password__button(
              @click="close(); dataLayerPush({ category: 'profile', label: 'cancel' })"
              flat
            ) Отмена
