.phone-statistic
  table
    thead
      tr
        td.col-type
          er-table-filter(
            title="Тип"
          )

        td.col-date
          er-table-filter(
            :value="true"
            title="Дата, время"
          )

        td.col-phone
          er-table-filter(
            title="Номер"
          )

        td.col-region Регион

        td.col-duration
          er-table-filter(
            title="Длител."
          )

        td.col-price
          er-table-filter(
            title="С пакетом"
          )
        td.col-price2
          er-table-filter(
            title="Цена факт."
          )
          span.rub

    tbody-collapser(
      title="01.02.2020"
      :columns="7"
      :startOpened="true"
    ).statistic-table
      template(v-for="call in log")
        connection-row(:type="call.type")

    tbody-collapser(
      title="02.02.2020"
      :columns="7"
      :startOpened="true"
    ).statistic-table
      template(v-for="call in log")
        connection-row(:type="call.type")

  .phone-statistic__footer
    er-pagination(
      :total-visible="5"
      :length="20"
      v-model="currentPhonePage"
      :value="1"
    )

    .phone-statistic__collapser
      span.link--dashed Свернуть
      er-corner-button(:value="true")
