// Payments Off

div(:class="`${pre}`")
  er-container(full :class="`${pre}__container`")
    er-row.justify-content-between.no-gutters
      er-flex(xs2 )
        div(:class="`${pre}__container`")
          er-icon(name="cancel" :class="`${pre}__icon-height`")
      er-flex(xs10)
        div(:class="`${pre}__pos`")
          h2.mb-4(style="")
            | Оплата не прошла
          div(:class="`${pre}__info`")
            er-icon(name="close" :class="`${pre}__info__icon`")
            span.caption(:class="`${pre}__info__span`")
              | Автоплатёж не включен
          div.mt-20(:class="`${pre}__info`")
            er-icon(name="close" :class="`${pre}__info__icon`")
            span.caption(:class="`${pre}__info__span`")
              | Карта не сохранена

    er-container(:class="`${pre}__butt__container`")
      er-row.no-gutters.justify-content-between
        er-flex.no-gutters(xs12 sm6 lg3 xl3 :class="`${pre}__butt__left`")
          er-button(
            type="submit"
            @click="tryAgain"
          )
            | Попробовать снова

        er-flex.no-gutters(xs12 sm6 lg9 xl3 offset-xs1 :class="`${pre}__butt__right`")
          .er-attach(:class="`${pre}__butt__icon`")
            er-icon(name="chat")
            a.link--dashed--black(
              @click="tryAgain"
              :class="`${pre}__butt__text`"
            ) Спросить в чате



