.product
  .product__head
    .product__head-count
      .product-top-head
        .link-wrap
          er-icon(name="watch")
          router-link.link(:to="{ name: 'go-to-forpost' }") Перейти на портал

        .user-count
          .user-count__input
            label.user-count__label(for="input-user-count") Пользователей портала

            template(v-if="isDisableChangeUserCount")
              .user-count__value {{ domainUserCount }}

            template(v-else)
              er-number-input#input-user-count(
                :min="0"
                v-model="domainUserCount"
                @input="onChangeUserCount",
                :disabled="isUserCountOrdered"
              )

          .user-count__price
            er-price {{ computedUserPrice | price }}

          er-button.user-count__add-btn(
            v-show="isUserCountChanged && !isUserCountOrdered"
            color="yellow",
            :loading="isUserOrderMode"
            @click="onSaveUserCount"
          ) Изменить

    .product__head-title
      h2 Подключенные камеры
      er-text-field(
        label="Название камеры",
        append-inner-icon="lens"
        :value="searchCameraText"
        @input="onInputSearchCamera"
      )

  .product__body
    template(v-for="item in addressList")
      address-folder(
        :title="item.location.fulladdress || ''",
        :price="item.data.purchasedPrices.recurrentTotal.value"
        :active="searchCameraText.length > 1 && searchInputEnd && filterCameraListBySearchText(item.data.cameras).length > 0"
        v-class-mod="{'search-result': (searchCameraText.length > 1 && searchInputEnd && filterCameraListBySearchText(item.data.cameras).length > 0)}"
      )
        .camera-list__head
          .col.col--device-name имя оборудования
          .col Модель камеры
          .col.col--actions

        template(v-for="camera in item.data.cameras")
          camera(
            :key="camera.id"
            v-if="camera.status !== 'Disconnected'"
            :data="camera"
            :showPrice="true"
            :price="item.data.bf[camera.parentId].purchasedPrices.recurrentTotal.value",
            :services="item.data.bf[camera.parentId]"
            v-class-mod="{'search-result': matchCameraSearchQuery(camera)}"
          )

  .product__footer
    er-button(
      color="yellow",
      :loading="isOrderCameraMode"
      @click="onClickAddCamera"
    ) Добавить камеру
    er-button(color="gray" @click="onClickPause") Приостановить услугу

  offer-dialog(
    :value="activeState === 'offer'"
    title="Вы уверены, что хотите подключить дополнительных пользователей?"
    offerType="cctv"
    actionButtonText="Подключить"
    @confirm="onAcceptOffer"
    @cancel="onDeclineOffer"
  )
    .caption1 стоимость:&nbsp;
      er-price {{ computedUserPrice | price }}
    .mb-24

  er-plug-product(
    v-model="isOrderModalVisible",
    :orderData="orderData",
    :requestData="requestData",
    :isSendOrder="!isManagerRequest",
    :isSendManagerRequest="isManagerRequest"
    @close="onClosePlugProduct"
    @cancelOrder="onCancelOrder"
    @successOrder="onSuccessOrder"
    @closeSuccess="onCloseSuccess"
  )

  er-activation-modal(
    type="question"
    v-model="isShowDisableUserCountModal"
    title="Отключение услуги"
    actionButtonText="Отключить"
    :persistent="true"
    @confirm="sendOrder"
    @cancel="cancelOrder"
  )
    template(v-slot:description)
      | Вы действительно хотите отключить услугу "Дополнительные пользователи"?

  er-activation-modal(
    type="success"
    v-model="isShowSuccessOrderModal"
    title="Заказ успешно создан"
    :isShowCancelButton="false"
    actionButtonText="Спасибо"
    :persistent="true"
    @confirm="onCloseSuccessOrderModal"
  )
    template(slot="description")
      | Заказ создан успешно. Выполнение заказа может занять некоторое время.&nbsp;
      | Актуальный статус можно узнать в&nbsp;
      router-link(to="/lk/orders") разделе Заказы.

  er-available-funds-modal(
    v-model="isFundsModalVisible"
    :available="availableFunds"
    :cost="computedUserPrice"
    @close="onCloseAvailableFundsModal"
  )

