div(:class="`${pre}`")
  div(:class="`${pre}__inner`")
    div(:class="`${pre}__title`") Организация
    template(v-if="filled")
      div(:class="`${pre}__name`")
        div(:class="`${pre}__caption`")
          p(:class="`${pre}__caption-text`")
            | Наименование:
          p(:class="`${pre}__caption-title`")
            | {{ name }}
      div(:class="`${pre}__requisites`")
        div(:class="`${pre}__caption`")
          p(:class="`${pre}__caption-text`")
            | ИНН:
          p(:class="`${pre}__caption-content`")
            | {{ inn }}
        div(:class="`${pre}__caption`")
          p(:class="`${pre}__caption-text`")
            | КПП:
          p(:class="`${pre}__caption-content`")
            | {{ kpp }}
        div(:class="`${pre}__caption`")
          p(:class="`${pre}__caption-text`")
            | ОГРН:
          p(:class="`${pre}__caption-content`")
            | {{ ogrn }}
      div(:class="`${pre}__address`")
        div(:class="`${pre}__caption`")
          p(:class="`${pre}__caption-text`")
            | Юр. адрес:
          p(:class="`${pre}__caption-content`")
            | {{ address }}
    template(v-else)
      div(:class="`${pre}__caption`")
        p(:class="`${pre}__caption-text`")
          | Наименование:
        p.mb-16(:class="`${pre}__caption-title`")
          | {{ name }}
      .flex-grow-1(:class="`${pre}__caption`")
        p.mb-40(:class="`${pre}__caption-content`")
          | Чтобы заключить договор и пользоваться услугами нужно заполнить данные организации. Это не займёт много времени, регистрация автоматизирована и занимает 5–8 минут

        er-button.fill-data-btn(
          :to="{ name: inn === emptyField ? 'company-inn' : 'company-edit' }"
        ) Заполнить данные
