// Confirm

er-dialog(v-model="internalVisible")
  div(:class="`${pre}__content d--flex flex-column`")
    div(
      :class="`${pre}__close`"
      @click="closeConfirm"
    )
      er-icon(name="close")
    div(:class="`${pre}__content__size`")
      er-icon(name="question" :class="`${pre}__icon-height`")

    div(:class="`${pre}__content__pos`" v-if="hint")
      h4 {{ title }}
        span.h3.ml-8(
          :class="`${pre}__integer-row`"
          v-if="err === ''"
        ) {{ sumPayInteger }}
        span.h3(
          :class="`${pre}__decimal-row`"
          v-if="err === ''"
        ) ,{{ sumPayDecimal }}
        span.rub(
          :class="`${pre}__currency-row`"
          v-if="err === ''"
        )
      h3(v-if="err !== ''") {{ subText }}
      div(v-else)
        span.h3(:class="`${pre}__integer`") {{ sumPayInteger }}
        span.h3(:class="`${pre}__decimal`") ,{{ sumPayDecimal }}
        span.rub(:class="`${pre}__currency`")
        h4(v-if="numCard !== 0") сохраненной картой:
        h3(v-if="numCard !== 0") {{ subText }}

    div(:class="`${pre}__header`" v-else)
      h3(:class="`${pre}__text__title${styleTitle}`") {{title}}
      div(:class="`${pre}__text__header`") {{description}}
      div(:class="`${pre}__text${styleTitle}`") {{subText}}


    div.caption(:class="`${pre}__err`" v-if="hasErr && err !== ''")
      | {{err}}

    div(:class="`${pre}__container-button`")
      div(:class="`${pre}__butt__xl`")
        er-flex.pr-28(xl7)
          er-button(
            type="submit"
            flat=true
            @click="buttLeft"
          ) {{buttLeftText}}
        er-flex.pr-24.pl-4(xl6)
          er-button.align-items-center(
            type="submit"
            @click="buttRight"
          ) {{buttRightText}}

      div(:class="`${pre}__butt`")
        //er-flex(sm9 md8 xl5)
        a.mr-16(
          @click="buttLeft"
          :class="`${pre}__no-text`"
        ) {{buttLeftText}}
        //er-flex(sm3 md4 xl6)
        a.ml-16(
          @click="buttRight"
          :class="`${pre}__yes-text`"
        ) {{buttRightText}}
