// Confirm

er-dialog(v-model="internalVisible")
  div(:class="`${pre}__content d--flex flex-column`")
    div(
      :class="`${pre}__close`"
      @click="closeConfirm"
    )
      er-icon(name="close")

    div(:class="`${pre}__content__size`")
      er-icon(name="question" :class="`${pre}__icon-height`")
    div(:class="`${pre}__content__pos`")
      h4 {{ title }}
        span.h3.ml-8(
          :class="`${pre}__integer-row`"
          v-if="err === ''"
        ) {{ sumPayInteger }}
        span.h3(
          :class="`${pre}__decimal-row`"
          v-if="err === ''"
        ) ,{{ sumPayDecimal }}
        span.rub(
          :class="`${pre}__currency-row`"
          v-if="err === ''"
        )
      h3(v-if="err !== ''") {{ subText }}
      div(v-else)
        span.h3(:class="`${pre}__integer`") {{ sumPayInteger }}
        span.h3(:class="`${pre}__decimal`") ,{{ sumPayDecimal }}
        span.rub(:class="`${pre}__currency`")
        h4(v-if="numCard !== 0") сохраненной картой:
        h3(v-if="numCard !== 0") {{ subText }}

    div.caption(:class="`${pre}__err`" v-if="hasErr && err !== ''")
      | {{err}}

    div(:class="`${pre}__container-button`")
      div(:class="`${pre}__butt__xl`")
        er-flex.pr-28(xl7)
          er-button(
            type="submit"
            @click="buttAct"
          ) {{buttText}}
        er-flex.pr-24.pl-4(xl6)
          er-button.align-items-center(
            type="submit"
            flat=true
            @click="closeConfirm"
          ) Отменить

      div(:class="`${pre}__butt`")
        er-flex(sm9 md8 xl5)
          a(
            @click="closeConfirm"
            :class="`${pre}__no-text`"
          ) Отменить
        er-flex(sm3 md4 xl6)
          a(
            @click="buttAct"
            :class="`${pre}__yes-text`"
          ) {{buttText}}
