div(:class="`${pre}`" )
  div(:class="`${pre}__wrapper`" )
    div(:class="`${pre}__row`")
      div(:class="`${pre}__icon-more`" @click="getMoreInfo")
        er-icon(name="corner_down" :class="{openned: isOpen}")

      div(:class="`${pre}__number`" @click="openStatistic")
        | {{ number }}
      div(:class="`${pre}__price`")
        div(:class="`${pre}__h4`") {{ price }} &nbsp;
        div(:class="`${pre}__units`") ₽/мес
      div(:class="`${pre}__remove`" @click="remove")
        er-icon(name="trashbox" @click="remove")
    er-slide-up-down(:active="isOpen")
      div(:class="`${pre}__slider`" )
        er-icon(name="stat" @click="$router.push('/lk/telephony/statistic')")
        div(class="statistic" @click="$router.push('/lk/telephony/statistic')") Статистика
        div(class="channels" v-if="ksi") Канал связи:
          span(class="count") {{ ksi }}
