er-filter-container.er-report-filter(
  :class="`${pre}__filter`"
  :active="isFiltersVisible"
  @click-outside="onCloseFilters()"
)
  div(slot="selected-filters").er-report-filter__current
    span.er-filter-container__active-filter(
      @click="onShowFilters"
    ) {{ getFormatPeriod }}
    span.er-filter-container__active-filter.ml-16(
      @click="onShowFilters"
      v-if="isCloseCategory"
    ) {{ internalTypeFind.value }}
    span(:class="`${pre}__close`" @click="closeCategory" v-if="isCloseCategory")
      er-icon(name="close")
    span.er-filter-container__active-filter.ml-16(
      @click="onShowFilters"
      v-if="isCloseService"
    ) {{ internalServicesOrCities.value }}
    span(:class="`${pre}__close`" @click="closeService" v-if="isCloseService")
      er-icon(name="close")
    span.er-filter-container__active-filter.ml-16(
      @click="onShowFilters"
      v-if="isClosePay"
    ) {{ internalTypePay.value }}
    span(:class="`${pre}__close`" @click="closePay" v-if="isClosePay")
      er-icon(name="close")

  .er-report-filter__wrap(:class="`${pre}__filterOpen`")
    .er-report-filter__list.main-content--h-padding()
      er-container.full.container--no-padding
        er-row
          er-flex.xs12.sm6.md5.lg2
            er-filter-group
              er-select(
                :items="typesFind"
                v-model="internalTypeFind"
              )
          er-flex.xs12.sm6.md5.lg3
            er-filter-group(title="Услуга")
              er-select(
                :items="servicesOrCities"
                v-model="internalServicesOrCities"
              )
          er-flex.xs12.sm6.lg4
            er-filter-group(title="Период").er-report-filter__period
              er-date-picker(
                v-model="internalPeriod"
                disabled-date="future"
              )
          er-flex.xs12.sm6.md5.lg2
            er-filter-group(title="Тип операции")
              er-select(
                :items="typesPay"
                v-model="internalTypePay"
              )

          er-flex.md1.lg1.d--flex.ml-auto
            er-filter-close(@click="isFiltersVisible=false")
