// Add Funds

div(:class="`${pre}`").main-content.main-content--h-padding
  div.main-content--top-padding(:class="`${pre}__back-main`")
  div.main-content--top-menu-fix(:class="`${pre}__container-main`")
    div.caption(:class="`${pre}__back-main`")
      div.ml-auto
        er-icon(name="arrow_l" :class="`${pre}__icon-height`")
        a.caption2(
          href="#"
          :class="`${pre}__back-main__text`"
          @click="paypage"
        )
          | Назад в платежи и начисления

    div.mb-8.d--flex.align-items-start(:class="`${pre}__back-arr`")
      div(:class="`${pre}__back-main-xs`" @click="paypage")
        er-icon(name="left")
      h1.fonts--demi(:class="`${pre}__welcome-title`")
        | Пополнить счет

    div(:class="`${pre}__main`")
      div(:class="`${pre}__line`")
      div(:class="`${pre}__sum`" )
        div.d--flex(:class="`${pre}__sum__left ${pre}__sum__left__direct`")
          er-flex.mb-16.pr-8(
            xs12
            md7
            lg4 xl5
            order-xs2
            order-lg1
            ref="sum"
            :class="`${pre}__sum__pos`"
          )
            h4(:class="`${pre}__sum__title`")
              | Сумма оплаты
            div(:class="`${pre}__sum__input ${pre}__sum__input${borderSum}`")
              er-form(ref="form")
                er-text-field(
                  :rules="rulesPaymentSum"
                  v-model="sumPay"
                  mask="moneynorub"
                )
                  template(slot="append-inner")
                    div.rub

            div(:class="`${pre}__sum__on-autopay`")
              //div(
              //  :class="`${pre}__sum__on-autopay__over`"
              //  v-if="!(numCard !== 0 && (numCard === visAutoPay || visAutoPay === 0))"
              //)
              //div(
              //  @click="autoPay"
              //  :class="`${pre}__sum__autopay__over`"
              //)
              span
                er-toggle(
                  v-model="visAutoPay"
                )
              span.mb-4(
                :class="`${pre}__sum__autopay`"
                @click="payAutoTextConfirm"
              )
                | {{ checkAutoPay }}
              span()
                er-hint(:class="`${pre}__sum__hint`").ml-8
                  h3.mb-8 Автоплатёж
                  | — это бесплатный сервис.<br /><br />
                  | {{ textAutopay }}
                div(@click="payAutoConfirm")
                  er-icon(
                    name="question"
                    :class="`${pre}__sum__confirm`"
                  )
            div(:class="`${pre}__sum__button`")
              er-button(
                width="100%",
                @click="paymentConfirm"
              ) Пополнить счёт
            div(:class="`${pre}__sum__text`") Нажимая на кнопку, Вы принимаете&ensp;
              a(
                href="https://console.ertelecom.ru/files/upload/d/1/0/d108447fbf9c5d88c2801d14a6e76725.pdf",
                target="_blank"
              ) условия оплаты и безопасности

          er-flex(
            xs12
            md12
            lg8 xl7
            order-xs1
            order-lg2
            :class="`${pre}__sum__move-card`"
          )
            PayCard(
              :empty="empty"
              :visAutoPay="visAutoPay"
              @openDelConfirm="openDelConfirm"
              @openRemcard="openRemcard"
              @clearEmpty="clearEmpty"
            )

    div(:class="`${pre}__check`")#get-check
      div(:class="`${pre}__check__decoration`")
        div(:class="`${pre}__check__decoration-line`")
      div(:class="`${pre}__check__get-check`")
        div(:class="`${pre}__check__header`")
          h3(:class="`${pre}__check__title`")
            | Отправить чек
          er-hint(:class="`${pre}__sum__hint__check`")
            h3.mb-8
              | Получение чека
            | {{ textCheck }}
          div(@click="checkConfirm")
            er-icon(
              name="question"
              :class="`${pre}__sum__confirm__check`"
            )
        div(:class="`${pre}__check__body ${pre}__check__body${borderCheck}`")
          div.caption(:class="`${pre}__check__input`")
            | на электронную почту:
          div(:class="`${pre}__check__input__over`")
          ErtCombobox(
            v-model="selectedEmail"
            :items="emails"
            :search-input.sync="searchEmail"
          )
            template(v-slot:no-data)
              ErtListItem
                ErtListItemContent
                  ErtListItemTitle
                    | Не найдена эл. почта {{ searchEmail }}. Нажмите <kbd>Enter</kbd> для добавления
        div(:class="`${pre}__check__empty`" v-if="isEmptyEmail")
          | Поле заполнено не верно

    // Пополнение
    Confirm( v-if="openConfirmPay"
      :vis="openConfirmPay"
      title="Вы уверены, что хотите оплатить"
      :subText ="nameCard"
      isHint="true"
      hasErr=""
      err=""
      :sumPay="sumPay"
      buttLeftText="Отменить"
      buttRightText="Оплатить"
      @closeConfirm="closeConfirm"
      @buttLeft="closeConfirm"
      @buttRight="paymentsOn"
      @input="closeConfirm"
    )

    // Удалить карту
    Confirm(v-if="openConfirmDel"
      :vis="openConfirmDel"
      title="Вы уверены, что хотите удалить карту ?"
      :subText="nameCard"
      :hasErr="errDelCard"
      isHint="true"
      err="Произошла ошибка. Карта не удалена. Попробуйте позже."
      buttLeftText="Отменить"
      buttRightText="Удалить"
      @closeConfirm="closeConfirm"
      @buttLeft="closeConfirm"
      @buttRight="delCard"
      @input="closeConfirm"
    )

    // Автоплатеж
    Confirm( v-if="visAutoPay && openConfirmAutoPay"
      :vis="openConfirmAutoPay"
      title="Вы уверены, что хотите отключить автоплатеж на карте:"
      :subText="nameCard"
      isHint="true"
      :hasErr="errDelAutoPay"
      err="Произошла ошибка. Автоплатеж не отключен. Попробуйте позже."
      buttLeftText="Отменить"
      buttRightText="Отключить"
      @closeConfirm="closeConfirm"
      @buttLeft="closeConfirm"
      @buttRight="autopayButtLeft"
      @input="closeConfirm"
    )
    Confirm( v-if="!visAutoPay && openConfirmAutoPay"
      :vis="openConfirmAutoPay"
      title="Вы уверены, что хотите подключить автоплатеж на карту:"
      :subText="nameCard"
      isHint="true"
      :hasErr="errDelAutoPay"
      err="Произошла ошибка. Автоплатеж не подключен. Попробуйте позже."
      buttLeftText="Отменить"
      buttRightText="Подключить"
      @closeConfirm="closeConfirm"
      @buttLeft="closeConfirm"
      @buttRight="autopayButtRight"
      @input="closeConfirm"
    )

    Confirm(v-if="visAutoPay && visConfirmAutoPay"
      :vis="visConfirmAutoPay"
      title="Автоплатёж"
      description="— это бесплатный сервис."
      :subText="textAutopay"
      :hasErr="errDelAutoPay"
      isHint=null
      err="Произошла ошибка. Автоплатеж не отключен. Попробуйте позже."
      buttLeftText="Отменить"
      buttRightText="Отключить"
      @closeConfirm="closeConfirm"
      @buttLeft="closeConfirm"
      @buttRight="payAutoTextConfHint"
      @input="closeConfirm"
    )

    Confirm(v-if="!visAutoPay && visConfirmAutoPay"
      :vis="visConfirmAutoPay"
      title="Автоплатёж"
      description="— это бесплатный сервис."
      :subText="textAutopay"
      :hasErr="errDelAutoPay"
      isHint=null
      err="Произошла ошибка. Автоплатеж не подключен. Попробуйте позже."
      buttLeftText="Отменить"
      buttRightText="Подключить"
      @closeConfirm="closeConfirm"
      @buttLeft="closeConfirm"
      @buttRight="payAutoTextConfHint"
      @input="closeConfirm"
    )

    // Запомнить карту
    Confirm(v-if="openConfirmDataCard"
      :vis="openConfirmDataCard"
      title="Данные карты"
      :subText="textRemcard"
      isHint=null
      hasErr=""
      err=""
      buttLeftText="Не сохранять"
      buttRightText="Запомнить карту"
      @closeConfirm="closeConfirm"
      @buttLeft="remcardButtLeft"
      @buttRight="remcardButtRight"
      @input="closeConfirm"
    )

    // Чек
    Confirm( v-if="openConfirmCheck"
      :vis="openConfirmCheck"
      title="Отправить чек"
      :subText="textCheck"
      isHint=null
      hasErr=""
      err=""
      buttRightText="Спасибо"
      @closeConfirm="closeConfirm"
      @buttRight="closeConfirm"
      @input="closeConfirm"
    )


