// Add Funds

div(:class="`${pre}`").main-content.main-content--h-padding
  div.main-content--top-padding(:class="`${pre}__back-main`")
  div(:class="`${pre}__container-main`").main-content--top-menu-fix
    div.caption(:class="`${pre}__back-main`")
      div.ml-auto
        er-icon(name="arrow_l" :class="`${pre}__icon-height`")
        a.caption(
          href="#"
          :class="`${pre}__back-main__text`"
          @click="paypage"
        )
          | Назад в платежи и начисления

    div.mb-8.d--flex.align-items-start(:class="`${pre}__back-arr`")
      div(:class="`${pre}__back-main-xs`" @click="paypage")
        er-icon(name="left")
      h1.fonts--demi(:class="`${pre}__welcome-title`")
        | Пополнить счет


      //
    div(:class="`${pre}__main`" v-if="visInfo")
      div(:class="`${pre}__line`")
      div(full :class="`${pre}__sum`")
        div.d--flex(:class="`${direct}`")
          er-flex.mb-16.pr-8(
            xs12
            md12
            lg5 xl5
            order-xs2
            order-lg1
            :class="`${pre}__sum__pos`"
          )
            h4(:class="`${pre}__sum__title`") Сумма оплаты
            div(:class="`${pre}__sum__input`")
              er-text-field(
                :value="sumPay"
                mask="999 999,99"
              )
                template(slot="append-inner")
                  div.rub

            div(:class="`${pre}__sum__remember`" v-if="true")
              er-toggle(
              )
              div.caption.mb-4(style="border-bottom: 1px dashed black")
                | Подключить автоплатёж
              er-hint.ml-8
                h4
                  | Автоплатёж
                | - это бесплатный сервис,
                | При подключении автоплатежа
                | зы соглашаетесь на
                | автоматическое списание суммы,
                | равной ежемесячной
                | абонентской плате. Денежные
                | средства будут списаны с 20 по
                | последнее число месяца,
                | предшествующего отчетному
                | (например авансовый платеж за
                | апрель будет списан c 20 по 31
                | нарта).

              //div(:class="`${pre}__welcome-title__question`")
              //  er-tooltip(right)
              //    template(v-slot:activator="{ on }")
              //      span(
              //      :class="[`${pre}__welcome-title__question__icon`]",
              //      v-on="on")
              //        er-icon(name="question")
              //    div(:class="`${pre}__welcome-title__question__wrapper`")
              //      h2.title--medium Учетные записи
              //      p(:class="`${pre}__welcome-title__question__text`") Учетные записи дают доступ в Личный кабинет Дом.ru Бизнеc и в другие порталы

            div(:class="`${pre}__sum__button`")
              er-button(
                width="100%",
                @click="paymentConfirm"
              ) Пополнить счёт
            div(:class="`${pre}__sum__text`")
              | Нажимая на кнопку, Вы принимаете&ensp;
              a.link.gray-dashed(
              href="https://console.ertelecom.ru/files/upload/d/1/0/d108447fbf9c5d88c2801d14a6e76725.pdf",
              target="_blank"
              ) условия оплаты и безопасности

          er-flex(
            xs12
            md12
            lg6 xl7
            order-xs1
            order-lg2
            :class="`${pre}__sum__move-card`"
          )
            PayCard(
              @openDelConfirm="openDelConfirm"
            )


    PaymentsOn(v-if="!visInfo && success" @try="tryAgain")
    PaymentsOff(v-if="!visInfo && !success" @try="tryAgain")


  div(:class="`${pre}__check`" v-if="visInfo")#get-check
    div(:class="`${pre}__check__decoration`")
      div(:class="`${pre}__check__decoration-line`")
    div(:class="`${pre}__check__get-check`")
      div(:class="`${pre}__check__header`")
        div(:class="`${pre}__check__title`") Отправить чек
        div(:class="`${pre}__check__question`")
          er-hint(
            title="Получение чека",
            text="Мы обязаны отправить вам чек об оплате услуг. Для получения чека введите электронную почту.",
            width="275px"
          )
      div(:class="`${pre}__check__body`")
        div.caption(:class="`${pre}__check__input`")
          | на электронную почту:
        er-text-field(
        value="konstantinopolsky@company.ru"
        )



  er-overlay(
    v-model="openСonfirmPay"
    :z-index="7"
    :class="`${pre}__left`"
  )
  div(:class="`${pre}__confirm`" v-if="openСonfirmPay")
    div(:class="`${pre}__confirm__content`")
      div.mb-44
        er-icon(name="question" :class="`${pre}__confirm__icon-height`")
      h4
        | Вы уверены, что хотите оплатить
      div.d--flex
        span
          h3
            | 100 500
        span
          h3(:class="`${pre}__confirm__decimal`")
            | ,00

        div.rub(:class="`${pre}__confirm__currency`")
      h4
        | сохраненной картой:
      h3
        | МИР, 5402 33 ** **** 2365

    div(
      :class="`${pre}__confirm__close`"
      @click="closeConfirm"
    )
      er-icon(name="close")

    er-container(full
    :class="`${pre}__confirm__container-button`"
    )
      er-row.justify-content-between.no-gutters
        er-flex.pr-16(xs6 )
          er-button(
            type="submit"
            @click="paymentsOn"
          )
            | Оплатить
        er-flex.pl-16(xs6)
          er-button.align-items-center(
            type="submit"
            flat=true
            @click="paymentsOff"
          )
            | Отменить

  er-overlay(
  v-model="openСonfirmDel"
  :z-index="7"
  :class="`${pre}__left`"
  )
  div(:class="`${pre}__confirm`" v-if="openСonfirmDel")
    div(:class="`${pre}__confirm__content`")
      div.mb-44
        er-icon(name="question" :class="`${pre}__confirm__icon-height`")
      h4
        | Вы уверены, что хотите удалить карту ?
      h3
        | МИР, 5402 33 ** **** 2365

    div(
    :class="`${pre}__confirm__close`"
    @click="closeConfirm"
    )
      er-icon(name="close")

    er-container(full
    :class="`${pre}__confirm__container-button`"
    )
      er-row.justify-content-between.no-gutters
        er-flex.pr-16(xs6 )
          er-button(
          type="submit"
          @click="delCard"
          )
            | Удалить
        er-flex.pl-16(xs6)
          er-button.align-items-center(
          type="submit"
          flat=true
          @click="closeConfirm"
          )
            | Отменить
