div.access-section(:class="{ active: isShowAddAccessRights }")
  ErRow.px-16.mb-12
    h3 Права доступа

  ErRow.access-section__container
    div.access-section__separator
    ErFlex.access-section__header(md5 sm12 lg4)
      span.access-section__header__title
        template(v-if="isLG")
          | Портал
        template(v-else)
          | Портал ({{ portalsCount }})

      ErFlex.access-section__side-menu__list.text--blured(sm12 xs12)
        ErRow.access-section__side-menu__list__item(
          v-for="item in value",
          :id="`${item.code}-${_uid}`",
          :data-id="item.code",
          :key="item.id",
          :class="{ 'access-section__side-menu__list__item--active': item.menu.selected, 'access-section__side-menu__list__item--not-active': !item.menu.selected }"
          @click="handleMenuItemClick(item)"
        )
          div(:class="{ 'access-section__side-menu__list__item__active-line': item.menu.selected }")
          ErIcon.my-auto.mr-8(:name="item.menu.icon")
          span.text--small.my-auto {{ item.menu.label }}
          ErIcon.access-section__side-menu__list__item__arrow.my-auto.ml-8(
            :class="{ 'access-section__side-menu__list__item__arrow--active': item.menu.selected }"
            name="corner_up"
          )

    template(v-if="value[SYSTEM_NAMES.FORPOST] && value[SYSTEM_NAMES.FORPOST].menu.selected")
      ForpostAccessTable(
        :users="forpostUserList"
        :show-delete-button="isLPR"
        @delete="onForpostUserDelete"
      )

    template(v-else-if="value[SYSTEM_NAMES.OATS] && value[SYSTEM_NAMES.OATS].menu.selected")
      OatsAccessTable(
        :users="oatsUserList"
        :show-delete-button="isLPR"
        @delete="onOatsUserDelete"
      )

    template(v-else)
      ErFlex.access-section__content(xs12 sm12 md12)
        span.access-section__header__title__small
          | Состояние
        div.access-section__header__title__separator

        ErFlex.access-section__content__list(xs12)
          AccessItem(
            v-for="item in contents",
            :show-close-button="isLPR",
            :key="item.id"
            @delete="onRemoveAccessItem(item)"
          )
            | {{ item.label }}

  template(v-if="isShowAddAccessRights")
    ErRow.access-section__add-rights.py-32
      ErFlex(sm12 md6 lg4)
        ErtSelect(
          v-model="currentPortal"
          :items="portalLabels"
          label="Портал"
          returnObject
          itemText="value"
          itemValue="code"
          @input="handlePortalChange"
        )

      ErFlex(v-if="currentPortal" sm12 md6 lg8)
        template(v-if="isForpostSelected")
          ForpostAccessForm(@input="onForpostUserSelected")

        template(v-else-if="isOatsSelected")
          OatsAccessForm(@input="onOatsUserSelected")

        template(v-else-if="currentPortal.code === SYSTEM_NAMES.OATS")
          ErRow
            ErFlex(lg6)
              ErtSelect(
                v-model="currentAccessRight"
                :items="accessRightsLabels"
                label="Домен"
                returnObject
                itemText="value"
                itemValue="code"
              )
            ErFlex(lg6)
              ErtSelect(
                v-model="currentAccessRight"
                :items="accessRightsLabels"
                label="Учётная запись"
                returnObject
                itemText="value"
                itemValue="code"
              )

        template(v-else)
          ErRow
            ErFlex(md6)
              ErtSelect(
                v-model="currentAccessRight"
                :items="accessRightsLabels"
                label="Доступ"
                returnObject
                itemText="value"
                itemValue="code"
              )

  template(v-if="isLPR")
    ErRow.access-section__add-btn
      ErFlex.pb-8(sm6 md6 lg4)
        ErButton(flat @click="handleAddClick")
          | Добавить права
      ErFlex(v-if="isShowAddAccessRights" sm6 md6 lg4)
        ErButton(flat @click="reset") Отменить
