div(:class="[{ active: isShowAddAccessRights }, `${pre}`]")
  er-row.px-16.mb-12
    h3 Права доступа

    .ml-8(v-if="isLPR && isChanged", :class="`${pre}__changed`")
      er-icon(:class="`${pre}__changed-icon`" name="ok")
      span(:class="`${pre}__changed-text`") Изменен

  er-row(:class="`${pre}__container`")
    div(:class="`${pre}__separator`")
    er-flex(md5 sm12 lg4, :class="`${pre}__header`")
      span(:class="`${pre}__header__title`")
        template(v-if="isLG")
          | Портал
        template(v-else)
          | Портал ({{ portalsCount }})

      er-flex.text--blured(sm12 xs12, :class="`${pre}__side-menu__list`")
        er-row(
          v-for="item in value",
          :id="`${item.code}-${_uid}`",
          :data-id="item.code",
          :key="item.id",
          :class="{ [`${pre}__side-menu__list__item`]: true, [`${pre}__side-menu__list__item--active`]: item.menu.selected, [`${pre}__side-menu__list__item--not-active`]: !item.menu.selected }"
          @click="handleMenuItemClick(item)"
        )
          div(
            :class="{ [`${pre}__side-menu__list__item__active-line`]: item.menu.selected }"
          )
          er-icon.my-auto.mr-8(:name="item.menu.icon")
          span.text--small.my-auto {{ item.menu.label }}
          er-icon.my-auto.ml-8(
            :class="{ [`${pre}__side-menu__list__item__arrow`]: true, [`${pre}__side-menu__list__item__arrow--active`]: item.menu.selected }"
            name="corner_up"
          )


    template(v-if="value.Forpost && value.Forpost.menu.selected")
      ForpostAccessTable(
        :users="value.Forpost.users || {}"
        :show-delete-button="isLPR"
        @delete="onForpostUserDelete"
      )

    template(v-else)
      er-flex(xs12 sm12 md12, :class="`${pre}__content`")
        span(:class="`${pre}__header__title__small`")
          | Состояние
        div(:class="`${pre}__header__title__separator`")

        er-flex(xs12, :class="`${pre}__content__list`")
          access-item(
            v-for="item in contents",
            :show-close-button="isLPR",
            :key="item.id"
            @delete="onRemoveAccessItem(item)"
          )
            | {{ item.label }}

  template(v-if="isShowAddAccessRights")
    er-row.py-32(:class="`${pre}__add-rights`")
      er-flex(sm12 md6 lg4)
        er-select(
          placeholder="Портал"
          trackId="code"
          v-model="currentPortal"
          @input="handlePortalChange",
          :items="portalLabels"
        )

      er-flex(v-if="currentPortal" sm12 md6 lg8)
        template(v-if="currentPortal.code === 'Forpost'")
          forpost-access-form(@input="onForpostUserSelected")

        template(v-else-if="currentPortal.code === 'oats'")
          er-row
            er-flex(lg6)
              er-select(
                placeholder="Домен"
                trackId="code"
                v-model="currentAccessRight",
                :items="accessRightsLabels"
              )
            er-flex(lg6)
              er-select(
                placeholder="Учётная запись"
                trackId="code"
                v-model="currentAccessRight",
                :items="accessRightsLabels"
              )

        template(v-else)
          er-row
            er-flex(md6)
              er-select(
                placeholder="Доступ"
                trackId="code"
                v-model="currentAccessRight",
                :items="accessRightsLabels"
              )

  template(v-if="isLPR")
    er-row(:class="`${pre}__add-btn`")
      er-flex.pb-8(sm6 md6 lg4)
        er-button(flat @click="handleAddClick")
          | Добавить права
      er-flex(v-if="isShowAddAccessRights" sm6 md6 lg4)
        er-button(flat @click="reset") Отменить
