div(:class="[{ active: isShowAddAccessRights }, `${pre}`]")
  er-row.px-16.mb-12
    h3 Права доступа
    div(v-if="isLPR && isChanged" :class="`${pre}__changed`").ml-8
      er-icon(:class="`${pre}__changed-icon`" name="ok")
      span(:class="`${pre}__changed-text`") Изменен
  er-row(:class="`${pre}__container`")
    div(:class="`${pre}__separator`")
    er-flex(md5 sm12 lg4 :class="`${pre}__header`")
      span(
        v-if="isLG"
        :class="`${pre}__header__title`")
        | Портал
      span(
        v-if="!isLG"
        :class="`${pre}__header__title`")
        | Портал ({{portalsCount}})
      er-flex(
        sm12
        xs12
        :class="`${pre}__side-menu__list`").text--blured
        er-row(
          v-for="item in value"
          :id="`${item.code}-${_uid}`"
          :data-id="item.code"
          :key="item.id"
          :class="{[`${pre}__side-menu__list__item`]: true, [`${pre}__side-menu__list__item--active`]: item.menu.selected, [`${pre}__side-menu__list__item--not-active`]: !item.menu.selected }"
          @click="handleMenuItemClick(item)")
          div(:class="{[`${pre}__side-menu__list__item__active-line`]: item.menu.selected}")
          er-icon(:name="item.menu.icon").my-auto.mr-8
          span.text--small.my-auto {{item.menu.label}}
          er-icon(
            :class="{[`${pre}__side-menu__list__item__arrow`]: true, [`${pre}__side-menu__list__item__arrow--active`]: item.menu.selected}"
            name="corner_up").my-auto.ml-8
    er-flex(xs12 sm12 md12 :class="`${pre}__content`")
      span(:class="`${pre}__header__title__small`")
        | Состояние
      div(:class="`${pre}__header__title__separator`")
      er-flex(xs12 :class="`${pre}__content__list`")
        er-row(
          v-for="item in contents"
          :data-id="item.id"
          :key="item.id"
          :class="{[`${pre}__content__list__item`]: true, [`${pre}__content__list__item--active`]: item.selected}"
          )
          er-flex(xs10)
            span {{item.label}}
          er-flex(
            v-if="isLPR"
            xs2
            :class="`${pre}__content__list__item__btn-remove`")
            span(
              :class="`${pre}__content__list__item__btn-remove__icon`"
              @click="handleContentItemBtnClick(item)")
              er-icon(name="close")
          er-flex(
            v-else
            xs2
            :class="`${pre}__content__list__item__btn-remove`")
            router-link(
              :class="`${pre}__content__list__item__btn-remove__icon`"
              to="#")
              er-icon(name="link")
  template(v-if="isShowAddAccessRights")
    er-row(:class="`${pre}__add-rights`").py-32
      er-flex(sm12 md6 lg4)
        er-select(
          placeholder="Портал"
          trackId="code"
          v-model="currentPortal"
          @input="handlePortalChange"
          :items="portalLabels")
      er-flex(v-if="currentPortal" sm12 md6 lg4)
        er-select(
          placeholder="Доступ"
          trackId="code"
          v-model="currentAccessRight"
          :items="accessRightsLabels")
  template(v-if="isLPR")
    er-row(:class="`${pre}__add-btn`")
      er-flex(sm6 md6 lg4).pb-8
        er-button(
          flat
          @click="handleAddClick")
          | Добавить права
      er-flex(v-if="isShowAddAccessRights" sm6 md6 lg4)
        er-button(flat, @click="reset") Отменить
