er-dialog-advanced(
  :active="active"
  contentClass="request-dialog"
  @close="onCancel"
)
  template(slot="title")
    | Представьтесь, пожалуйста

  template
    .request-dialog__required-label — Поля обязательные к заполнению

    .request-dialog__description Для подключения необходимо сформировать заявку

    er-form.mt-24
      er-phone-select(
        placeholder="Телефон для связи"
        is-show-required-label
        v-model="phoneNumber"
        :items="$store.getters['user/getPhoneList']"
        :rules="requiredRule"
      )
      er-text-field.mt-32(
        label="Как к Вам обращаться?"
        is-show-required-label
        v-model="userName"
        :rules="requiredRule"
        :readonly="isReadonlyName"
      )
      .caption2.mt-32 Нажимая на кнопку "Подключить", Вы соглашаетесь на обработку данных

  template(slot="actions")
    er-button(@click="onPlug") Подключить
    er-button(
      @click="onCancel"
      flat
    ) Отмена
