//- Ошибочный платёж
include ./_mixins
er-form(ref="erroneous_payment" key="erroneous_payment")
  er-row
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12)
          +listRequestTheme
        er-flex.mb-32(xs12)
          er-text-field(
            v-model="payer"
            label="Плательщик"
            is-show-required-label
            :rules="requiredRule"
          )
        er-flex.mb-32(xs12)
          er-text-field(
            v-model="paymentOrderNumber",
            label="Номер платёжного поручения"
            is-show-required-label
            :rules="requiredRule"
          )
        er-flex.mb-32(xs12 sm6)
          er-date-picker(
            v-model="datePayment",
            placeholder="Дата платежа"
            is-show-required-label
            :rules="requiredRule"
            disabled-date="future"
          )
        er-flex.mb-32(xs12 sm6)
          er-text-field(
            v-model="sumPayment"
            label="Сумма платежа"
            mask="money"
            is-show-required-label
            :rules="requiredRule"
          )
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12 sm6)
          +phoneNumber
        er-flex.mb-32(xs12 sm6)
          +timePickerRange
        er-flex.mb-32(xs12)
          +name
    er-flex(xs12)
      +appeal("Здесь Вы можете указать дополнительную информацию по заявке")
    +footer
