//- Приостановление договора/услуги
include ./_mixins
er-form(ref='suspension_of_a_contract_or_service')
  er-row
    er-flex.d--flex.align-items-center.create-request-component__warning.mb-32(xs12)
      er-icon.mr-8(name="warning")
      span Договор/Услуга будет приостановлены включая сервисы
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12)
          +listRequestTheme
        er-flex.mb-32.create-request-component__current-agreement.d--flex.align-items-center(xs12)
          .caption
            | Текущий номер договора
          .agreement
            | {{ agreementNumber }}
          .toggle.ml-auto
            er-toggle(view="radio-check", v-model="isWholeContract" label="Весь договор")
        er-flex(xs12)
          er-slide-up-down(:active="!isWholeContract")
            er-row
              er-flex.mb-32(xs12)
                er-select(
                  :items="getAddressList"
                  v-model="address"
                  placeholder="Адрес"
                  is-show-required-label
                  :disabled="isWholeContract"
                  :rules="isWholeContract ? [v => true] : [v => !!Object.keys(v).length || 'Поле обязательно к заполнению']"
                )
              er-flex.mb-32(xs12)
                er-select(
                  :items="listService"
                  v-model="services"
                  placeholder="Услуга"
                  is-show-required-label
                  :disabled="isWholeContract"
                  :rules="isWholeContract ? [v => true] : [v => !!v.length || 'Поле обязательно к заполнению']"
                )
        er-flex.mb-32.create-request-component__date-picker(xs12 sm6 r-offset-sm6)
          er-date-picker(
            v-model="stoppedFrom"
            is-show-required-label
            placeholder="Приостановить с ук. даты"
            :rules="requiredRule"
            disabled-date="past"
          )
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12 sm6)
          +phoneNumber
        er-flex.mb-32(xs12 sm6)
          +timePickerRange
        er-flex.mb-32(xs12)
          +name
    er-flex(xs12)
      +appeal("Здесь Вы можете указать дополнительную информацию по заявке")
    +footer
