//- Технические вопросы
include ./_mixins
er-form(ref="technical_issues" key="technical_issues")
  er-row
    er-flex(xs12)
      er-row
        er-flex.mb-32(xs12)
          +listRequestTheme
        er-flex.mb-32(xs12)
          er-select(
            :items="listTechnicalRequestTheme"
            v-model="technicalRequestTheme"
            placeholder="Тип проблемы"
            is-show-required-label
            :rules="requiredRule"
          )
        er-flex.mb-32(xs12)
          +address
        er-flex.mb-32(xs12)
          er-select(
            :items="listService"
            v-model="service"
            placeholder="Услуга"
            is-show-required-label
            :rules="requiredRule"
          )
        er-slide-up-down(:active="isShowListPhoneNumber" :style="{ width: '100%' }")
          er-row.mb-32.px-16(align-items-center)
            er-flex(xs8)
              ert-select(
                v-model="listSelectedPhoneNumberByTelephone"
                :items="listPhoneNumberByTelephone"
                label="Список номеров телефонов"
                multiple
                hideDetails
                :disabled="isAllPhoneNumberByTelephone"
              )
            er-flex(xs3)
              ert-checkbox(src\store\modules\request.js
                v-model="isAllPhoneNumberByTelephone"
                hideDetails
                label="Все номера"
              )
        er-flex.mb-24(xs12 v-if="technicalRequestTheme.value !== 'Консультация'")
          - let attr = { type: "radio", view: "radio-check", ':value': "val", ':label': "label"}
          +radioCheck("Оборудование было перезагружено")(class='mb-24')
            er-toggle(
              v-model="modelHardware"
              name="radio-check-hardwareRestarted"
            )&attributes(attr)
          +radioCheck("На адресе имеется электропитание")(class='mb-24')
            er-toggle(
              v-model="modelSupply"
              name="radio-check-powerSupply"
            )&attributes(attr)

        er-flex.mb-32(xs12 sm6)
          +phoneNumber
        er-flex.mb-32(xs12 sm6)
          +timePickerRange
        er-flex.mb-32(xs12)
          +name
        er-flex.mb-32(xs12)
          +appeal("Здесь Вы можете указать дополнительную информацию по заявке")
    +footer
