div.main-content.main-content--padding.main-content--top-menu-fix
  er-page-header(title="ТВ приставка" linkText="Назад к ТВ" backlink="/lk/tv")
  template(v-if="loading")
    er-preloader(:active="true" icon icon-type="2")
  template(v-else)
    div.mb-40.mb-md-48
      div.caption2 Адрес
      div {{ address }}


      div(class="tv-packages__wrap-stb").mt-16.mt-md-24.mt-xl-32
        div(class="tv-packages__wrap-stb__name")
          span.caption2 Имя оборудования
          div.tv-packages__wrap-name
            template(v-if="isEditMode")
              template(v-if="isEditingName")
                er-preloader(:active="true" icon icon-type="2").ml-24.mt-24
              template(v-else)
                ert-text-field(v-model="stbName")
                  template(v-slot:append)
                    button(@click="saveName")
                      ErtIcon(name="circle_ok")
            template(v-else)
              div {{ line.stb[0].name }}
              div(@click="editName")
                er-icon(name="edit")
        div(class="tv-packages__wrap-stb__model").mr-40
          div.caption2 Модель
          div {{ stbModel }}
        //- оставить до лучших времен
        //- div(class="tv-packages__wrap-stb__mac")
        //-   div.caption2 МАС
        //-   div
        //-     | a1:45:d4:d2:f8:62
        div(class="tv-packages__wrap-stb__garant" v-if="guarantee").mr-40
          div.caption2 Гарантия до
          div {{ guarantee }}
        div(class="tv-packages__wrap-stb__garant" v-if="safeStorage").mr-40
          div.caption2 Форма собственности
          div Ответственное хранение
        div(class="tv-packages__wrap-stb__price" v-if="stbPrice")
          div.caption2 Аренда
          div
            span.h4 {{ stbPrice }}
            span(class="caption") ₽/мес
      div.caption2.mt-32 Тариф
      div {{ tariffname }}
      div.caption2.mt-16 Итого за приставку
      .h4
        | {{ line.price }}
        span(class="caption") ₽/мес

      div(class="tv-packages__button").mt-24
        er-button(color="gray" @click="isChangeTariff = true"  :disabled="isChangeTariff") Сменить тариф
    ErServiceCatchUp(
      v-if="availableServiceManageView['code']"
      :status="disconnectOfferingManageView['status']"
      :price="availableServiceManageView['price']"
      :isStatusSwitcherAfterSendingOrder="isStatusSwitcherAfterSendingOrder"
      :isSuccessStatusSwitcherAfterSendingOrder="isSuccessStatusSwitcherAfterSendingOrder"
      :isConnection="isConnection"
      :isDisconnection="isDisconnection"
      @connect="plug(availableServiceManageView['code'], availableServiceManageView['price'], true )"
      @disconnect="unPlug(disconnectOfferingManageView['id'], disconnectOfferingManageView['offerCode'], true )"
      @cancelLoaderSwitcher="cancelLoaderSwitcher"
      @cancelLoaderAfterSendingOrder="cancelLoaderAfterSendingOrder"
    )

    h2 Пакеты каналов
    div.caption2.mt-8.mt-lg-16.mt-md-8.mb-16.mb-lg-32.mb-md-24
      | Абонентская плата за дополнительные пакеты
      span(class="h4") &nbsp; {{ pasketsPrise }}
      span(class="unit") ₽/мес

    div(class="tv-packages__packages").mt-16.mt-md-24.mt-lg-32
      er-card(v-if="standartPackage")
        div(class="tv-packages__packages-standart")
          div(class="tv-packages__packages__img" :style="{'background-image': `url(${require('@/assets/images/tv/standart.png')})`}")
          div(class="tv-packages__packages__header")
            div
              div(class="tv-packages__packages__title").mb-4 Пакет каналов
              div(class="tv-packages__packages__name").mb-48 {{ standartPackageName }}
              div(class="tv-packages__packages__count" @click="$router.push(`/lk/tv/channel-list/${standartPackageId}`)")  {{ standartPackageCount }}
          div(class="tv-packages__packages__content")
            div(class="tv-packages__packages__price-active__title") Стоимость:
            div(class="tv-packages__packages__price-active") {{ 0 }} <span class="unit"> ₽/мес</span>
            div(class="tv-packages__packages__price-active__title") Включен в тариф

      er-card(v-for="(item, index) in connectedPackages" :key="item.id")
        div(:style="`background: ${item.background}`" class="tv-packages__packages-active")
          div(class="tv-packages__packages__img" :style="{'background-image': `url(${item.img})`}")

          div(class="tv-packages__packages__header")
            div
              div(class="tv-packages__packages__title").mb-4 Пакет каналов
              div(class="tv-packages__packages__name").mb-32 {{ item.title }}
              div(class="tv-packages__packages__count" @click="$router.push(`/lk/tv/channel-list/${item.id}`)") {{ item.count }}

          div(class="tv-packages__packages__content")

            div(class="tv-packages__packages__price-active__title") Стоимость:
            div(class="tv-packages__packages__price-active")
              | {{ item.price }}
              span(class="unit") &nbsp;₽/мес
            div(class="tv-packages__packages__start-date" v-html="useActivationDate('Дата активации', item)" )
            div(class="tv-packages__packages__end-date" v-html="useShutdownDate('Дата отключения', item)")
            er-button(
              color="gray"
              :loading="item.productId === disconnectedItem"
              @click="unPlug(item.productId, item.title)"
              :disabled="isConnection || isCheckingMoney || isDisconnection"
            ).mt-24 Отключить
      er-card(v-for="(item, index) in allowedPackages" :key="item.id")
        div(:style="`background: ${item.background}`" class="tv-packages__packages-active")

          div(class="tv-packages__packages__img" :style="{'background-image': `url(${item.img})`}")
          div(class="tv-packages__packages__header")
            div(class="tv-packages__packages__title").mb-4 Пакет каналов
            div(class="tv-packages__packages__name").mb-48 {{ item.title}}
            div(class="tv-packages__packages__count" @click="$router.push(`/lk/tv/channel-list/${item.id}`)") {{ item.count }}

          div(class="tv-packages__packages__content not-connected")
            .caption2 Стоимость:
            div(class="tv-packages__packages__price").h3
              | {{ item.price }}
              span(class="caption1") ₽/мес
            er-button(
              color="blue"
              @click="plug(item.productCode, item.price)"
              :loading="(item.productCode === disconnectedItem) && (isConnection || isCheckingMoney)"
              :disabled="isConnection || isCheckingMoney || isDisconnection"
            ).mt-24 Подключить

      ErPlugProduct(
        v-model="isConnection"
        :orderData="orderData"
        :internalPeriod="internalPeriod"
        :isResetPeriod="isResetPeriod"
        :isAtLeastThreeDays="isShowNotificationPicker"
        :isThereActivationDate="isThereActivationDate"
        @closeSuccess="renderSuccessSwitcher"
        @closeError="changeStatusConnection"
        @cancelOrder="renderCancelOrderSwitcher"
        @resetPeriodAction="resetPeriodAction"
        isSendOrder
      )
        template(
          slot="offerDescription"
          v-if="isThereActivationDate"
          )
          .er-activation-modal__activation-notification.d--flex.align-items-center.mb-16(
            v-if="!isNotShowPicker"
            )
            .caption.text-color-black05
              | Минимальный период активациии пакета - 3 дня.
          .er-activation-modal__activation-form-service.d--flex.justify-content-between.align-items-center.mb-16
            .er-activation-modal__action-toggle
              er-toggle(
                label="Бессрочно"
                v-model="isNotShowPicker"
                checked="checked"
                @input="handleShowPicker($event)"
              ).mt-16
            .er-activation-modal__filter-picker
              er-filter-group(title="Период")
                er-date-picker(
                  v-if="!isNotShowPicker"
                  placeholder="Период"
                  v-model="modelPeriodPicker"
                  disabled-date="past"
                  @showNotification="changePeriodPicker"
                  :rules="isShowNotificationPicker ? [ ()=> 'Вы выбрали менее 3-х дней'] : [v => !!v]"
                ).mr-auto.mt-16
          .caption.text-color-black05.mb-8
            | Стоимость: <b>{{ !isResetPeriod || isNotShowPicker ? `${selectedPrice} ₽/мес` : `${getTotalDaysPrice} ₽/за выбранный период` }}</b>
    ErPlugProduct(
      v-model="isEditingName"
      :orderData="editingOrderData"
      plugButtonName="Изменить"
      isSendOrder
      isUpdate
    )
    ErPlugProduct(
      v-model="isChangeTariff"
      :requestData="requestData"
      isSendManagerRequest
    )
    ErDisconnectProduct(
      v-model="isDisconnection"
      :deleteOrderData="deleteData"
      @changeStatusConnectionModal="changeStatusConnection"
      @closeSuccess="renderSuccessSwitcher"
      @closeError="changeStatusConnection"
      isSendOrder
    )
  er-activation-modal(
    type="question"
    v-model="isShowMoneyModal"
    actionButtonText="Пополнить счет"
    @confirm="$router.push({ name: 'add-funds', params: {sum: - +availableFunds + +selectedPrice}})"
    cancel-button-text="Закрыть"
  )
    template(slot="description")
      div.mb-12  Уважаемый клиент, для завершения заказа на лицевом счете не достаточно денежных средств. Пополните лицевой счет и повторите покупку.
      div
        | Стоимость подключения:
        b {{ selectedPrice }}
        | руб.
      div
        | Ваши доступные средства:
        b {{ availableFunds }}
        | руб.
