.notification-item(v-if="!hidden")
  .notification-item__head(
    :title="infoTooltip"
  )
    .notification-item__icon
      notification-icon(
        :label="getLabel"
        :icon-name="notification.iconName"
      )

    .notification-item__datetime-block
      .notification-item__date
        | {{ getDate() }}
      .notification-item__time
        | {{ getTime() }}

  er-slide-up-down.spoiler-text(
    :active="showDescription"
    v-class-mod="{closed: !showDescription}"
  )
    .notification-item__content.d--flex.flex-direction-row
      campaign-custom-message-14(
        v-if="isCampaignCustomMessage"
        :params="notification"
      )

      ppr-text(
        v-else-if="isPPR"
        :data="notification.data"
      )

      .notification-item__text(
        v-else
        v-html="textContent"
      )

      .notification-item__timer(v-if="hasTimer")
        timer-display(
          :to-date="expirationDate"
        )

    template(v-if="isCommonSurvey")
      .notification-item__links.survey-actions
        a.survey-actions__item.survey-actions__item--pass(
          @click="onGoToSurvey"
        ) Пройти

        a.survey-actions__item.survey-actions__item--refuse(
          @click="onRefuse"
        ) Отказаться

        a.survey-actions__item.survey-actions__item--put-off(
          v-if="isSurvey && showPutOffButton"
          @click="onPutOff"
        ) Напомнить позже

  .notification-item__footer
    a.notification-item__action(
      v-if="isCampaignMessage || isCampaignCustomMessage"
      @click="onClickAccept"
    ) Ознакомлен

    .slide-up-down-activator(
      v-if="isLongDescription || isPPR"
      @click="onShowDescription"
    )
      span.slide-up-down-activator__label
        template(v-if="showDescription")
          | Свернуть
        template(v-else)
          | Подробнее

      er-corner-button(:value="showDescription")
