// Button Pay

er-row(no-gutters)
  er-flex(xs12 :class="`${pre}__fast-links`")
    er-row.justify-content.between(:class="`${pre}__card-row`")
      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale ${pre}__card-scale__left`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="/add-funds" :class="`${pre}__card-shadow`")
              h4(:class="`${pre}__card-title`" @click="aa")
                | Оплата картой
                div.new
                  div.mb-4
                    div.mt-16.ml-auto.color--green-base
                      er-icon(name="ok" :class="`${pre}__icon-height`")
                      span.color--green-base(
                        :class="`${pre}__icon-span`"
                      ) Автоплатеж подключен
              div.d--flex.align-items-end.mt-auto
                div.ml-auto
                  er-icon.color--yellow-base(name="pay_card" :class="`${pre}__card-icon`")

      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale ${pre}__card-scale__right-top`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="/add-funds")
              h4(:class="`${pre}__card-title`")
                | Счет на оплату
              div.d--flex.align-items-end.mt-auto
                div.ml-auto
                  er-icon.color--yellow-base(name="score" :class="`${pre}__card-icon`")

      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale ${pre}__card-scale__left`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="/promise-pay")
              h4(:class="`${pre}__card-title__promise`")
                | Обещанный платёж
              div.d--flex.align-items-end.mt-auto(v-if="!timer")
                div.ml-auto
                  er-icon.color--yellow-base(name="trast_pay" :class="`${pre}__card-icon`")
              div(:class="`${pre}__timer`" v-if="timer")
                div(:class="`${pre}__timer__label`")
                  | Осталось дд.чч.мм
                div(:class="`${pre}__timer__day`")
                  h2(:class="`${pre}__timer__day__value`") 2
                div(:class="`${pre}__timer__hour`")
                  h2(:class="`${pre}__timer__hour__value`") 23
                div(:class="`${pre}__timer__min`")
                  h2(:class="`${pre}__timer__min__value`") 59
              div(:class="`${pre}__expired`")
                er-icon(name="close" :class="`${pre}__icon-height`")
                span.color--red-base(
                :class="`${pre}__icon-span`"
              ) Просрочен
            div(:class="`${pre}__progressbar`")
              div(:class="`${pre}__progressbar__wrapper`")
                div(:class="`${pre}__progressbar__width`")

      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="/")
              h4(:class="`${pre}__card-title`")
                | Заявление об ошибке в платеже
              div.d--flex.align-items-end.mt-auto
                div.ml-auto
                  er-icon.color--yellow-base(name="doc_edit" :class="`${pre}__card-icon`")




