// Button Pay

er-row(no-gutters)
  er-flex(xs12 :class="`${pre}__fast-links`")
    er-row.justify-content.between(:class="`${pre}__card-row`")
      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale ${pre}__card-scale__left`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="add-funds" :class="`${pre}__card-shadow`")
              h4(:class="`${pre}__card-title`")
                | Оплата картой
                div.new
                  div.mb-4
                    div.mt-16.ml-auto.color--green-base
                      er-icon(name="ok" :class="`${pre}__icon-height`")
                      span.color--green-base(
                        :class="`${pre}__icon-span`"
                      ) Автоплатеж подключен
              div.d--flex.align-items-end.mt-auto
                div.ml-auto
                  er-icon.color--yellow-base(name="pay_card" :class="`${pre}__card-icon`")

      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale ${pre}__card-scale__right-top`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`" @click="invPayment")
            er-document-viewer(
              :list-document="invPaymentsForViewer"
              :is-digital-signing="false"
              :is-manual-signing="false"
              v-model="isOpenViewer"
              ref="viewer"
            )
              template(v-slot:activator="{ on }")
                a(href="#", v-on="on")
                  h4(:class="`${pre}__card-title`")
                    | Счет на оплату
                  div.d--flex.align-items-end.mt-auto
                    div.ml-auto
                      er-icon.color--yellow-base(name="score" :class="`${pre}__card-icon`")

      er-flex.mb-16(
        xs6
        lg3
        :class="`${pre}__card-scale ${pre}__card-scale__left`"
      )
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="promise-pay")
              div.h4(:class="`${pre}__card-title__promise`") Обещанный платёж
                div.color--red-base(
                  v-if="isLoading && isPromisePay"
                  :class="`${pre}__inf-promise`"
                ) Услуга не подключена
              div.d--flex.align-items-end.mt-auto(
                v-if="isLoading && isPromisePay"
              )
                div.ml-auto
                  er-icon.color--yellow-base(
                    name="trast_pay"
                    :class="`${pre}__card-icon`"
                  )
              div(
                :class="`${pre}__timer`"
                v-if="isLoading && !isPromisePay"
              )
                div(:class="`${pre}__timer__label`") Осталось дд.чч.мм
                div(:class="`${pre}__timer__day`")
                  h2(:class="`${pre}__timer__day__value`") {{ day }}
                div(:class="`${pre}__timer__hour`")
                  h2(:class="`${pre}__timer__hour__value`") {{ hour }}
                div(:class="`${pre}__timer__min`")
                  h2(:class="`${pre}__timer__min__value`") {{ minute }}
              div(
                :class="`${pre}__expired`"
                v-if="!isExpired && !isPromisePay"
              )
                er-icon(name="close" :class="`${pre}__icon-height`")
                span.color--red-base(
                :class="`${pre}__icon-span`"
              ) Просрочен
              er-button(id="preloaderPromisePay"
                :loading="true"
                flat
                v-if="!isLoading"
              )
            div(:class="`${pre}__progressbar`" v-if="isLoading && !isPromisePay")
              div(:class="`${pre}__progressbar__wrapper`")
                div(id="bgg"
                  :class="`${pre}__progressbar__width`"
                  :style="'width: ' + widthPgsBar + '%'"
                )

      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="/")
              h4(:class="`${pre}__card-title`")
                | Заявление об ошибке в платеже
              div.d--flex.align-items-end.mt-auto
                div.ml-auto
                  er-icon.color--yellow-base(name="doc_edit" :class="`${pre}__card-icon`")




