// Button Pay

er-row(no-gutters)
  er-flex(xs12 :class="`${pre}__fast-links`")
    er-row.justify-content.between(:class="`${pre}__card-row`")
      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale ${pre}__card-scale__left`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="add-funds" :class="`${pre}__card-shadow`")
              h4(:class="`${pre}__card-title`")
                | Оплата картой
                div.new
                  div.mb-4
                    div.mt-16.ml-auto.color--green-base(v-if="visAutoPay !== 0")
                      er-icon(name="ok" :class="`${pre}__icon-height`")
                      span.color--green-base(
                        :class="`${pre}__icon-span`"
                      ) Автоплатеж подключен
              div.d--flex.align-items-end.mt-auto
                div.ml-auto
                  er-icon.color--yellow-base(name="pay_card" :class="`${pre}__card-icon`")

      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale ${pre}__card-scale__right-top`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`" @click="invPayment")
            er-document-viewer(
              :list-document="invPaymentsForViewer"
              :is-digital-signing="false"
              :is-manual-signing="false"
              v-model="isOpenViewer"
              ref="viewer"
            )
              template(v-slot:activator="{ on }")
                a(href="#", v-on="getEventsForInvPayments(on)")
                  h4(:class="`${pre}__card-title`")
                    | Счет на оплату
                  div.d--flex.align-items-end.mt-auto
                    div.ml-auto
                      er-icon.color--yellow-base(name="score" :class="`${pre}__card-icon`")

      er-flex.mb-16(xs6 lg3 :class="[`${pre}__card-scale`, `${pre}__card-scale__left`]")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="promise-pay")
              //- ОП не активирован, но может быть подключён
              div.h4(:class="`${pre}__card-title__promise`") Обещанный платёж
                template(v-if="!loadingPromisedPayment && !isPromisePay")
                  div.color--red-base(:class="`${pre}__inf-promise`")
                    | Услуга не подключена
              template(v-if="!loadingPromisedPayment && !isPromisePay")
                div.d--flex.align-items-end.mt-auto
                  div.ml-auto
                    er-icon.color--yellow-base(
                      name="trast_pay"
                      :class="`${pre}__card-icon`"
                    )
              // ОП активен
              template(v-else-if="!loadingPromisedPayment && isPromisePay")
                div(:class="`${pre}__timer`")
                  div(:class="`${pre}__timer__label`") Осталось дд.чч.мм
                  div(:class="`${pre}__timer__day`")
                    h2(:class="`${pre}__timer__day__value`") {{ getToDatePromisePay.day }}
                  div(:class="`${pre}__timer__hour`")
                    h2(:class="`${pre}__timer__hour__value`") {{ getToDatePromisePay.hour }}
                  div(:class="`${pre}__timer__min`")
                    h2(:class="`${pre}__timer__min__value`") {{ getToDatePromisePay.minute }}
              // Загрузка информации об обещанном платеже
              template(v-else-if="loadingPromisedPayment")
                er-button(id="preloaderPromisePay" :loading="true" flat)
            template(v-if="!loadingPromisedPayment && isPromisePay")
              div(:class="`${pre}__progressbar`")
                div(:class="`${pre}__progressbar__wrapper`")
                  div(id="bgg" :class="`${pre}__progressbar__width`" :style="{ width: `${getWidthPromisePayLine}%` }")

      er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale`")
        er-card(:class="`${pre}__card-shadow`")
          div(:class="`${pre}__card-height`")
            router-link(to="/lk/support?form=erroneous_payment")
              h4(:class="`${pre}__card-title`")
                | Заявление об ошибке в платеже
              div.d--flex.align-items-end.mt-auto
                div.ml-auto
                  er-icon.color--yellow-base(name="doc_edit" :class="`${pre}__card-icon`")

    er-activation-modal(
      type="success"
      v-model="isNotAccessInvPayment"
      title="Запрос счёта на оплату недоступен"
      :isShowActionButton="false"
      cancel-button-text="Спасибо"
    )
      template(slot="description")
        | У вас положительный баланс, поэтому запрос информационного счёта недоступен! Приятного пользования услугами Дом.ru
