.add-redirection-form
  .add-redirection-form__content
    p.hint Номер для переадресации необходимо указывать после +7, с	кодом города для стационарных телефонов. Например для телефона +7	912	345	67	89 указывать:	912	345	67	89

  .add-redirection-form__content
    .add-redirection-form__form
      er-container.container--full.container--no-padding
        er-row
          er-flex.xs10.sm4
            er-select(
            :items="phones"
            v-model="slectedPhone"
            autocomplete="disabled"
            label="Номер телефона"
            name="selectedphone"
          )
          er-flex.xs10.sm3
            er-select(
            :items="redirectionTypes"
            v-model="selectedRedirectionType"
            label="Тип переадресации"
            autocomplete="disabled"
          )
          er-flex.xs10.sm4
            
            er-text-field(v-model="phoneTo" mask="phone" :rules="phoneRule"  :is-show-success="true" autocomplete="disabled" )

  .add-redirection-form__period
    .title Выберите период переадресации
    div(class="add-redirection-form__period__table")
      .wrapper
        div
          .caption2 День недели
          .days  
            div(v-for="(item, index) in dayOfWeek" :key="index" class="item")  
              div {{ item.name }}
              er-toggle(
                type="checkbox"
                view="radio-check"
                v-model="periodList"
                :value="item.value"
                )
        er-form
          .caption2 Период времени
          .time
            .field
              er-text-field(v-model="timeFrom" :rules="timeRule" mask="99 : 00" :is-show-success="true" :isHideMask="false")
            .line -
            .field
              er-text-field(v-model="timeTo" mask="99 : 00" :rules="timeRule" :isHideMask="false" :is-show-success="true")



    .add-redirection-form__actions
      er-row
        er-flex.xs12.sm6.lg4
          er-button(
            color="blue"
            @click="createOrder"
            :disabled="disabledPlug"
            :loading="creatingOrder"
          ) Подключить
        er-flex.xs12.sm6.lg4
          er-button(
            flat
            @click="onCancel"
            :disabled="creatingOrder"
          ) Отмена
  er-activation-modal(
    type="question"
    v-model="isShowPlugModal"
    title="Вы уверены, что хотите подключить переадресацию?"
    @confirm="sendOrder"
    :isLoadingConfirm="sendingOrder"
    actionButtonText="Подключить"
  )
  er-activation-modal(
    type="error"
    v-model="isShowErrorModal"
    title="Ошибка"
    cancel-button-text="Закрыть"
    :isShowActionButton="false"
  )
  er-activation-modal(
    type="success"
    v-model="isShowSuccessModal"
    title="Заказ создан успешно"
    :isShowActionButton="false"
    cancel-button-text="Спасибо"
  )
