// Promise Expired

div(:class="`${pre}`")
  er-container(full :class="`${pre}__container`")
    er-row.justify-content-between.no-gutters
      er-card(:class="`${pre}__card`")
        div(:class="`${pre}__card-height`")
          er-flex(xs2)
            er-icon(name="cancel" :class="`${pre}__icon-height`")
          er-flex(xs10)
            div(:class="`${pre}__pos`")
              h3
                | Обещанный платеж<br> просрочен


    div(:class="`${pre}__butt`")
      er-button(
        type="submit"
        @click="paypage"
      )
        | Перейти в платежи
