div(:class="`${pre}`")
  div(style='\
  position: fixed;color: white;left: 0px;top: 0px; width: 165px;\
  color: black;z-index: 100;\
  ')
    | {{ windowWidth }} - {{this.clientsTestimonialsPages}}

  div(:class="`${pre}__container-main`")
    div.caption(:class="`${pre}__back-main`")
      div.icon.ml-auto
        er-icon(name="arrow_l" :class="`${pre}__icon-height`")
        a.caption(href="#" :class="`${pre}__back-main__text`") Назад на главную

    div.mb-8.d--flex.align-items-start
      div.icon(:class="`${pre}__back-main-xs`")
        er-icon(name="arrow_l")
      h1.fonts--demi(:class="`${pre}__welcome-title`")
        | Платежи и начисления

    er-container(full :class="`${pre}__container`")
      er-row(no-gutters)
        er-flex(xs12, :class="`${pre}__fast-links`")
          er-row(no-gutters)
            er-flex.mb-16.pr-32(xs12 lg4)
              div.mb-8(:class="`${pre}__balance-score`")
                | На вашем счете:
              div.mb-8.d--flex.align-items-center
                div.caption.icon
                  er-icon(name="wallet_auto")
                h2.mr-8.ml-8 155 054,02
                div.rub.mt-4(:class="`${pre}__balance-score__currency`")
              div.mb-28(:class="`${pre}__balance-score__subtitle`")
                | На вашем счете недостаточно средств для списания

            er-flex.mb-16.pr-32(xs12 lg5)
              div.mb-8(:class="`${pre}__balance-score`")
                | Сумма к оплате:
              div.mb-8.d--flex.align-items-center
                div.caption.icon
                  er-icon(name="rouble")
                h2.mr-8.ml-8(:class="`${pre}__balance-score__line`") 56 946,92
                div.rub.mt-4(:class="`${pre}__balance-score__currency`")

            er-flex.mb-16.pr-32(xs3)
              div.mb-8(:class="`${pre}__balance-score`")
                | Дата списания:
              div.mb-8.d--flex.align-items-center
                div.caption.icon
                  er-icon(name="calendar")
                h2.mr-8.ml-8 01.02.17

          er-row(no-gutters :class="`${pre}__card-row`")
            er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale`")
              er-card(:class="`${pre}__card-hover__card-shadow`")
                div(:class="`${pre}__card-height`")
                  router-link(to="/pay" :class="`${pre}__card-shadow1`")
                    h4(:class="`${pre}__card-title`")
                      | Оплата картой
                      div.new
                        div.caption.mb-4
                          div.icon.ml-auto.color--green-base(:class="`${pre}__icon-pos`")
                            er-icon(name="ok" :class="`${pre}__icon-height`")
                            span.caption.color--green-base.autopay(:class="`${pre}__icon-span`") Автоплатеж подключен
                            er-icon(name="pay_card" :class="`${pre}__card-hover__icon`")
                    div.d--flex.align-items-end.mt-auto
                      div.icon.ml-auto
                        er-icon.color--yellow-base(name="pay_card")
            er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale`")
              er-card(:class="`${pre}__card-hover__card-shadow`")
                div(:class="`${pre}__card-height`")
                  router-link(to="/")
                    div.title.color--shades-black
                      | Счет на<br> оплату
                    div.d--flex.align-items-end.mt-auto
                      div.icon.ml-auto
                        er-icon.color--yellow-base(name="score")
                        er-icon(name="pay_card" :class="`${pre}__card-hover`")

            er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale`")
              er-card(:class="`${pre}__card-hover__card-shadow`")
                div(:class="`${pre}__card-height`")
                  router-link(to="/")
                    div.title.color--shades-black
                      | Обещанный платёж
                    div.d--flex.align-items-end.mt-auto
                      template(v-if="true")
                        div.icon.ml-auto
                          er-icon.color--yellow-base(name="trast_pay")
                          er-icon(name="pay_card" :class="`${pre}__card-hover`")

            er-flex.mb-16(xs6 lg3 :class="`${pre}__card-scale`")
              er-card(:class="`${pre}__card-hover__card-shadow`")
                div(:class="`${pre}__card-height`")
                  router-link(to="/")
                    div.title.color--shades-black
                      | Заявление об ошибке в платеже
                    div.d--flex.align-items-end.mt-auto
                      div.icon.ml-auto
                        er-icon.color--yellow-base(name="doc_edit")
                        er-icon(name="pay_card" :class="`${pre}__card-hover`")

            er-flex(xs12)
              h2.mt-44(:class="`${pre}__service__title`")
                | Последние операции
                div.mt-20.d--flex.align-items-center(:class="`${pre}__service__data`")
                  div.mr-8(:class="`${pre}__service__data__dm`")
                    | Январь
                  div(:class="`${pre}__service__data__yy`")
                    | '17

    er-container.mb-24(full :class="`${pre}__container-operation`")
      er-row(no-gutters)
        er-flex.mb-16.pr-8(xs12)
          OperationComponent(index=0)
          OperationComponent(index=1)
          OperationComponent(index=2)
          OperationComponent(index=3)
          OperationComponent(index=4)

      er-row.mt-36.justify-content-between(no-gutters)
        er-flex(xs3)
          div(:class="`${pre}__operation__submit-inn`")
            er-button(type="submit", flat=true)
              | История платежей
        er-flex(xs2)
          div(:class="`${pre}__operation__submit-inn`")
            img(src="@/assets/images/load.png")
            er-button(type="submit")
              | Скачать pdf
