// pay-page

div(:class="`${pre}`")
  div(:class="`${pre}__container-main`")
    div.caption(:class="`${pre}__back-main`")
      div.ml-auto
        er-icon(name="arrow_l" :class="`${pre}__icon-height`")
        a.caption(
          href="#"
          :class="`${pre}__back-main__text`"
          @click="main"
        )
          | Назад на главную

    div.mb-8.d--flex.align-items-start(:class="`${pre}__back-arr`")
      div(:class="`${pre}__back-main-xs`")
        er-icon(name="left")
      h1.fonts--demi(:class="`${pre}__welcome-title`")
        | Платежи и начисления

    er-container(:class="`${pre}__container`")
      InfoScore
      ButtonPay
      er-flex(xs12)
        h2(:class="`${pre}__service__title`")
          | Последние операции

    er-container.mb-24(full :class="`${pre}__container-operation`")
      ActionMonth(month="Январь" page="pay")

    er-container.mb-24(full :class="`${pre}__container-button`")
      er-row.justify-content-between(
        no-gutters
        :class="`${pre}__button-group`"
      )
        er-flex(xs11 sm4 md4 lg3 )
          er-button(
            type="submit",
            flat=true,
            @click="history"
            :class="`${pre}__button-group__history`"
          )
            | История платежей
        er-flex(xs11 sm5 md5 lg3 style="position: relative")
          er-button.align-items-center(type="submit" :class="`${pre}__button-group__load`")
            | Скачать PDF
            er-icon(name="download" :class="`${pre}__download-icon`")


