div(:class="`${pre} main-content main-content--top-menu-fix`")
  er-page-header(
    title="Контент-фильтрация"
    @onBack="dataLayerPush({ category: 'internet', label: 'cfbacktomain' })"
  )
  template(v-if="isLoading")
    er-card-products(loading)
    er-card-products(loading)
    er-card-products(loading)
  template(v-else)
    template(v-if="data.length")
      div(:class="`${pre}__points`")
        er-card-products(
          v-for="(item, index) in data"
          :key="index"
          :price="item.price"
          :date="item.date"
          detailCloseAnalyticCategory="internet"
          detailCloseAnalyticLabel="cfdetailedaddress2"
          )
          | {{ item.fulladdress}}
          template(#slider-content)
            div(:class="`${pre}__slider-content`")
              div(:class="`${pre}__tariff`")
                er-icon(class="icon" name="filter")
                div(:class="`${pre}__caption2`") Тариф:
                div(:class="`${pre}__h4`") {{ item.tariff }}
              div(:class="`${pre}__login`" v-if="item.login")
                er-icon(class="icon" name="profile")
                div(:class="`${pre}__caption2`") Логин:
                div() {{ item.login }}
            div(:class="`${pre}__slider-buttons`")
              a(:href="item.link"  target="_blank" v-if="item.link")
                er-button(color="yellow") Настроить фильтрацию
              er-button(
                :disabled="isCreatingOrder"
                :loading="isCreatingOrder"
                flat
                @click="disconnect(item.offerId, item.locationId, item.bpi, item.productId, item.date)"
                ) Отключить фильтрацию
        div(:class="`${pre}__total`")
          div(:class="`${pre}__h4`") Итого:
          div(class="price")
            div(:class="`${pre}__h4`") {{ amountPrice }}
            span(class="units") &nbsp₽/месяц

    .button(v-if="!(!data.length || isShowConnecting) && freePoints.length")
      er-button(
        color="blue"
        data-ga-category="internet"
        data-ga-label="cforder"
        @click="isShowConnecting = true"
      ) Подключить Контент-фильтрацию

    plug(v-if="!data.length || isShowConnecting" :points="freePoints")

  er-activation-modal(
    type="error"
    title="Произошла ошибка"
    v-model="isShowErrorModal"
    :isShowActionButton="false"
    cancel-button-text="Закрыть"
  )
    template(slot="description")
      div Уважаемый Клиент, в данный момент операция не доступна, обратитесь к персональному менеджеру
  er-activation-modal(
    type="error"
    title="Произошла ошибка"
    v-model="isShowErrorDisconnectModal"
    :isShowActionButton="false"
    cancel-button-text="Закрыть"
  )
    template(slot="description")
      div Обращаем Ваше внимание, что отключить сервис Контент-фильтрация будет возможно только на следующий календарный день после активации.

  er-activation-modal(
    title="Заказ успешно сформирован"
    type="success"
    :isShowCancelButton="false"
    actionButtonText="Спасибо"
    @confirm="isShowSuccessModal = false"
    v-model="isShowSuccessModal"
  )
    template(slot="description")
      div Благодарим Вас за заказ! Подробности выполнения можно отследить в разделе заказы

  er-activation-modal(
    type="question"
    v-model="isShowDisconnectModal"
    title="Вы уверены, что хотите отключить контент-фильтрацию?"
    cancel-button-text="Отменить"
    actionButtonText="Отключить"
    persistent
    :isLoadingConfirm="sendingOrder"
    @confirm="sendOrder"
    @close="cancelOrder"
  )
