div.main-content.main-content--top-menu-fix(:class="{'main-content--padding': !isMobile}")
  div(:class="`${pre}`")
    er-page-header(
      title="Аналитика"
      linkText="Назад в WiFi зона"
      backlink="/lk/wifi/analytics/promo")
    list-point-component(
      :list="listPoint"
      v-model="activePoint"
    )

    template(v-if="!isLoadingCustomerProduct && isActiveProduct")
      submenu(@input="selectSubpage" :subpage="subpage")

  template(v-if="isLoadingCustomerProduct")
    .d--flex.align-items-center.justify-content-center.my-16
      ErtProgressCircular.mr-16(indeterminate width="2")
      .title Загружаем клиентские продукты

  template(v-else-if="isActiveProduct")
    router-view(:vlan="vlan" :cityId="cityId" :disconnectData="getDisconnectData")

  template(v-else-if="!isActiveProduct")
    ErPromo(
      banner="wifi-analytics-promo.png"
      :featureList="promoFeatureList"
      :isLoadingConnectButton="isShowPlugProductPlugin || isCheckingMoney"
      @click="onConnect"
    )
    .h4.mt-16 Стоимость услуги - {{ getPriceForConnection }} ₽/месяц

    ErPlugProduct(
      v-model="isShowPlugProductPlugin"
      :orderData="getOrderData"
      isSendOrder
      @cancelOrder="() => { isShowPlugProductPlugin = false }"
      @errorOrder="() => { isShowPlugProductPlugin = false }"
      @successOrder="() => { isShowPlugProductPlugin = false }"
    )
      template(v-slot:offerDescription)
        div.caption1.my-8
          | Стоимость услуги составит {{ getPriceForConnection | priceFormatted }} ₽/мес

    ErActivationModal(
      type="info"
      v-model="isShowMoneyModal"
      actionButtonText="Пополнить  счёт"
      @confirm="onToPayment()"
      cancel-button-text="Закрыть"
    )
      template(v-slot:description)
        .h4 Уважаемый клиент, для завершения заказа на лицевом счете не достаточно денежных средств. Пополните лицевой счет и повторите покупку.
        .caption.text-color-black08 Стоимость подключения: <b>{{ getPriceForConnection }}</b> ₽
        .caption.text-color-black08 Ваши доступные средства: <b>{{ availableFundsAmt }}</b> ₽

    ErActivationModal(
      type="error"
      v-model="isErrorMoney"
      title="Возникла ошибка"
      :isShowActionButton="false"
      :persistent="true"
      cancelButtonText="Закрыть"
    )
      template(v-slot:description)
        div Уважаемый Клиент, в данный момент операция не доступна, обратитесь к персональному менеджеру

