div(:class="`${pre}`")
  .document-page__head
    er-page-header(
      linkText="Назад на главную"
      title="Документы"
      backlink="/lk"
      data-ga-category="documents"
      data-ga-label="return"
    )


  .document-page__select-type.document-tabs
    .document-tabs__title(
      @click="onSelectContractTab()"
      v-class-mod="{active: currentDocumentType === CONTRACT_DOCUMENTS}"
      data-ga-category="documents"
      data-ga-label="contracts"
    )
      | Контрактные

    .document-tabs__title(
      @click="onSelectReportTab()"
      v-class-mod="{active: currentDocumentType === REPORT_DOCUMENTS}"
      data-ga-category="documents"
      data-ga-label="reports"
    )
      | Отчётные

  .document-page__contract-documents(v-show="currentDocumentType === CONTRACT_DOCUMENTS")
    .wide-content
      er-contract-filter(
        :filter-types="contractFilterTypes"
        :filter-type="contractFilterTypesModel"
        :period="contractPeriod"
        :list-type="getContractType"
        :type="contractType"
        @change-filter-type="e => { contractFilterTypesModel = e }"
        @change-period="e => { contractPeriod = e }"
        @change-type="e => { contractType = e }"
      )

    .document-page__list.main-content.main-content--h-padding
      er-container.full.container--no-padding.document
        er-row(v-if="loadingDocuments || loadingUserListInfo")
          er-flex.document-page__loading.d--flex.align-items-center
            .loading-text.mr-16
              | Идёт загрузка документов
            er-progress-circular(indeterminate width="2")
        er-row(v-else-if="computedAllContractDocuments.length !== 0 || isUserlistRequired")
          er-flex.lg4.md6.sm6.xs12.d--flex(
            v-for="document in computedAllContractDocuments"
            :key="document.number"
          )
            blank-document(
              v-if="isBlankDocument(document)"
              :document="document"
            )
            contract-document(
              v-else-if="isContractDocument(document)"
              :document="document"
              @signing:digital="digitalSigning"
              @signing:manual="manualSigning"
            )
            other-document(
              v-else
              :document="document"
            )
          er-flex.lg4.md6.sm6.xs12.d--flex(
            v-if="isUserlistRequired"
          )
            user-list-document

        er-row(v-else)
          er-flex.document-page__empty-list
            er-icon(name="no")
            .empty-list-message.text-color-black08
              | По указанным критериям
              br
              | документов не
              br
              | найдено

  .document-page__report-documents(v-show="currentDocumentType === REPORT_DOCUMENTS")
    .wide-content
      er-report-filter(
        :period="reportPeriod"
        :types="getReportFilterItems"
        :type="reportType"
        @change-period="e => { reportPeriod = e }"
        @change-type="e => { reportType = Object.assign({}, e) }"
      )

    .document-page__list.main-content.main-content--h-padding
      er-container.full.container--no-padding.document
        er-row(v-if="loadingDocuments")
          er-flex.document-page__loading.d--flex.align-items-center
            .loading-text.mr-16
              | Идёт загрузка документов
            er-progress-circular(indeterminate width="2")
        er-row(v-else-if="allReportDocuments.length")
          er-flex.lg4.md6.sm6.xs12.d--flex(
            v-for="report in computedAllReportDocuments"
            :key="report.number"
          )
            report-document(
              :document="report"
              @select="onReportSelect"
              @unselect="onReportUnselect"
            )
          er-flex.lg4.md6.sm6.d--flex
            button-document(
              caption="Заказать другой документ"
              data-ga-category="documents"
              data-ga-label="reportsorderanother"
              @click="onOrderDocumentClick()"
            )

        er-row(v-else)
          er-flex.lg4.md6.sm6.d--flex
            button-document(
              caption="Заказать другой документ"
              data-ga-category="documents"
              data-ga-label="reportsorderanother"
              @click="onOrderDocumentClick()"
            )

  er-document-actions(
    :active="hasSelectedReports"
    :emails="listEmail"
    :count="reportSelectedCount"
    :loading-sending="loadingSending"
    @send="sendOnEmail"
  )

  manual-signing-document(
    v-model="isManualSigning"
    :data="signingDocument.data"
    :filename="signingDocument.fileName"
    :related-to="signingDocument.relatedTo ? signingDocument.relatedTo.id : undefined"
    :type="signingDocument.type ? signingDocument.type.id : undefined",
    :id="signingDocument.id"
    @success="successSigned"
    )

  digital-signing-document(
    v-model="isDigitalSigning"
    :signing-document="signingDocument"
    @success="successSigned"
  )

  er-activation-modal(
    type="success",
    title="Документы успешно отправлены"
    :is-show-action-button="false"
    cancel-button-text="Спасибо",
    v-model="isSuccessSend"
  )

  er-activation-modal(
    type="error",
    title="При отправке возникла ошибка"
    :is-show-action-button="false"
    cancel-button-text="Закрыть",
    v-model="isErrorSend"
  )
    template(slot="description")
      | Повторите запрос позднее
