div(:class="`${pre} main-content main-content--top-menu-fix`")
  er-page-header(title="Облачная телефония")
  div(:class="`${pre}__points`")
    point-component(:item="item" v-for="(item, index) in data" :key="index")
    div(:class="`${pre}__total`")
      div(:class="`${pre}__h4`") Итого:
      div(class="price")
        div(:class="`${pre}__h4`") 8300
        span(class="units") &nbsp₽/месяц
  .button
    er-button(color="blue") Подключить ОАТС


