er-filter-container(
  :active="isFiltersVisible"
  @click-outside="() => { isFiltersVisible = false }"
).er-contract-filter
  div(
    slot="selected-filters"
    @click="onShowFilters"
  ).er-contract-filter__current
    span.er-filter-container__active-filter.mr-16(
      data-ga-category="documents"
      data-ga-label="all"
    )
      | {{ filterTypes[internalFilterType] }}
    span.er-filter-container__active-filter(
      data-ga-category="documents"
      data-ga-label="dates"
    )
      | {{ getFormatPeriod }}

  div(slot="title")
    | Контрактные документы

  .er-contract-filter__wrap
    .er-contract-filter__list.main-content.main-content--h-padding
      er-container.full.container--no-padding
        er-row
          er-flex.xs12.sm8.r-offset-sm4.r-offset-md0.md5.lg3
            er-filter-group(title="Тип документа").er-contract-filter--doc-type
              .er-contract-filter__list-items
                .er-contract-filter__item(v-for="(title, idx) in filterTypes")
                  er-toggle(
                    type="radio"
                    view="radio-check"
                    name="contract-filter-type"
                    :value="idx"
                    :id="'id-filter-type-' + idx"
                    :modelValue="internalFilterType"
                    v-model="internalFilterType"
                    data-ga-category="documents"
                    data-ga-label="datesfilter"
                  )
                  label(:for="'id-filter-type-' + idx").er-toggle__custom-label
                    | {{ title }}

          er-flex.r-offset-sm6.r-offset-md0.md5.lg4
            er-filter-group(title="Период")
              er-date-picker(
                v-model="internalPeriod"
                disabled-date="future"
                data-ga-category="documents"
                data-ga-label="docsfilter"
                hasAnalytics
              )

          er-flex.md1.lg3.d--flex.align-items-center
            er-filter-close(@click="isFiltersVisible=false")
