div(:class="`${pre}`")
    template(v-if="getChartType === 'line'")
        div.line-chart-period
            template(v-for="(item, idx) in getLineChartPeriods") 
                button.line-chart-period__item(
                    :class="{'is-selected': lineChartPeriod === idx}"
                    type="button" 
                    @click="setLineChartPeriod(idx)"
                ) {{ item }}
    div.chart-holder(
        ref="chartholder"
        :class="[getChartType]"
    )
    div.chart-legend(
        ref="chartlegend"
        :class="{'is-hide-inactive': !legendInactiveIsVisible}"
    )
        div.chart-legend__controls.chart-legend__item
            div.chart-legend__controls__item(
                @click="toggleLegendInactiveVisible"
            ) {{ getLegendInactiveControl }}
            div.chart-legend__controls__item(
                v-if="isMobile"
                @click="toggleLegendUnits"
            ) {{ legendUnits[legendUnit] }}

        div.chart-legend__item.chart-legend__head(@click="toggleLegend")
            div.chart-legend__item__label
                span.chart-legend__item__toggle-marker(:class="{'is-open': legendIsOpen}")
                    er-icon(name="corner_down")
                span.chart-legend__item__marker(:style="{backgroundColor: '#6688C9', borderColor: '#6688C9'}")
                span.chart-legend__item__txt Общее количество подключений
            template(v-if="!legendUnit || legendUnit === 'pcnt'")
                div.chart-legend__item__data-pcnt 20
                    span.chart-legend__item__data-pcnt__pcnt %
            template(v-if="!legendUnit || legendUnit === 'unit'")
                div.chart-legend__item__data 192 250
            

        er-slide-up-down.chart-legend__content(:active="legendIsOpen")
            template(v-for="(section, idxs) in connections")
                div.chart-legend__section-head.chart-legend__item(
                    :key="idxs"
                    :class="{'is-inactive': !section.active}"
                    @click="toggleLegendSection(idxs)"
                )
                    div.chart-legend__item__label
                        span.chart-legend__item__toggle-marker(:class="{'is-open': legendSections[`section${idxs}`]}")
                            er-icon(name="corner_down")
                        span.chart-legend__item__marker
                        span.chart-legend__item__txt {{ section.section }}
                    template(v-if="!legendUnit || legendUnit === 'pcnt'")    
                        div.chart-legend__item__data-pcnt 12
                            span.chart-legend__item__data-pcnt__pcnt %
                    template(v-if="!legendUnit || legendUnit === 'unit'")
                        div.chart-legend__item__data {{ calcLegendSectionData(section.data) }}              

                er-slide-up-down.chart-legend__content-section(:active="legendSections[`section${idxs}`]")
                    template(v-for="(item, idxi) in section.data")
                        div.chart-legend__item(
                            :key="idxi"
                            :class="{'is-inactive': !item.active}"
                        )
                            div.chart-legend__item__label
                                span.chart-legend__item__marker(:style="{backgroundColor: legendColor[item.label], borderColor: legendColor[item.label]}")
                                span.chart-legend__item__txt {{ item.label }}
                            template(v-if="!legendUnit || legendUnit === 'pcnt'")
                                div.chart-legend__item__data-pcnt 12
                                    span.chart-legend__item__data-pcnt__pcnt %
                            template(v-if="!legendUnit || legendUnit === 'unit'")
                                div.chart-legend__item__data {{ calcLegendItemData(item.data) }}                     
        
            