footer.er-footer.columns
  .column.column--left

  .column
    er-container.full.flex
      er-row.justify-content-end
        er-flex.er-footer-column.er-footer-column--content-3(lg3, md4, sm6, xs12)
          er-footer-menu(title="Услуги", :items="serviceMenu" isExternal)

        er-flex.er-footer-column.er-footer-column--content-3(lg3, md4, sm6, xs12)
          er-footer-menu(title="Сервис", :items="serviceMenuSecond")

        er-flex.er-footer-column.er-footer-column--content-3(lg3, md4, sm6, xs12)
          a.er-footer__title.er-footer__title--link(
            :href='NEWS_LINK'
            target="_blank"
            @click="dataLayerPush({ category: 'footer', label: 'news' })"
          )
            | Новости компании
          include soc.pug

        er-flex.er-footer-column.er-footer-column--fix-right(xl3, lg3, md4, sm6, xs12)
          .er-contacts
            .er-contacts-phone
              .d--flex.flex-row.align-items-end
                .d--flex.align-items-center.h32
                  er-icon(
                    name="manager"
                    width="24"
                  ).er-contacts-phone__icon
                div.just-wrapper
                  .er-contacts-phone__title
                    | Отдел продаж
                  .d--flex.align-items-center.h32
                    a(
                      :href="'tel:' + MANAGER_PHONE_NUMBER.number"
                      data-ga-tag-id="manager-phone-number"
                      @click="dataLayerPush({ category: 'footer', label: 'phonesales' })"
                    ).er-contacts-phone__number
                      | {{ MANAGER_PHONE_NUMBER.title }}

            .er-contacts-phone
              .d--flex.flex-row.align-items-end
                .d--flex.align-items-center.h32
                  er-icon(
                    name="lifebuoy"
                    width="24"
                  ).er-contacts-phone__icon
                div.just-wrapper
                  .er-contacts-phone__title
                    | Обслуживание
                  .d--flex.align-items-center.h32
                    a(
                      :href="'tel:' + SERVICE_PHONE_NUMBER.number"
                      @click="dataLayerPush({ category: 'footer', label: 'phoneservice' })"
                    ).er-contacts-phone__number
                      | {{ SERVICE_PHONE_NUMBER.title }}
            .er-contacts-address
              .er-contacts-address__title
                | Юридический адрес:
              a(
                :href="ACTUAL_ADDRESS.url"
                target="_blank"
                v-html="ACTUAL_ADDRESS.text"
              ).er-contacts-address__address

              template(v-if="isVisibleAddress")
                .er-contacts-address__title.mt-16
                  | Фактический адрес:
                span.er-contacts-address__address(v-html="branchAddress")

          .er-copyright
            | © АО «ЭР-Телеком Холдинг»

  .column.column--right
