div

  er-activation-modal(
    type="question"
    v-model="isShowRequestModal"
    title="Вы уверены, что хотите отправить заявку на отключение?"
    cancel-button-text="Отменить"
    actionButtonText="Отключить"
    :isLoadingConfirm="isCreatingRequest"
    @confirm="sendRequest"
    @close="closeCreatingRequest"

  ) Заявка будет отправлена вашему персональному менеджеру
  er-activation-modal(
    type="success"
    v-model="isShowSuccessRequestModal"
    title="Заявка отправлена"
    :isShowCancelButton="false"
    actionButtonText="Спасибо"
    :persistent="true"
    @confirm="closeSuccessRequestModal"
  )
    template(slot="description")
      | Заявка отправлена вашему персональному менеджеру. Статус заявки {{ requestId }} можно отследить в разделе Поддержка
  er-activation-modal(
    type="error"
    v-model="isShowErrorRequestModal"
    title="Возникла ошибка"
    :isShowActionButton="false"
    :persistent="true"
    cancelButtonText="Закрыть"
    @close="onCloseErrorModal"
  ) 
    template(slot="description")
      | Нам очень жаль, произошла ошибка при отправке заявки на подключение. Свяжитесь с Вашим персональным менеджером

  er-activation-modal(
    type="question"
    v-if="isSendOrder"
    v-model="isShowDeleteOrderModal"
    :title="deleteOrderData.title"
    @confirm="sendOrder"
    :persistent="true"
    @close="cancelOrder"
    :isLoadingConfirm="sendingOrder"
    actionButtonText="Отключить"
    )
  er-activation-modal(
    type="success"
    v-model="isShowSuccessOrderModal"
    title="Заявка отправлена"
    :isShowCancelButton="false"
    actionButtonText="Спасибо"
    :persistent="true"
    @confirm="closeSuccessOrderModal"
  )
    template(slot="description")
      | Заказ успешно создан
  er-activation-modal(
    type="error"
    v-model="isShowErrorOrderModal"
    title="Возникла ошибка"
    :isShowActionButton="false"
    :persistent="true"
    cancelButtonText="Закрыть"
    @close="closeErrorOrderModal"
  ) 