.er-ip-page
  .main-content.main-content--top-menu-fix.main-content--padding
    .er-ip-page__head
      er-page-header(
        linkText="Назад в Интернет"
        title="Дополнительные IP-адреса"
      )

  .connections-wrap
    .connections
      .connections__head
        .connections__title
          .title-icon
            er-icon(name="geolocation")
          .title-text {{ connectionAddress }}
        .connections__ip-address
          span.ip-label IP:
          span.ip-address {{ connectionIpAddress }}
        er-corner-button(
          @click="onToggleConnections"
        )

      er-slide-up-down(
        :active="isConnectionsShow"
        :duration="200"
      )
        .connections__content Тут пусто

    .connections__big-expander(@click="onToggleConnections")
      .big-expander-button(
          :class="{'big-expander-button--active': isConnectionsShow}"
        )
        er-icon(name="corner_down")
      .connections__total-connections
        | Все подключения ({{ totalConnections }})

  .main-content.main-content--h-padding
    .login-block.d--flex
      .login-block__icon
        er-icon(name="profile")
      .login-block__info
        .login-block__label Логин:
        .login-block__name {{ userLogin }}

  .main-content.main-content--h-padding
    .er-ip-page__body
      table.ip-table
        thead
          tr
            th.col-static-ip
              | Статические IP-адреса
            th.col-protocol
              | Протокол
            th.col-active-date
              | Активирован
            th.col-price
              | Стоимость
            th.col-actions
        tbody
          template(v-for="addr in ipAddressList")
            tr.t-row
              td.col-static-ip
                | {{ addr.ip }}
                .evil-designer-block
                  .ip-table__active-date {{ addr.activationDate }}
                  .ip-table__protocol {{ addr.protocol }}
              td.col-protocol.ip-table__protocol
                | {{ addr.protocol }}
              td.col-active-date.ip-table__active-date
                | {{ addr.activationDate }}
              td.col-price
                price(
                  v-if="addr.price"
                  :sum="addr.price"
                )
                .no-price(v-else)
                  span Бесплатно

              td.col-actions
                .delete-action
                  er-icon(name="trashbox")
                  .label Удалить

            tr.t-row2(v-if="addr.subnet")
              td(colspan="5")
                subnet-expander(:list="addr.subnet")

  .main-content.main-content--x-padding
    .er-ip-page__total.total-block
      .total-block__label Итого
      .total-block__sum
        price(:sum="totalPrice")

  .main-content.main-content--h-padding
    .er-ip-page__footer
      .er-ip-page__actions(v-show="!showAddIpForm")
        er-container.container--full.container--no-padding.full
          er-row
            er-flex.d--flex.xs12.sm6.md4
              er-button(
                color="blue"
                @click="onShowAddIpForm"
              ) Добавить IP-адрес

      .er-ip-page__add-ip-form.add-ip-form(v-show="showAddIpForm")
        .add-ip-form__title Добавить IP-адрес
        .add-ip-form__inputs
          .input-row.columns
          er-container.full.container--no-padding
            er-row
              er-flex.column.xs12.sm4
                .column__label
                  | Протокол
                er-select(
                  :isSelectFirst="true"
                  value="addProtocol"
                  :items="protocolList"
                  v-model="addProtocol"
                )
              er-flex.column.xs12.sm4
                  .column__label
                    | Кол-во IP-адресов
                  er-select(
                    :isSelectFirst="true"
                    value="ipCountList"
                    :items="ipCountList"
                    v-model="addIpCount"
                  )
              er-flex.column.xs12.sm4
                .column__label
                  | Стоимость
                price(:sum="200")

        .add-ip-form__actions
          er-container.full.container--no-padding
            er-row
              er-flex.d--flex.xs12.sm4.md3
                er-button(@click="onAddIp") Добавить
              er-flex.d--flex.xs12.sm4.md3
                er-button(
                  color="gray"
                  @click="onCancelAddIp"
                ) Отмена

  .big-space
