// ListAddress

div.mb-32(:class="`${pre}`")
  div(:class="`${pre}__item`", @click="subwork_internet")
    div.d--flex(:class="`${pre}__${title}`")
      div(:class="`${pre}__icon`")
        er-icon(
          :class="`${pre}__${geo}`"
          name="geolocation"
        )
      div(:class="`${pre}__title`")
        | {{ item.city }}
        | {{ item.street }}
      div(:class="`${pre}__price`")
        div.mb-4.d--flex.align-items-end
          div(:class="`${pre}__value`")
            | {{ item.value }}&nbsp;
          div.rub(:class="`${pre}__price__unit`")
          a(:class="`${pre}__toggle--desktop`")
            er-icon(:name= "subarr_direct")

    er-slide-up-down(:active="subtmpActive")
      div(:class="`${pre}__top`")
      DetailPay
      div(:class="`${pre}__delimiter ${pre}__delimiter__bottl`" v-if="index==='0'")
      div(:class="`${pre}__delimiter ${pre}__delimiter__bott`" v-else)



