// Filters Pay

div
  div.caption.mb-12
    | Фильтровать
  er-row.no-gutters(v-if="!isFiltersVisible")
    div.mr-8( style="cursor: pointer" @click="isFiltersVisible=true")
      er-icon.caption(name="filter_1")
    div.mr-40.no-gutters
      div(:class="`${pre}__infoFilter`")
        span(:class="`${pre}__infoFilter__date`")
          | {{ date }}
        span(:class="`${pre}__infoFilter__year`")
          | {{ year }}
    div.mr-40.justify-content.between.no-gutters(v-if="isCloseService")
      div(:class="`${pre}__infoFilter`")
        | {{ typeFindLabel }}
        span(:class="`${pre}__close`" @click="closeService()")
          er-icon(name="close")
    div.justify-content.between.no-gutters(v-if="isCloseTypePay")
      div(:class="`${pre}__infoFilter`")
        | {{ typePayLabel }}
        span(:class="`${pre}__close`" @click="closeTypePay()")
          er-icon(name="close" :class="`${pre}__close`")

  div(:class="`${pre}__container`" v-if="isFiltersVisible")
    er-row.justify-content.between(no-gutters :class="`${pre}__row`")
      er-flex(xs2)
        er-select(
          :class="`${pre}__typeFind`"
          :placeholder="typeFindLabel",
          :items="typeFind",
          @input="typeFindValue"
        )

      er-flex(xs3 :class="`${pre}__services`")
        div(@click="visTitleService" v-if="service" )
          div(:class="`${pre}__services__title ${pre}__services__title__${visService}`")
            | Услуга
          er-select(
            :placeholder="servicesLabel",
            :items="services",
            @input="servicesValue"
          )
        div(@click="visTitleService" v-else)
          div(:class="`${pre}__services__title ${pre}__services__title__${visService}`")
            | Город
          er-select(
          :placeholder="cityLabel",
          :items="cities",
          @input="citiesValue"
          )
      er-flex(xs3 :class="`${pre}__period`")
        div(:class="`${pre}__period__title`")
          | Период
        er-date-picker(
          format="DD.MM.YY",
          v-model="period",
          @datename="dateName($event)",
          @yearname="yearName($event)"
        )

      er-flex(xs2 :class="`${pre}__typePay`" @click="visTitleTypePay")
        div(:class="`${pre}__typePay__title ${pre}__typePay__title__${visTypePay}`")
          | Тип операции
        er-select(
          :placeholder="typePayLabel",
          :items="typePay",
          @input="typePayValue"
        )

      er-flex(xs1 :class="`${pre}__close-filter`")
        er-filter-close(@click="isFiltersVisible=false")

