// Filters Pay

div(:class="`${pre}`")
  div(:class="`${pre}__title`")
    | Фильтровать
  er-row.no-gutters(v-if="!isFiltersVisible")
    div.mr-16( style="cursor: pointer" @click="filtersVisible(true)")
      er-icon.caption(name="filter_1")
    div.mr-16.no-gutters(style="margin-top: -3px")
      div(:class="`${pre}__infoFilter`")
        span(:class="`${pre}__infoFilter__date`" v-if="!isFiltersMonthVisible")
          | {{ datePeriod }}
        span(:class="`${pre}__infoFilter__date`" v-if="isFiltersMonthVisible")
          | {{ date }}
        span(:class="`${pre}__infoFilter__year`" v-if="isFiltersMonthVisible")
          | {{ year }}
    div.mr-16.justify-content.between.no-gutters(
      v-if="isCloseService"
      style="margin-top: -3px"
    )
      div(:class="`${pre}__infoFilter`")
        | {{ typeFindLabel }}
        span(:class="`${pre}__close`" @click="closeService()")
          er-icon(name="close")
    div.justify-content.between.no-gutters(
      v-if="isCloseTypePay"
      style="margin-top: -3px"
    )
      div(:class="`${pre}__infoFilter ${pre}__infoFilter__ml${zero}`")
        | {{ typePayLabel }}
        span(:class="`${pre}__close`" @click="closeTypePay()")
          er-icon(name="close" :class="`${pre}__close`")

  er-overlay(v-model="openFilterMob" :z-index="6" :class="`${pre}__left`")

  div(:class="`${pre}__container`" v-if="isFiltersVisible")
    div.d--flex.align-items-end(:class="`${pre}__back-arr`")
      div.pb-4(
        :class="`${pre}__back-main-xs`"
        @click="filtersVisible(false)"
      )
        er-icon(name="left")
      div(:class="`${pre}__titleMob`")
        | Фильтровать платежи
    er-row.justify-content.between(no-gutters :class="`${pre}__row`")
      er-flex(xs12 md2)
        er-select(
          :class="`${pre}__typeFind`"
          :placeholder="typeFindLabel",
          :items="typeFind",
          @input="typeFindValue"
        )
      er-flex(xs12 md3 :class="`${pre}__services`")
        div(@click="visTitleService" v-if="service" )
          div(:class="`${pre}__services__title ${pre}__services__title__${visService}`")
            | Услуга
          er-select(
            :placeholder="servicesLabel",
            :items="services",
            @input="servicesValue"
          )
        div(@click="visTitleService" v-else)
          div(:class="`${pre}__services__title ${pre}__services__title__${visService}`")
            | Город
          er-select(
            :placeholder="cityLabel",
            :items="cities",
            @input="citiesValue"
          )
      er-flex(xs12 md3 :class="`${pre}__period`")
        div(:class="`${pre}__period__title`")
          | Период
        er-date-picker(
          format="DD.MM.YY",
          v-model="period",
          @datename="dateName($event)",
          @yearname="yearName($event)",
          @input="inp($event)"
          :periodInfo="periodInfo"
        )
      er-flex(xs12 md2 :class="`${pre}__typePay`" @click="visTitleTypePay")
        div(:class="`${pre}__typePay__title ${pre}__typePay__title__${visTypePay}`")
          | Тип операции
        er-select(
          :placeholder="typePayLabel",
          :items="typePay",
          @input="typePayValue"
        )
      er-flex(xs1 :class="`${pre}__close-filter`")
        er-filter-close(@click="filtersVisible(false)")

      div(:class="`${pre}__container-button`")
        er-row(no-gutters)
          er-flex.mb-16.d--flex.justify-content-center(xs12)
            er-icon.mr-8.color--green-base(name="lens" :class="`${pre}__icon-height`")
            span.caption.color--green-base(:class="`${pre}__icon-span`")
              | Найдено 2 платежа

          er-flex.mb-8(xs12)
            er-button(type="submit")
              | Фильтровать

          er-flex(xs12)
            er-button(type="submit", flat=true, @click="")
              | Сбросить фильтр

  div.d--flex.justify-content.center(
    v-if="isFiltersMonthVisible"
    :class="`${pre}__months-filter`"
  )
    span(
    v-for="month in typePeriod"
    :class="`${pre}__months-filter__span`"
    )
      er-button(type="button", flat=true,
      :class="`${pre}__months-filter__text ${pre}__months-filter__${month.active}`"
      @click="selectMonth($event)"
      )
        | {{ month.month }}





