// Filters Pay

div(:class="`${pre}`")
  er-report-filter.mb-64(
    :period="reportPeriod"
    :typesFind="typeFind"
    :servicesOrCities="selected"
    :typesPay="typePay"
    :typeFind="firstTypeFind"
    :servOrCit="typeSelect"
    :typePay="firstTypePay"
    @change-period="changePeriod($event)"
    @change-typeFind="changeType($event)"
    @change-servOrCit="e => { typeSelect = Object.assign({}, e) }"
    @change-typePay="e => { firstTypePay = Object.assign({}, e) }"
  )
  div(
    :class="`${pre}__arr${padding} ${pre}__arr${topFilter}`"
    :style="'width: ' + widthContainer"
  )
    div(
      :class="`${pre}__icon-arr`"
      @click="moveMonth('left')"
      v-if="visArr"
    )
      er-icon(name="corner_down" :class="`${pre}__left_big`")

    div(:class="`${pre}__months-filter-container`" id="bgg")
      div(
        :style="'margin-left: ' + margLeft"
        :class="`${pre}__months-filter-move`"
      )
        span(
          v-for="month in typePeriod"
          :class="`${pre}__months-filter__span`"
        )
          er-button(
            type="button",
            flat=true,
            :class="`${pre}__months-filter__text ${pre}__months-filter__${month.active}`"
            @click="selectMonth($event)"
          )
            | {{ month.month }}
    div(
      :class="`${pre}__icon-arr ${pre}__icon-arr__right`"
      @click="moveMonth('right')"
      v-if="visArr"
    )
      er-icon(name="corner_down" :class="`${pre}__right_big`")

