er-row(:class="[`${pre}__row`, `${pre}__footer`]")
  er-flex(:class="`${pre}__footer__action`" xs12 md5)
    er-button(
      flat
      @click="() => { isShowDisconnectProductPlugin = true }"
      :loading="isShowDisconnectProductPlugin"
    ) Отключить аналитику
  er-flex(:class="`${pre}__footer__nav`" xs12 lg7)
    page-nav

  ErDisconnectProduct(
    v-model="isShowDisconnectProductPlugin"
    :deleteOrderData="disconnectData"
    isSendOrder
    @cancelOrder="() => { isShowDisconnectProductPlugin = false }"
    @errorOrder="() => { isShowDisconnectProductPlugin = false }"
    @successOrder="() => { isShowDisconnectProductPlugin = false }"
  )
