// Action Month

div
  div.d--flex.align-items-center(
    :class="`${pre}__service__date`"
    v-if="page === 'pay'"
  )
    div.mr-8(:class="`${pre}__service__date__dm`")
      | {{month}}
    div(:class="`${pre}__service__date__yy`")
      | '{{year}}
  div(:class="`${pre}__height${height}`")
  er-row(no-gutters)
    er-flex.mb-16(xs12 v-if="month !=='Адрес'")
      Operations(
        :month="month"
        :index="index"
        v-for="(value, index) in 5"
      )

    er-flex.mb-16(xs12 v-else)
      Operations(
        :month="month"
        :index="index + 5"
        v-for="(value, index) in 5"
      )

