// Promise Pay

div(:class="`${pre}`").main-content.main-content--h-padding
  div.main-content--top-padding(:class="`${pre}__back-main`")
  div(:class="`${pre}__container-main`").main-content--top-menu-fix
    div.caption(:class="`${pre}__back-main`")
      div.ml-auto
        er-icon(name="arrow_l" :class="`${pre}__icon-height`")
        a.caption2(
        href="#"
        :class="`${pre}__back-main__text`"
        @click="paypage"
        ) Назад в платежи и начисления
    div.d--flex.align-items-start(:class="`${pre}__back-arr`")
      div(:class="`${pre}__back-main-xs`" @click="paypage")
        er-icon(name="left")
      h1.fonts--demi(:class="`${pre}__welcome-title`")
        | Обещанный платеж

    div(:class="`${pre}__subtitle`" v-if="visInfo")
      | Вы можете активировать сервис <b>«обещанный платеж»</b>, который позволит вам <b>получить доступ к услугам на 3 дня.</b> Дополнительная плата за пользование не взымается.
    div(:class="`${pre}__container`" v-if="visInfo")
      er-row.no-gutters.justify-content-start
        er-flex(xs12 md4 lg4 :class="`${pre}__content-left`")
          div(:class="`${pre}__icon`")
            er-icon(name="time")
          h3(:class="`${pre}__title`") Сервис немедленно
          div(:class="`${pre}__content-left__text`")
            | Сервис предоставляется немедленно после активации. Доступ в интернет при отрицательном или нулевом балансе лицевого счета предоставляется по истечении пяти минут с момента активации
        er-flex(xs12 md4 lg4 :class="`${pre}__content-middle`")
          div(:class="`${pre}__icon`")
            er-icon(name="calendar")
          h3(:class="`${pre}__title`")
            | В течение трех суток
          div(:class="`${pre}__content-middle__text`")
            | В течение трех суток с момента активации сервиса необходимо внести на лицевой счет денежную сумму не менее суммы отсроченного платежа
        er-flex(xs12 md4 lg4 :class="`${pre}__content-right`")
          div(:class="`${pre}__icon`")
            er-icon(name="rouble")
          h3(:class="`${pre}__title`")
            | Плата не взимается
          div(:class="`${pre}__content-right__text`")
            | Плата за активацию Сервиса не взимается

      div(:class="`${pre}__button`")
        er-button(
          width="100%",
          @click="paymentConfirm"
        ) Активировать до {{ dateWithDot }}

    PromiseOn(v-if="!visInfo && success && active")
    PromiseOff(v-if="!visInfo && !success && active")
    PromiseExpired(v-if="visExpired && !active")

    // Модальное окно
    Confirm( v-if="openConfirmPromise"
      :vis="openConfirmPromise"
      title="Вы уверены, что хотите активировать обещанный платеж?"
      :subText ="dateAll"
      isHint="true"
      :hasErr="errPromisePay"
      :err="err"
      sumPay="promisePay"
      buttLeftText="Отменить"
      buttRightText="Активировать"
      @closeConfirm="closeConfirm"
      @buttLeft="promiseOff"
      @buttRight="promiseOn"
      @input="promiseExpired"
    )
