common-document(
  :class="{'er-document--signed': contractIsSigned}"
).er-document--contract.er-document--big-doc
  template(v-slot:header)
    .er-document__title {{ computedTypeName }}
    er-document-viewer(
      :list-document="computedListDocumentForViewer"
      :is-digital-signing="!documentIsVerifying && contractIsReady && documentIsSigned"
      :is-manual-signing="!documentIsVerifying && contractIsReady && documentIsNotSigned"
      v-model="isOpenViewer"
      @signing:manual="manualSigning"
      @signing:digital="digitalSigning"
      ref="viewer"
      )
      template(v-slot:activator="{ on }")
        a(:href="document.file" v-on="on").er-document__link.er-document__subtitle
          | Текст {{ isSingleDocument ? 'документа' : 'документов' }}


    er-icon(name="doc")

  template(v-slot:body)
    .document-number
      .document-number__sign По договору №
      .document-number__number {{ computedRelatedToName }}

    .document-date.caption2
      | от {{ computedModifiedWhen | formatDate("DD.MM.YY") }}

  template(v-slot:footer)
    //- Документ подписан
    div(v-if="contractIsSigned")
      .er-document__signed-text
        er-icon(name="circle_ok").circle-ok-icon
        er-icon(name="ok").ok-icon
        | Подписан
    //- Документ Активен
    div(v-if="documentIsActive")
      .er-document__signed-text
        er-icon(name="circle_ok").circle-ok-icon
        er-icon(name="ok").ok-icon
        | Активный
    //- Документ на проверке у менеджера
    div(v-else-if="documentIsVerifying")
      .er-document__verifying-text
        er-icon(name="question").question--desktop
        er-icon(name="question").question--mobile
        | На проверке
    div(v-else-if="documentIsCancel")
      .er-document__cancelled-text
        er-icon(name="cancel").cancelled--desktop
        er-icon(name="cancel").cancelled--mobile
        | Отменён
    //- Документ может быть подписан ЭЦП (signedWithDigitalSignature === 'Yes' && status === 'Готов для клиента')
    .buttons(v-else-if="contractIsReady && documentIsSigned")
      er-button(
        :color="'blue'"
        pre-icon="key"
        @click="() => { digitalSigning() }"
      ).er-button--accept
        | Подписать ЭЦП
      er-button(
        :color="'gray'"
        @click="() => { cancelSigningConfirm() }"
      ).er-button--decline
        | Отказаться
    //- документ может быть подписан только вручную (signedWithDigitalSignature === 'No' && status === 'Готов для клиента')
    .buttons(v-else-if="contractIsReady && documentIsNotSigned")
      er-button.er-button--accept(
        color="blue"
        pre-icon="doc_edit"
        @click="() => { manualSigning() }"
      )
        | Подписать
      er-button(
        :color="'gray'"
        @click="() => { cancelSigningConfirm() }"
      ).er-button--decline
        | Отказаться
    template(v-if="contractIsReady")
      er-activation-modal(
        v-model="isOpenConfirm"
        type="question"
        title="Вы уверены, что хотите отказаться от подписания документа (-ов)?"
        action-button-text="Отказаться"
        @confirm="cancelSigning"
      )
      er-activation-modal(
        v-model="isCancelSuccess"
        type="success"
        title="Отказ от подписания документов выполнен успешно!"
        :is-show-action-button="false"
        cancel-button-text="Понятно"
      )
      er-activation-modal(
        v-model="isCancelError"
        type="error"
        title="Произошла ошибка! Повторите попытку позже"
        :is-show-action-button="false"
        cancel-button-text="Понятно"
      )
