div(:class="[`${pre}`, { open: value }]")
  div(:class="`${pre}__exit`")
    er-icon.profile(name="profile")
    a.link--solid--yellow.logout(@click="signOut") Выйти
    div.close(@click="closeRightPanel")
      er-icon.close(name="close")
  h3.title.pl-32.mb-8
    | Аккаунт
  div.caption.pl-32.mb-8
    | Организация
  div.organisation.pl-32
    | {{ legalName }}
    .change-org-button(
      @click="onChangeOrg"
    ) Выбрать другую организацию
  er-slide-up-down(:active="!isOpenPersonalAccountDetail")
    div.caption.pl-32.mb-8
      | Лицевой счёт №
    div.personal-account.pl-32
      a.link--dashed--yellow.cursor-pointer(@click.prevent="openPersonalAccountDetail") {{ activeBillingAccountNumber }}
  er-slide-up-down(:active="isOpenPersonalAccountDetail")
    div(:class="`${pre}__personal-account-detail`")
      div.border-top
      div.content
        h4.pl-32.mb-12
          | Выберите лицевой счёт
        div.agreement(
          v-for="(accounts, contract) in getBillingAccountsGroupByContract"
          :key="contract"
        )
          div.caption.mb-4.pl-32.cursor-default
            | Договор №
          div.agreement-number.pl-32
            | {{ contract }}
          div.personal-account-item(
            v-for="account in accounts"
            :key="account.billingAccountId"
            :class="{ 'active': activeBillingAccountId === account.billingAccountId }"
            @click="() => { selectPersonalAccount(account) }"
          )
            div.caption.mb-4.cursor-default
              | Лицевой счёт
            div.value.cursor-pointer
              er-icon.mr-8(name="ok")
              | {{ account.accountNumber }}
        div.profile.mt-8.mx-4.pl-28.d--flex.align-items-center
          er-icon.mr-8(name="profile")
          router-link(to="/lk/profile") Профиль
  div.caption.mt-20.mb-4.pl-32
    | Ваш баланс
  div.balance.pl-32.d--flex.align-items-center.pr-16.mb-16
    a.link--solid--yellow.rub(href="#") {{ balance | price }}
    div.autopay(v-if="isAutopay")
      er-icon(name="ok")
      span Автоплатёж
  div.caption.pl-32.mb-8
    | Ваш персональный менеджер
  div.personal-manager.pl-32.mb-16.pr-16
    | {{ getManagerInfo.name }}
  div.caption.pl-32.mb-8
    | Телефон
  div.personal-manager.pl-32.mb-16.pr-16
    | {{ getManagerInfo.phone }}
  div.caption.pl-32.mb-8
    | Эл. почта
  a(:href="`mailto:${getManagerInfo.email}`").personal-manager.pl-32.mb-16.pr-16
    | {{ getManagerInfo.email }}
