// Promise On

div(:class="`${pre}`")
  er-container(full :class="`${pre}__container`")
    er-row.justify-content-between.no-gutters
      er-card(:class="`${pre}__card`")
        div(:class="`${pre}__card-height`")
          er-flex(xs2 sm2)
            er-icon(name="circle_ok" :class="`${pre}__icon-height`")
          er-flex(xs10 sm8)
            div(:class="`${pre}__pos`")
              h3 Обещанный платеж<br> активирован
        div(:class="`${pre}__pos__time-title`") Осталось:
          div(:class="`${pre}__timer`" v-if="isLoading")
            div(:class="`${pre}__timer__day`")
              h2(:class="`${pre}__timer__day__value`") {{ day }}
              div(:class="`${pre}__timer__text`") дня
            div(:class="`${pre}__timer__hour`")
              h2(:class="`${pre}__timer__hour__value`") {{ hour }}
              div(:class="`${pre}__timer__text`") часа
            div(:class="`${pre}__timer__min`")
              h2(:class="`${pre}__timer__min__value`") {{ minute }}
              div(:class="`${pre}__timer__text`") минут
          er-button(id="preloaderPromiseOn"
            :loading="true"
            flat
            v-else
          )
    div(:class="`${pre}__butt`")
      er-button(
        type="submit"
        @click="paypage"
      ) Перейти в платежи
