div(:class="`${pre}`")
  stat-header(
    :title="'Реестр пользователей'"
    @onPeriodSet="setPeriod"
  )
  div(:class="`${pre}__table`")
    div(:class="`${pre}__table-head${fixedHeader ? ' fixed' : ''}`" ref="thead")
      .user-row
        .user-row__col.number.title №
        .user-row__col.phone.title Телефон
        .user-row__col.mac.title MAC адрес
        .user-row__col.authorization.title
          er-table-filter(
            :title="getTotalText"
            @change-filter="e => { sortBy('authorization', e) }"
            :value="sortField === 'authorization'"
            :order="sortField === 'authorization' ? sortOrder : 'desc'"
          )
        .user-row__col.traffic.title
          er-table-filter(
            title="Весь трафик"
            @change-filter="e => { sortBy('traffic', e) }"
            :value="sortField === 'traffic'"
            :order="sortField === 'traffic' ? sortOrder : 'desc'"
          )
        .user-row__col.datetime.title
          er-table-filter(
            title="Посл. сессия"
            @change-filter="e => { sortBy('datetime', e) }"
            :value="sortField === 'datetime'"
            :order="sortField === 'datetime' ? sortOrder : 'asc'"
          )
        .user-row__col.duration.title
          er-table-filter(
            title="Длит. сессии"
            @change-filter="e => { sortBy('duration', e) }"
            :value="sortField === 'duration'"
            :order="sortField === 'duration' ? sortOrder : 'asc'"
          )
    div(:class="`${pre}__table-body`")
      template(v-for="row in rows")
        user-row(:user="row" :selected="row === currentRow" @select="selectRow")
  page-footer
  user-dialog(v-model="showDialog" :fullscreen="isFullscreenDialog" :width="getWidth")
    div(:class="`${pre}__modal`")
      div(:class="`${pre}__modal-content`")
        user-card(:user="currentRow" @close="toggleCardDialog")
