div(:class="`${pre}`")
  div(
    :class="[{ stopped: item.stopped, active: isOpen }, `${pre}__point-item`]",
    @click="isOpen = !isOpen"
    )
    div(:class="`${pre}__point-content`")
      div(:class="`${pre}__point-icon`")
        er-icon(class="icon" name="geolocation")
      div(:class="`${pre}__point-wrapper`")
        div(:class="`${pre}__title-block`")
          div(:class="`${pre}__point-name`") {{item.name}}
          div(:class="`${pre}__switcher`")
            er-icon(name="corner_down" :class="['icon', {'arrow-up': isOpen}]")
            div(:class="[`${pre}__service-count`, {[`${pre}__service-count_active`]: isOpen }]")
              span(class="wide")
                template(v-if="item.stopped")
                  |  Подробно
                template(v-else)
                  |  Подключено 22 IP-адреса
        template(v-if="!item.stopped")
          div(:class="`${pre}__data-wrap`")
            div(:class="`${pre}__activate-date`")
              div(class="title")
                  | Дата активации:
              div(:class="`${pre}__h4`")  {{item.date}}
            div(:class="`${pre}__price`")
              div(class="title") Абонентская плата
              div(:class="`${pre}__h4`") {{item.abon}}
                span(class="units")  ₽/месяц
        template(v-else)
          div(:class="`${pre}__stopped-block`")
            er-icon(name="no_enter" :class="['icon']")
            div Приостановлена
      div(:class="`${pre}__active-line`")
  er-slide-up-down(:active="isOpen" :duration="200")
    div(:class="[`${pre}__slider`, { [`${pre}__slider_active`]: isOpen }]")

      div(class="date-wrapper")
        er-icon(name="time")
        div(class="date")
          div(:class="`${pre}__caption2`") Период защиты:
          div {{ item.date }}
      div(class="ips-wrapper")
        er-icon(name="ip")
        div
          div(:class="`${pre}__caption2`") IP адреса:
          div 10.95.217.183

      div(:class="`${pre}__buttons`")
        er-button(color="yellow")
          div(class="content-text") Настроить защиту

        er-button(flat)
          div(class="content-text") Отключить защиту

