.edit-lpr-section
  ErFlex.edit-lpr-section__fields-container(xs12)
    ErRow
      ErFlex.edit-lpr-section__fields-container__group-new-account(xs12 sm6 md6 lg4)
        div(v-if="isLG || isMD && !isSM")
          h3.edit-lpr-section__fields-container__group-title(v-if="!isChanged && isAdding")
            | Новая учетная запись
          h3.edit-lpr-section__fields-container__group-title(v-else-if="isChanged || !isAdding")
            | Сотрудник
        div(v-if="isXS || isSM")
          h3.edit-lpr-section__fields-container__group-title
            | Сотрудник
        .edit-lpr-section__fields-container__input-block
          ErtTextField.edit-lpr-section__fields-container__group-field(
            v-model="value.lastName"
            label="Фамилия"
            isShowRequiredLabel
            :rules="fullNameRule"
          )
        .edit-lpr-section__fields-container__input-block
          ErtTextField.edit-lpr-section__fields-container__group-field(
            v-model="value.firstName"
            name="inputFirstName"
            label="Имя"
            isShowRequiredLabel
            :rules="fullNameRule"
          )
        .edit-lpr-section__fields-container__input-block
          ErtTextField.edit-lpr-section__fields-container__group-field(
            v-model="value.middleName"
            name="inputMiddleName"
            label="Отчество"
            isShowRequiredLabel
            :rules="fullNameRule"
          )
        .edit-lpr-section__fields-container__input-block(v-if="isMD && !isSM")
          h3.edit-lpr-section__fields-container__group-title
            | Роль учетной записи
          ErtSelect.edit-lpr-section__fields-container__group-field(
            v-model="value.role"
            label="Добавьте роль"
            :items="value.roles"
            :disabled="isLPR && !isAdding"
            :rules="roleRule"
            isShowRequiredLabel
            returnObject
            itemText="value"
            itemValue="code"
          )
      ErFlex.edit-lpr-section__fields-container__group(v-if="isLG" xs12 sm8 md6 lg8)
        ErRow
          ErFlex.edit-lpr-section__fields-container__group-login(xs12 sm6 md12 lg6)
            h3.edit-lpr-section__fields-container__group-title
              | Учетная&nbsp;запись&nbsp;(логин)
            .edit-lpr-section__fields-container__input-block
              ErtTextField.edit-lpr-section__fields-container__group-field(
                v-model="value.phoneNumber"
                name="inputPhoneNumber"
                label="Введите номер телефона"
                mask="+7 (999) 999-99-99"
                isShowRequiredLabel
                :rules="phoneRule"
              )
            .edit-lpr-section__fields-container__input-block
              ErtTextField.edit-lpr-section__fields-container__group-field(
                v-model="value.email"
                name="inputEmail"
                label="Введите электронную почту"
                type="email"
                isShowRequiredLabel
                :rules="emailRule"
              )
          ErFlex.edit-lpr-section__fields-container__group-role(xs12 sm6 md12 lg6)
            h3.edit-lpr-section__fields-container__group-title
              | Роль учетной записи
            .edit-lpr-section__fields-container__input-block
              ErtSelect.edit-lpr-section__fields-container__group-field(
                v-model="value.role"
                label="Добавьте роль"
                :items="value.roles"
                :disabled="isLPR && !isAdding"
                :rules="roleRule"
                isShowRequiredLabel
                returnObject
                itemText="value"
                itemValue="code"
              )
        div(v-if="isAdding")
          p.edit-lpr-section__fields-container__group__text-info
            | Пароль для учетной записи формируется автоматически после добавления телефона
            | и электронной почты. Сотруднику будет отправлено уведомление о создании учетной записи.
      ErFlex.edit-lpr-section__fields-container__group(v-if="isMD || isSM || isXS" xs12 sm6 md6 lg8)
        h3.edit-lpr-section__fields-container__group-title
          | Учетная запись (логин)
        .edit-lpr-section__fields-container__input-block
          ErtTextField.edit-lpr-section__fields-container__group-field(
            v-model="value.phoneNumber"
            name="inputPhoneNumber"
            label="Введите номер телефона"
            mask="+7 (999) 999-99-99"
            isShowRequiredLabel
            :rules="phoneRule"
          )
        .edit-lpr-section__fields-container__input-block
          ErtTextField.edit-lpr-section__fields-container__group-field(
            v-model="value.email"
            name="inputEmail"
            label="Введите электронную почту"
            type="email"
            isShowRequiredLabel
            :rules="emailRule"
          )
      ErFlex(v-if="isSM || isXS" xs12 sm12)
        h3.edit-lpr-section__fields-container__group-title
          | Роль учетной записи
        .edit-lpr-section__fields-container__input-block
          ErtSelect.edit-lpr-section__fields-container__group-field(
            v-model="value.role"
            label="Добавьте роль"
            :items="value.roles"
            :disabled="isLPR && !isAdding"
            :rules="roleRule"
            isShowRequiredLabel
            returnObject
            itemText="value"
            itemValue="code"
          )
