div(:class="`${pre}`")
  stat-header(
    :title="'Статистика по аудитории'" 
    @onPeriodSet="setPeriod"
  )

  er-row(:class="`${pre}__row`")
    er-flex(xs12)
      chart-card(
        :title="'Статистика подключений'"
        :period="period",
        :chartTypes="chartTypes"
        :defaultChartType="'line'"
      )
        template(v-slot:chart)
          connections-chart

  div(:class="[`${pre}__row`, 'stat-visitors-grid']")
    div.stat-visitors-grid__age
      chart-card(
        :title="'Пол/Возраст'"
        :period="period",
        :defaultChartType="'cluster-bar'"
      )        
        template(v-slot:chart)
          simple-chart(:data="mock.ages")

    div.stat-visitors-grid__frequency
      chart-card(
        :title="'Частота посещений'"
        :period="period",
        :chartTypes="[chartTypes.bar, chartTypes.pie]",
        :defaultChartType="'bar'"
      )
        template(v-slot:chart)
          simple-chart(:data="mock.visits")

    div.stat-visitors-grid__auth-type
      chart-card(
        :title="'Тип авторизации'"
        :period="period",
        :chartTypes="[chartTypes.bar, chartTypes.pie]"
        :defaultChartType="'bar'"
      )
        template(v-slot:chart)
          auth-type-chart

  er-row(:class="`${pre}__row`")
    er-flex(xs12 lg6)
      chart-card(
        :title="'Используемый язык'"
        :period="period",
        :chartTypes="[chartTypes.bar, chartTypes.pie]"
        :defaultChartType="'pie'"        
      )
        template(v-slot:chart)
          simple-chart(:data="mock.langs")

  er-row(:class="[`${pre}__row`, `${pre}__footer`]")
    er-flex(:class="`${pre}__footer__action`" xs12 sm6 md5 lg4)
      er-button(:flat="true") Отключить аналитику
    er-flex(:class="`${pre}__footer__nav`" xs12 lg8) 
      page-nav

