div
  //-сделать еще для мобилки ширину правильную and height
  er-dialog(
    :max-width="470"
    v-model="isShowRequestModal"
    :persistent="true"
  )
    .er-plug-product__request-modal
      .er-plug-product__request-modal__content
        div.content-wrapper
          .title
            h3 Представьтесь, пожалуйста
            .close
              button(
                @click="closeCreatingRequest"
                :data-ga-category="analyticCloseCategory"
                :data-ga-label="analyticCloseLabel"
              )
                er-icon(name="close")
          .wrapper.mt-8
            .round
            .caption2 — Поля обязательные к заполнению
          .caption.mb-8.mt-16 {{ requestModalDescrition }}
          er-form.mt-24

            er-phone-select(
              :items="getPhoneList"
              v-model="phoneNumber"
              placeholder="Телефон для связи"
              is-show-required-label
              :rules="requiredRule"
            )
            er-text-field.mt-32(
              label="Как к Вам обращаться?"
              is-show-required-label
              v-model="name"
              :rules="requiredRule"
              :readonly="isReadonlyName"
            )

          .caption2.mt-32 Нажимая на кнопку, Вы соглашаетесь на обработку данных
        .footer
          .buttons
            er-button(
              @click="sendRequest"
              :disabled="isValidateRequestForm"
              :loading="isCreatingRequest"
              :data-ga-category="analyticConfirmCategory"
              :data-ga-label="analyticConfirmLabel"
            ) Отправить
            er-button(
              flat
              @click="closeCreatingRequest"
              :data-ga-category="analyticCancelCategory"
              :data-ga-label="analyticCancelLabel"
            ) Отменить

  er-activation-modal(
    type="success"
    v-model="isShowSuccessRequestModal"
    title="Заявка отправлена"
    :isShowCancelButton="false"
    actionButtonText="Спасибо"
    :persistent="true"
    @confirm="closeSuccessRequestModal"
    key="success-request-modal"
  )
    template(slot="description")
      | Заявка отправлена вашему персональному менеджеру. Статус заявки {{ requestId }} можно отследить в разделе Поддержка
  er-activation-modal(
    type="error"
    v-model="isShowErrorRequestModal"
    title="Возникла ошибка"
    :isShowActionButton="false"
    :persistent="true"
    cancelButtonText="Закрыть"
    @close="onCloseErrorModal"
    key="error-request-modal"
  )
    template(slot="description")
      div Уважаемый Клиент, в данный момент операция не доступна, обратитесь к персональному менеджеру

  er-activation-modal(
    type="question"
    v-if="isSendOrder"
    v-model="isShowOrderModal"
    :title="orderData.title"
    @confirm="sendOrder"
    :persistent="true"
    @close="closeOrderModal"
    :isLoadingConfirm="sendingOrder"
    :actionButtonText="plugButtonName"
    :isOffer="orderData.offer"
  )
    template(slot="description")
      slot(name="offerDescription")

  er-activation-modal(
    type="success"
    v-model="isShowSuccessOrderModal"
    title="Заказ успешно создан"
    :isShowCancelButton="false"
    actionButtonText="Спасибо"
    :persistent="true"
    @confirm="closeSuccessOrderModal"
    key="success-order-modal"
  )
    template(slot="description")
      | Заказ создан успешно. Выполнение заказа может занять некоторое время.&nbsp;
      | Актуальный статус можно узнать в&nbsp;
      router-link(to="/lk/orders") разделе Заказы.

  er-activation-modal(
    type="error"
    v-model="isShowErrorOrderModal"
    title="Возникла ошибка"
    :isShowActionButton="false"
    :persistent="true"
    cancelButtonText="Закрыть"
    @close="closeErrorOrderModal"
    key="error-order-modal"
  )
    template(slot="description")
      div Уважаемый Клиент, в данный момент операция не доступна, обратитесь к персональному менеджеру
