// Pay Card

er-container(full :class="`${pre}__container`")
  div(:class="`${pre}__indicators`")
    div(:class="`${pre}__indicators__disable`")
    div(
    :class="`${pre}__indicators__line`"
    :style="'top: ' + moveInd + 'px'"
    )
    div(
    v-for="i in 3"
    :class="`${pre}__indicators__circle`"
    @click="moveDown"
    )
    div(
    v-for="i in 3"
    :class="`${pre}__indicators__circle__down`"
    @click="moveUp"
    )

  div(
    :class="`${pre}__card-butt__lateral-left`"
    v-if="visButtLeft"
  )
    div(:class="`${pre}__card-butt__card-height`" @click="moveDown")
  div(id="bgg1"
    :class="`${pre}__card-butt__lateral-right${rightNext}`"
    v-if="visButtRight"
  )
    div(:class="`${pre}__card-butt__card-height`" @click="moveUp")

  // общий сдвиг
  er-row.no-gutters(
    :class="`${pre}__move`"
    :style="'transform: translate(' + rightMove + 'px, ' + topMove + 'px)'"
  )
    div(:class="`${pre}__card-row ${direct}`")
      // Новая карта
      er-flex(
        :class="`${pre}__card-pos`"
        :style="'margin-right: ' + delta[0] + 'px'"
      )
        er-row(no-gutters)
          er-flex
            er-card(
              :class="`${pre}__card`"
            )
              div(:class="`${pre}__card-height`")
                div(:class="`${pre}__logo`")
                  img(
                    src="@/assets/images/logo.png"
                    :class="`${pre}__logo__img1`"
                  )
                  h3(:class="`${pre}__card-title`")
                    | Оплата новой картой
                  div(:class="`${pre}__remcard`")
                    er-toggle(
                      type="checkbox"
                      view="radio-check"
                      v-model="selected1"
                      :class="`${pre}__remcard__ertoogle`"
                    )
                    .er-attach
                      a.link--dashed--black(
                      :class="`${pre}__remcard__text`"
                      ) Запомнить карту
                    er-hint(:class="`${pre}__remcard__hint`").ml-8
                      h3.mb-8
                        | Запомнить карту
                      | {{ textDataCard }}
                    div(@click="openRemcard")
                      er-icon(
                      name="question"
                      :class="`${pre}__remcard__confirm`"
                      )

            div(
              :class="`${pre}__card-butt ${pre}__card-butt__bottom ${pre}__card-butt__bottom__first`"
              v-if="visButtBott[0]"
              :style="'opacity: ' + op1"
            )
              div(
              :class="`${pre}__card-butt__left`"
              @click="moveUp"
              )
                div(:class="`${pre}__logo`")
                  img(src="@/assets/images/paycard/mir-butt-1200.png")
                  h2(:class="`${pre}__logo__bottom`")
                    | 2365

                  div(:class="`${pre}__auto-pay`" @click.stop)
                    er-toggle(
                    type="checkbox"
                    view="radio-check"
                    v-model="selected"
                    :class="`${pre}__auto-pay__ertoogle`"
                    )
                    div(:class="`${pre}__auto-pay__title`")
                      | Автоплатеж
          er-flex
            er-card(
              :class="`${pre}__card__bg`"
              :style="'transform: translate(' + leftMove[0] + 'px, ' +  topBg[0] + 'px)'"
            )
              div(:class="`${pre}__card__bg__content`")
                div(:class="`${pre}__card-height`")
                  div(:class="`${pre}__card__bg__strip`")

      // карта МИР
      er-flex(
        :class="`${pre}__card-pos`"
       :style="'margin-right: ' + delta[1] + 'px'"
      )
        er-row(no-gutters)
          er-flex
            div(
              :class="`${pre}__card-butt ${pre}__card-butt__top`"
              v-if="visButtTop[0]"
              :style="'opacity: ' + op1"
            )
              div(
                :class="`${pre}__card-butt__left`"
                @click="moveDown"
              )
                div(:class="`${pre}__logo ${pre}__logo__top`")
                  img(src="@/assets/images/paycard/new-butt-1200.png")

            er-card(
              :class="`${pre}__card`"
            )
              div(:class="`${pre}__card-height`")
                div(:class="`${pre}__logo__card`")
                  img(src="@/assets/images/paycard/mir-1200.png")
                  div(:class="`${pre}__card-title__label`")
                    | Номер карты:
                  div.d--flex
                    h2(:class="`${pre}__card-title__next`")
                      | 5402 &nbsp; 33
                    img(
                      src="@/assets/images/paycard/card-circle-1200.png"
                      :class="`${pre}__card-title__circle`"
                    )
                    h2(:class="`${pre}__card-title__next`")
                      | 2365
                  img(
                    :class="`${pre}__card__img-bg`"
                    src="@/assets/images/paycard/mir-bg-1200.png"
                  )
                div(:class="`${pre}__card-title__autopay`")
                  er-icon(name="ok" :class="`${pre}__card-title__autopay__icon`")
                  span(:class="`${pre}__card-title__autopay__span`")
                    | Автоплатеж
                div(:class="`${pre}__card-title__delete`")
                  .er-attach(:class="`${pre}__card-title__delete__icon`")
                    er-icon(name="trashbox")
                    a.link--dashed--black(
                      @click="delConfirm"
                      :class="`${pre}__card-title__delete__text`"
                    ) Удалить

            div(
              :class="`${pre}__card-butt ${pre}__card-butt__bottom`"
              v-if="visButtBott[1]"
            :style="'opacity: ' + op1"

            )
              div(
              :class="`${pre}__card-butt__left`"
              @click="moveUp"
              )
                div(:class="`${pre}__logo`")
                  img(src="@/assets/images/paycard/visa-butt-1200.png")
                h2(:class="`${pre}__logo__bottom__next`")
                  | 9876

          er-flex
            er-card(id="bgg"
              :class="`${pre}__card__bg`"
              :style="'transform: translate(' + leftMove[1] + 'px, ' +  topBg[1] + 'px)'"
            )
              div(:class="`${pre}__card__bg__content__next`")
                div(:class="`${pre}__card-height`")
                  div(:class="`${pre}__card__bg__strip__next`")
                  div(:class="`${pre}__cvc`")
                    div.mr-4(:class="`${pre}__cvc__label`")
                      | Введите
                    div(:class="`${pre}__cvc__label`")
                      | CVC/CVV
                    div(:class="`${pre}__cvc__value`")
                      er-text-field(
                        :value="cvc"
                        mask="9   9   9"
                      )

      // карта VISA
      er-flex(
        :class="`${pre}__card-pos`"
      :style="'margin-right: ' + delta[2] + 'px'"
      )
        er-row(no-gutters)
          er-flex
            div(
              :class="`${pre}__card-butt ${pre}__card-butt__top`"
              v-if="visButtTop[1]"
              :style="'opacity: ' + op1"
            )
              div(
              :class="`${pre}__card-butt__left`"
              @click="moveDown"
              )
                div(:class="`${pre}__logo ${pre}__logo__top__next`")
                  img(src="@/assets/images/paycard/mir-butt-1200.png")
                h2(:class="`${pre}__logo__top-h2`")
                  | 2365
                div(:class="`${pre}__auto-pay__next`" @click.stop)
                  er-toggle(
                  type="checkbox"
                  view="radio-check"
                  v-model="selected"
                  :class="`${pre}__auto-pay__ertoogle`"
                  )
                  div(:class="`${pre}__auto-pay__title`")
                    | Автоплатеж

            er-card(
              :class="`${pre}__card`"
            )
              div(:class="`${pre}__card-height`")
                div(:class="`${pre}__logo__card`")
                  img(src="@/assets/images/paycard/visa-1200.png")
                  div.caption(:class="`${pre}__card-title__label`")
                    | Номер карты:
                  div.d--flex
                    h2(:class="`${pre}__card-title__next`")
                      | 5402 &nbsp; 33
                    img(
                    src="@/assets/images/paycard/card-circle-1200.png"
                    :class="`${pre}__card-title__circle`"
                    )
                    h2(:class="`${pre}__card-title__next`")
                      | 9876
                  img(
                  :class="`${pre}__card__img-bg`"
                  src="@/assets/images/paycard/visa-bg-1200.png"
                  )
                div(:class="`${pre}__card-title__delete`")
                  .er-attach(:class="`${pre}__card-title__delete__icon`")
                    er-icon(name="trashbox")
                    a.caption.link--dashed--black(
                    @click="delConfirm"
                    :class="`${pre}__card-title__delete__text`"
                    ) Удалить

            div(
              :class="`${pre}__card-butt ${pre}__card-butt__bottom`"
              v-if="visButtBott[2]"
              :style="'opacity: ' + op1"
            )
              div(
              :class="`${pre}__card-butt__left`"
              @click="moveUp"
              )
                div(:class="`${pre}__logo`")
                  img(src="@/assets/images/paycard/mc-butt-1200.png")
                h2(:class="`${pre}__logo__bottom__next`")
                  | 2365
          er-flex
            er-card(
              :class="`${pre}__card__bg`"
              :style="'transform: translate(' + leftMove[2] + 'px, ' +  topBg[2] + 'px)'"
            )
              div(:class="`${pre}__card__bg__content__next`")
                div(:class="`${pre}__card-height ${pre}__card__bg__empty`")
                  div(:class="`${pre}__card__bg__strip__next ${pre}__card__bg__strip__next__empty`")
                  div(:class="`${pre}__cvc ${pre}__cvc__empty`")
                    div.mr-4(:class="`${pre}__cvc__label ${pre}__cvc__label__empty`")
                      | Не введен
                    div(:class="`${pre}__cvc__label ${pre}__cvc__label__empty`")
                      | CVC/CVV
                    div(:class="`${pre}__cvc__value`")
                      er-text-field(
                        :value="cvc"
                        mask="9   9   9"
                      )

      // карта МС
      er-flex(
        :class="`${pre}__card-pos`"
        :style="'margin-right: ' + delta[3] + 'px'"
      )
        er-row(no-gutters)
          er-flex
            div(
              :class="`${pre}__card-butt ${pre}__card-butt__top`"
              v-if="visButtTop[2]"
              :style="'opacity: ' + op1"
            )
              div(
              :class="`${pre}__card-butt__left`"
              @click="moveDown"
              )
                div(:class="`${pre}__logo ${pre}__logo__top__next`")
                  img(src="@/assets/images/paycard/visa-butt-1200.png")
                h2(:class="`${pre}__logo__top-h2`")
                  | 9876

            er-card(
            :class="`${pre}__card`"
            )
              div(:class="`${pre}__card-height`")
                div(:class="`${pre}__logo__card`")
                  img(src="@/assets/images/paycard/mc-1200.png")
                  div.caption(:class="`${pre}__card-title__label`")
                    | Номер карты:
                  div.d--flex
                    h2(:class="`${pre}__card-title__next`")
                      | 5402 &nbsp; 33
                    img(
                    src="@/assets/images/paycard/card-circle-1200.png"
                    :class="`${pre}__card-title__circle`"
                    )
                    h2(:class="`${pre}__card-title__next`")
                      | 9876
                  img(
                    :class="`${pre}__card__img-bg`"
                    src="@/assets/images/paycard/mc-bg-1200.png"
                    style="margin-top: -7px; margin-left: 77px"
                  )
                div(:class="`${pre}__card-title__delete`")
                  .er-attach(:class="`${pre}__card-title__delete__icon`")
                    er-icon(name="trashbox")
                    a.caption.link--dashed--black(
                    @click="delConfirm"
                    :class="`${pre}__card-title__delete__text`"
                    ) Удалить

          er-flex
            er-card(
            :class="`${pre}__card__bg`"
            :style="'transform: translate(' + leftMove[3] + 'px, ' +  topBg[3] + 'px)'"
            )
              div(:class="`${pre}__card__bg__content__next`")
                div(:class="`${pre}__card-height`")
                  div(:class="`${pre}__card__bg__strip__next`")
                  div(:class="`${pre}__cvc`")
                    div.mr-4(:class="`${pre}__cvc__label`")
                      | Введите
                    div(:class="`${pre}__cvc__label`")
                      | CVC/CVV
                    div(:class="`${pre}__cvc__value`")
                      er-text-field(
                      :value="cvc"
                      mask="9   9   9"
                      )

  div(
    :class="`${pre}__card__deleted`"
    v-if="visCardDel"
    @click="visCardDel=false"
    :style="'left: ' + deleteLeft + 'px; width: ' + bgDeleteWidth + 'px'"
  )
    div(:class="`${pre}__card__deleted__size`")
      er-card
        div(:class="`${pre}__card__deleted__content`")
          div(:class="`${pre}__card-height`")
            div(:class="`${pre}__card__deleted__icon`")
              er-icon(
                name="trashbox"
                :class="`${pre}__card__deleted__icon__size`"
              )
            div(:class="`${pre}__card__deleted__text`")
              | Карта удалена

            er-card(
              :class="`${pre}__card__deleted__bg`"
              :style="'left: ' + bgDeleteLeft + 'px'"
            )
              div(:class="`${pre}__card__deleted__bg__content`")
                div(:class="`${pre}__deleted__card-height`")
                  div(:class="`${pre}__card__deleted__bg__strip`")
