// Pay Card

er-container(
  full
  :class="`${pre}__container`"
  @wheel ="scroll"
)
  div(
    :class="`${pre}__indicators`"
    v-if="cards.length > 0"
  )
    div(:class="`${pre}__indicators__disable`")
    div(
      :class="`${pre}__indicators__line`"
      :style="'top: ' + moveInd + 'px; height: ' + heightInd + 'px'"
    )
    div(
      v-for="i in numInd"
      :class="`${pre}__indicators__circle`"
      @click="move('Down')"
    )
    div(
      v-for="i in numInd"
      :class="`${pre}__indicators__circle__down`"
      @click="move('Up')"
    )

  div(
    :class="`${pre}__card-butt__lateral-left`"
    v-if="isButtLeft"
  )
    div(:class="`${pre}__card-butt__card-height`" @click="move('Down')")
  div(
    :class="`${pre}__card-butt__lateral-right${rightNext}`"
    v-if="isButtRight"
  )
    div(:class="`${pre}__card-butt__card-height`" @click="move('Up')")

  // общий сдвиг
  er-row.no-gutters(
    :class="`${pre}__move`"
    :style="'transform: translate(' + rightMove + 'px, ' + topMove + 'px)'"
  )
    div(:class="`${pre}__card-row ${pre}__card-row__direct`")
      // Новая карта
      er-flex(
        :class="`${pre}__card-pos`"
        :style="'margin-right: ' + delta[0] + 'px'"
      )
        er-row(no-gutters)
          er-flex
            er-card(
              :class="`${pre}__card`"
            )
              div(:class="`${pre}__card-height`")
                div(:class="`${pre}__logo`")
                  img(
                    src="@/assets/images/logo.png"
                    :class="`${pre}__logo__imglogo`"
                  )
                  h3(:class="`${pre}__card-title`")
                    | Оплата новой картой
                  div(:class="`${pre}__remcard`")
                    div(
                      :class="`${pre}__remcard__over`"
                      @click="save"
                    )
                    er-toggle(
                      type="checkbox"
                      view="radio-check"
                      v-model="sel_save"
                      :class="`${pre}__remcard__ertoogle`"
                    )
                    .er-attach
                      a.link--dashed--black(
                        @click="save"
                        :class="`${pre}__remcard__text`"
                      ) Запомнить карту
                    er-hint.ml-8(:class="`${pre}__remcard__hint`")
                      h3.mb-8
                        | Запомнить карту
                      | {{ textDataCard }}
                    div(@click="openRemcard")
                      er-icon(
                        name="question"
                        :class="`${pre}__remcard__confirm`"
                      )

            div(
              v-if="isButtBott[0] && cards.length > 0"
              :class="`${pre}__card-butt ${pre}__card-butt__bottom ${pre}__card-butt__bottom__first`"
              :style="'opacity: ' + valOpacity"
            )
              div(
                :class="`${pre}__card-butt__left`"
                @click="move('Up')"
              )
                div(:class="`${pre}__logo`")
                  img(:src="buttbottimg0")
                  h2(:class="`${pre}__logo__bottom`")
                    | {{ numbuttbott0 }}
                  div(
                    :class="`${pre}__auto-pay`"
                    @click.stop
                    v-if="visAutoPay === 1"
                  )
                    er-toggle(
                    type="checkbox"
                    view="radio-check"
                    v-model="hasAutoPay"
                    :class="`${pre}__auto-pay__ertoogle`"
                  )
                    div(:class="`${pre}__auto-pay__title`")
                      | Автоплатеж

          er-flex(:class="`${pre}__height`")
            div(
              :class="`${pre}__card__bg`"
              :style="'transform: translate(' + leftMove[0] + 'px, ' +  topBg[0] + 'px)'"
            )
              div(:class="`${pre}__card__bg__content`")
                div(:class="`${pre}__card-height`")
                  div(:class="`${pre}__card__bg__strip`")

      // карты v-for
      er-flex(
        :class="`${pre}__card-pos`"
        :style="'margin-right: ' + delta[idx+1] + 'px'"
        v-for="(card, idx) in cards"
        :key="card.bindingId"
      )
        er-row(no-gutters)
          er-flex
            div(
              :class="`${pre}__card-butt ${pre}__card-butt__top`"
              v-if="isButtTop[idx]"
              :style="'opacity: ' + valOpacity"
            )
              div(
                :class="`${pre}__card-butt__left`"
                @click="move('Down')"
              )
                div(:class="`${pre}__logo ${pre}__logo__top`")
                  img(:src="card.butttopimg")

                h2(:class="`${pre}__logo__top-h2`")
                  | {{ card.numbutttop }}

                div(
                  :class="`${pre}__auto-pay__next`"
                  @click.stop
                  v-if="visAutoPay === numCard - 1 && numCard !== 1"
                )
                  er-toggle(
                    type="checkbox"
                    view="radio-check"
                    v-model="hasAutoPay"
                    :class="`${pre}__auto-pay__ertoogle`"
                  )
                  div(:class="`${pre}__auto-pay__title`")
                    | Автоплатеж

            er-card(
              :class="`${pre}__card`"
            )
              div(:class="`${pre}__card-height`")
                div(:class="`${pre}__logo__card`")
                  img(:src="card.cardimg")
                  div(:class="`${pre}__card-title__label`")
                    | Номер карты:
                  div.d--flex
                    h2(:class="`${pre}__card-title__next`")
                      | {{ card.num1 }} &nbsp; {{ card.num2 }}
                    img(
                    src="@/assets/images/paycard/card-circle-1200.png"
                    :class="`${pre}__card-title__circle`"
                    )
                    h2(:class="`${pre}__card-title__next`")
                      | {{ card.num3 }}
                  img(
                  :class="`${pre}__card__img-bg`"
                  :src="card.cardbgimg"
                  )
                div(:class="`${pre}__card-title__autopay`" v-if="visAutoPay === numCard")
                  er-icon(name="ok" :class="`${pre}__card-title__autopay__icon`")
                  span(:class="`${pre}__card-title__autopay__span`")
                    | Автоплатеж
                div(:class="`${pre}__card-title__delete`")
                  .er-attach(:class="`${pre}__card-title__delete__icon`")
                    er-icon(name="trashbox")
                    a.link--dashed--black(
                      @click="delConfirm"
                      :class="`${pre}__card-title__delete__text`"
                    ) Удалить

            div(
              :class="`${pre}__card-butt ${pre}__card-butt__bottom`"
              v-if="isButtBott[idx + 1] && index < cards.length "
              :style="'opacity: ' + valOpacity"
            )
              div(
                :class="`${pre}__card-butt__left`"
                @click="move('Up')"
              )
                div(:class="`${pre}__logo`")
                  img(:src="card.buttbottimg")
                h2(:class="`${pre}__logo__bottom__next`")
                  | {{ card.numbuttbott }}
                div(
                  :class="`${pre}__auto-pay__next`"
                  @click.stop
                  v-if="visAutoPay === numCard + 1"
                )
                  er-toggle(
                    type="checkbox"
                    view="radio-check"
                    v-model="hasAutoPay"
                    :class="`${pre}__auto-pay__ertoogle`"
                  )
                  div(:class="`${pre}__auto-pay__title`")
                    | Автоплатеж

          er-flex(:class="`${pre}__height`")
            div(
              :class="`${pre}__card__bg`"
              :style="'transform: translate(' + leftMove[idx + 1] + 'px, ' +  topBg[idx + 1] + 'px)'"
            )
              div(:class="`${pre}__card__bg__content__next`")
                div(:class="`${pre}__card-height`" v-if="empty")
                  div(:class="`${pre}__card__bg__strip__next`")
                  div(:class="`${pre}__cvc`")
                    div.mr-4(:class="`${pre}__cvc__label`")
                      | Введите
                    div(:class="`${pre}__cvc__label`")
                      | CVC/CVV
                    div(:class="`${pre}__cvc__value`")
                      er-text-field(
                        v-model="cvc[idx]"
                        mask="9   9   9"
                        @blur="changeCVC",
                      )
                div(:class="`${pre}__card-height ${pre}__card__bg__empty`" v-else)
                  div(:class="`${pre}__card__bg__strip__next ${pre}__card__bg__strip__next__empty`")
                  div(:class="`${pre}__cvc ${pre}__cvc__empty`")
                    div.mr-4(:class="`${pre}__cvc__label ${pre}__cvc__label__empty`")
                      | Не введен
                    div(:class="`${pre}__cvc__label ${pre}__cvc__label__empty`")
                      | CVC/CVV
                    div(:class="`${pre}__cvc__value`")
                      er-text-field(
                        v-model="cvc[idx]"
                        mask="9   9   9"
                        @blur="changeCVC",
                      )

  div(
    :class="`${pre}__card__deleted`"
    v-if="delCard"
  )
    div(:class="`${pre}__card__deleted__size`")
      er-card
        div(:class="`${pre}__card__deleted__content`")
          div(:class="`${pre}__card-height`")
            div(:class="`${pre}__card__deleted__icon`")
              er-icon(
                name="trashbox"
                :class="`${pre}__card__deleted__icon__size`"
              )
            div(:class="`${pre}__card__deleted__text`")
              | Карта удалена

    div(:class="`${pre}__card__deleted__bg__size`")
      div(:class="`${pre}__card__deleted__bg`")
        div(:class="`${pre}__card__deleted__bg__content`")
          div(:class="`${pre}__card__deleted__bg__strip`")

