div(:class="`${pre} main-content main-content--top-menu-fix`")
  er-page-header(
    title="Защита от DDoS атак"
    @onBack="dataLayerPush({ category: 'internet', label: 'ddosgotomain' })"
  )
  template(v-if="isLoading")
    er-card-products(loading)
    er-card-products(loading)
    er-card-products(loading)
  template(v-else)
    template(v-if="data.length")
      div(:class="`${pre}__points`")
        er-card-products(
          v-for="(item, index) in data"
          :key="index"
          :price="item.price"
          :date="item.date"
          detailCloseAnalyticCategory="internet"
          detailCloseAnalyticLabel="ddosopenaddress"
          detailOpenAnalyticCategory="internet"
          detailOpenAnalyticLabel="ddoscloseaddress"
        )
          | {{ item.fulladdress}}

          template(#slider-content)
            div(:class="`${pre}__slider`")
              //- заглушка пока оставим
              //- div(:class="`${pre}__slider__date-wrapper`")
              //-   er-icon(name="time")
              //-   div(class="date")
              //-     div(:class="`${pre}__caption2`") Период защиты:
              //-     div {{ item.date }}
              //- div(:class="`${pre}__slider__ips-wrapper`")
              //-   er-icon(name="ip")
              //-   div
              //-     div(:class="`${pre}__caption2`") IP адреса:
              //-     div 10.95.217.183

            div(:class="`${pre}__slider-buttons`")
              template(v-if="item.tomsId === TOMS_IDS.SERVICE_DDOS_PROTECT_SP")
                er-button(
                  href="https://antiddos.domru.ru/users/login"
                  tag="a"
                  target="_blank"
                  data-ga-category="internet"
                  data-ga-label="ddossactivating"
                )
                  div(class="content-text")
                    | Настроить
              template(v-else-if="!item.link")
                er-button(
                  disabled
                  data-ga-category="internet"
                  data-ga-label="ddossactivating"
                )
                  div(class="content-text")
                    | Защита в процессе активации
              template(v-else)
                er-button(
                  :href="item.link"
                  tag="a"
                  target="_blank"
                  data-ga-category="internet"
                  data-ga-label="ddossactivating"
                )
                  div(class="content-text")
                    | Настроить защиту
              template(v-if="item.tomsId !== TOMS_IDS.SERVICE_DDOS_PROTECT_SP")
                er-button(
                  flat
                  @click="deleteDdos(item.deleteData)"
                  :loading="isDisconnection && item.deleteData.productId === deleteData.productId"
                  data-ga-category="internet"
                  data-ga-label="ddossstopprotection"
                )
                  div(class="content-text") Отключить защиту

        div(:class="`${pre}__total`")
          div(:class="`${pre}__h4`") Итого:
          div(class="price")
            div(:class="`${pre}__h4`") {{ amountPrice }}
            span(class="units") &nbsp₽/месяц
    .button(v-if="!isShowConnection && freePoints.length")
      er-button(
        color="blue"
        @click="isShowConnection = true"
        data-ga-category="internet"
        data-ga-label="ddosstart"
      ) Подключить Защиту от DDoS атак

  PlugDdos(v-if="isShowConnection" :points="freePoints" @cancel="cancelConnection")
  ErDisconnectProduct(
    v-model="isDisconnection"
    :deleteOrderData="deleteData"
    isSendOrder
    )

