div(:class="`${pre} main-content main-content--top-menu-fix`")
  er-page-header(title="Защита от DDoS атак")
  template(v-if="isLoading")
    er-card-products(loading)
    er-card-products(loading)
    er-card-products(loading)
  template(v-else)
    template(v-if="data.length")
      div(:class="`${pre}__points`")
        er-card-products(
          v-for="(item, index) in data"
          :key="index"
          :price="item.price"
          :date="item.date"
          )
          | {{ item.fulladdress}}

          template(#slider-content)
            div(:class="`${pre}__slider`")
              //- заглушка пока оставим 
              //- div(:class="`${pre}__slider__date-wrapper`")
              //-   er-icon(name="time")
              //-   div(class="date")
              //-     div(:class="`${pre}__caption2`") Период защиты:
              //-     div {{ item.date }}
              //- div(:class="`${pre}__slider__ips-wrapper`")
              //-   er-icon(name="ip")
              //-   div
              //-     div(:class="`${pre}__caption2`") IP адреса:
              //-     div 10.95.217.183

            div(:class="`${pre}__slider-buttons`")
              template(v-if="!item.link")
                er-button(color="yellow" disabled)
                  div(class="content-text")
                    | Защита в процессе активации
              template(v-else)
                er-button(color="yellow" :href="item.link" tag="a" target="_blank")
                  div(class="content-text")
                    | Настроить защиту

              er-button(flat  @click="deleteDdos(item.deleteData)" :loading="isDisconnection && item.deleteData.productId === deleteData.productId")
                div(class="content-text") Отключить защиту

        div(:class="`${pre}__total`")
          div(:class="`${pre}__h4`") Итого:
          div(class="price")
            div(:class="`${pre}__h4`") {{ amountPrice }}
            span(class="units") &nbsp₽/месяц
    .button(v-if="!isShowConnection && freePoints.length")
      er-button(color="blue" @click="isShowConnection=true") Подключить Защиту от DDoS атак

  PlugDdos(v-if="isShowConnection" :points="freePoints" @cancel="cancelConnection")
  ErDisconnectProduct(
    v-model="isDisconnection"
    :deleteOrderData="deleteData"
    isSendOrder
    )

