div(:class="`${pre}`")
  div(:class="`${pre}__title`" v-if="!onlyFeature")
    h2 {{ title }}

  img(:class=("`${pre}__banner`") :src="getImg(banner)" alt="" v-if="!onlyFeature")
  div(:class="`${pre}__feature`")
    div(:class="`${pre}__feature-item`" v-for="item in featureList" :key="item.id")
      div(:class="`${pre}__feature-icon`")
        er-icon(
          class="icon"
          :name="item.icon"
        )
      h3(:class="`${pre}__feature-name`") {{ item.name }}

      template(v-if="item.isComponent")
        div(
          :class="`${pre}__feature-description`"
          v-class-mod="['html']"
        )
          component(:is="item.component")
      template(v-else-if="item.isHTML")
        div(
          :class="`${pre}__feature-description`"
          v-class-mod="['html']"
          v-html="item.description"
        )
      template(v-else)
        div(:class="`${pre}__feature-description`") {{ item.description }}

  div(:class="`${pre}__buttons`" v-if="!onlyFeature")
    er-button(
      :class="`${pre}__buttons-item`"
      color="blue"
      :tag="linkToConnect ? 'a' : 'button'"
      :href="linkToConnect ? linkToConnect : null"
      @click="() => { !linkToConnect && $emit('click') }"
      :target="linkToConnect ? '_blank' : null"
      :loading="isLoadingConnectButton"
      :data-ga-tag-id="buttonId"
      :data-ga-category="analyticConnectCategory"
      :data-ga-label="analyticConnectLabel"
    ) {{ plugText }}
    slot(name="extraButtons")
